head
    title gratigen
    meta(name='viewport', content='user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")

    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="apple-mobile-web-app-title" content="gratigen")
    meta(name="application-name" content="gratigen")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#000000")
    
    
    
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css')
    // link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Inconsolata&300,400&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Marmelad&300,400&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Bangers&200,300,400&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Kavoon&300,400&display=swap" rel="stylesheet")
    // link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet")
    // link(rel='stylesheet', href='/layerslider/css/layerslider.css', type='text/css')
    // link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    //      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    //      crossorigin="")

    // script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    //      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
    //      crossorigin="")
    // <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    // <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>


    // link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    // script(src="https://unpkg.com/topojson@3")
    // script(src='https://d3js.org/d3.v4.min.js')

    
    // link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@latest/dist/gridstack.min.css")
    // script(src="https://cdn.jsdelivr.net/npm/gridstack@latest/dist/gridstack.all.js")
    
    // script(src='./qrcode.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js')
    
    // script(src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js')
    // link(href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet')
    
    // this one
    // script(src='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js')
    // link(href='https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css' rel='stylesheet')
    
    // script(src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js')
    // link(href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet')

    
    
    //- // External libraries: GreenSock
    // - /* script(src='/layerslider/js/jquery.js', type='text/javascript') */
    
    
    // script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js")
    script(src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/en.js")
    script(src="https://widget-js.cometchat.io/v3/cometchatwidget.js")

    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140259454-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-GLYPPRGJFQ');

    // script.
    //     $(window).on("load",function(){
    //         $(".loader-wrapper").fadeOut("slow");
    //     });
    // script(type="module")
    //     import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
    //     const div = d3.selectAll("div");
    // script(src='gridstack/dist/gridstack-h5.js')
    // link(href='gridstack/dist/gridstack.min.css' rel='stylesheet')
    // style(type='text/css').
    //   .grid-stack { background: #FAFAD2; height:400px; }
    //   .grid-stack-item-content { background-color: #18BC9C; }
      

body
    // <data-tooltip="collision"><em data-emoji=":boom:" class="medium"></em><br>boom</div>
    // .invert
    // +modelbar
    // +leftbar
    // +rightbar
    // // +sessionbar
    // +global_modal
    // +global_flyout
    // +chat_flyout
    // if currentUser.modelbar
    .pusher
        // +home
        +app
        // +comet
    // +gridstack

template(name='comet')
    #comet.ui.circular.basic.icon.button.doit(title='init chat')
        i.large.chat.icon

template(name='gridstack')
    .ui.button.make
        |make
    .ui.button.test 
        |test
    #float.ui.button.toggle_float toggle float
    #float.ui.button.clear_all clear all
    #float.ui.button.add add
    #float.ui.button.enable enable
    #float.ui.button.disable disable
    .grid-stack
    //     section#advancedDemo.bg-primary
    //   .row
    //     .col-lg-12.text-white
    //       ion-icon.float-right.md.hydrated(name='grid' style='font-size: 350%; margin-top: 10px' role='img' aria-label='grid')
    //       h1 Advanced Demo
    //       hr
    //   .row
    //     .col-md-2.d-none.d-md-block(style='border-right: 1px dashed white;')
    //       #trash.text-center.text-white.ui-droppable(style='padding: 15px; margin-bottom: 15px;')
    //         div
    //           ion-icon.md.hydrated(name='trash' style='font-size: 400%' role='img' aria-label='trash')
    //         div
    //           span Drop here to remove widget!
    //       .text-center.card.text-white.grid-stack-item.newWidget.ui-draggable(gs-x='2' gs-y='8' gs-w='2' gs-h='2')
    //         .card-body.grid-stack-item-content
    //           div
    //             ion-icon.md.hydrated(name='add-circle' style='font-size: 400%' role='img' aria-label='add circle')
    //           div
    //             span Drag me into the dashboard!
    //     .col-sm-12.col-md-10(style='padding-bottom: 25px;')
    //       .grid-container
    //         style(type='text/css' gs-style-id='grid-stack-instance-13').
    //         #advanced-grid.grid-stack.grid-stack-instance-13.ui-droppable.ui-droppable-over.grid-stack-12.grid-stack-animate(gs-current-row='10' style='min-height: 713.333px;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='1' gs-y='4' gs-w='4' gs-h='1' style='')
    //             .grid-stack-item-content 1
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable-disabled.ui-resizable-disabled(gs-x='4' gs-y='0' gs-w='4' gs-h='4' gs-no-resize='true' gs-no-move='true' gs-locked='true')
    //             .grid-stack-item-content
    //               | I can&apos;t be moved or dragged!
    //               br
    //               ion-icon.md.hydrated(name='ios-lock' style='font-size:300%' role='img' aria-label='lock')
    //           .grid-stack-item.ui-draggable.ui-resizable-disabled(gs-x='8' gs-y='0' gs-w='2' gs-h='2' gs-min-w='2' gs-no-resize='true')
    //             .grid-stack-item-content
    //               p.card-text.text-center(style='margin-bottom: 0') Drag me!
    //               p.card-text.text-center(style='margin-bottom: 0')
    //                 ion-icon.md.hydrated(name='hand' style='font-size: 300%' role='img' aria-label='hand')
    //               p.card-text.text-center(style='margin-bottom: 0') ...but don&apos;t resize me!
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='10' gs-y='0' gs-w='2' gs-h='2')
    //             .grid-stack-item-content 4
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='2' gs-y='5' gs-w='2' gs-h='2' style='')
    //             .grid-stack-item-content 5
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='2' gs-y='0' gs-w='1' gs-h='1' style='')
    //             .grid-stack-item-content 6
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='8' gs-y='2' gs-w='4' gs-h='2' style='')
    //             .grid-stack-item-content 7
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='0' gs-y='5' gs-w='2' gs-h='2')
    //             .grid-stack-item-content 8
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='4' gs-y='5' gs-w='4' gs-h='2')
    //             .grid-stack-item-content 9
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='8' gs-y='4' gs-w='2' gs-h='2')
    //             .grid-stack-item-content 10
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .grid-stack-item.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='10' gs-y='4' gs-w='2' gs-h='2')
    //             .grid-stack-item-content 11
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .text-center.card.text-white.grid-stack-item.newWidget.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='3' gs-y='0' gs-w='1' gs-h='1' style='')
    //             .card-body.grid-stack-item-content
    //               div
    //                 ion-icon.md.hydrated(name='add-circle' style='font-size: 400%' role='img' aria-label='add circle')
    //               div
    //                 span Drag me into the dashboard!
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .text-center.card.text-white.grid-stack-item.newWidget.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='2' gs-y='7' gs-w='2' gs-h='2' style='')
    //             .card-body.grid-stack-item-content
    //               div
    //                 ion-icon.md.hydrated(name='add-circle' style='font-size: 400%' role='img' aria-label='add circle')
    //               div
    //                 span Drag me into the dashboard!
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')
    //           .text-center.card.text-white.grid-stack-item.newWidget.ui-draggable.ui-resizable.ui-resizable-autohide(gs-x='0' gs-y='7' gs-w='2' gs-h='3' style='')
    //             .card-body.grid-stack-item-content
    //               div
    //                 ion-icon.md.hydrated(name='add-circle' style='font-size: 400%' role='img' aria-label='add circle')
    //               div
    //                 span Drag me into the dashboard!
    //             .ui-resizable-handle.ui-resizable-se(style='z-index: 100; user-select: none;')

    
    

template(name='app')
    // .friend_cursor
    //     i.user.big.icon
    if Template.subscriptionsReady
        +nav
        if currentUser
            // #draggable
            // if currentUser.show_leftbar
            // if currentUser.show_rightbar
            // if currentUser.delta_id
                // .ui.small.compact.attached.menu.hscroll
                // .icon.item(title="#{doc_history.length} node history")
                // .ui.hidden.divider
                // .ui.bottom.attached.tab.segment.centered(data-tab=current_delta._id)
                // +history_bar
        .layout.scrolling
            if currentUser
                // if ct.length
                +Template.dynamic template=ct
                // +home
            else 
                .ui.center.aligned.basic.segment
                    i.massive.snowflake.grey.pulse.icon
                // .ui.center.aligned.basic.segment
                //     // .batman
                    // img.ui.centered.image.zoomer(src="/logo.png")

                +login
                // .ui.center.aligned.basic.segment 
        if currentUser.admin_mode
            +footer
    // else 
    //     // .batman
    //     i.tree.loading.blue.icon
    
template(name='history_bar')
    .ui.small.horizontal.attached.menu.hscroll
        .item
            i.large.clock.icon(title='node history')
            |#{current_delta._doc_history.count}
        // .ui.breadcrumb.hscroll
        each current_delta._doc_history.reverse
            +doc_history_button
    
    
    
template(name='doc_history_button')
    with doc_from_id
        a.item.goto_doc.zoomer
            with parent_model
                +i name=icon color=stripped_icon_color cl='ui avatar image'
            if image_id
                img.ui.mini.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            |{{truncated title}}
            // i.remove.link.icon.delete_history_item.zoomer(title='remove history record')
            i.right.chevron.icon.divider
        .ui.popup 
            .ui.header
                |#{title}
                .ui.label #{model}
            if image_id
                img.ui.small.image(src="{{c.url image_id width=400 height=400 gravity='face' crop='fill'}}")
            +author_info
// template(name='global_flyout')
//     with flyout_doc
//         .ui.flyout
//             i.close.icon
//             .ui.header #{title}
//             if image_id
//                 .image.content
//                     img.ui.image(src="{{c.url image_id }}")
//             .actions
//                 .ui.button hi

// template(name='chat_flyout')
//     with current_delta
//         .ui.chat.flyout
//             i.close.large.link.icon.zoomer(title='close panel')
//             .ui.header 
//                 i.chat.outline.icon(class=color)
//                 |#{name} session chat
//             .ui.segment.content.scrolling(class=color)
//                 |#{name}
//                 small chat
//             .ui.segment.content.invert.scrolling(class=color)
//                 +comments
//                 +image_edit key='image_id' direct=true
//                 +text_edit key='name' direct=true
//                 +text_edit key='color' direct=true
//                 each delta_users 
//                     +user_card
//                 if image_id
//                     .image.content
//                         img.ui.image(src="{{c.url image_id }}")
//             .actions
//                 .ui.blue.button.invert 
//                     i.pencil.icon
//                     |edit session 
//                 .ui.red.button.invert
//                     i.trash.icon
//                     |delete session 



// template(name='shortcut_modal')
//     .ui.shortcut.modal
//         .ui.header keyboard shortcuts
//         .content
//             .ui.large.list
//                 each shortcuts
//                     .item 
//                         .header #{combo}
//                         .content #{action}


// template(name='chart')
//     .ui.header chart
//     svg#chart.chart

// template(name='global_modal')
//     with modal_doc
//         .ui.modal.global
//             .ui.header #{title}
//             .content
//                 .ui.header #{body}
//                 .ui.basic.label #{model}

                            
                        
template(name='add')
    .ui.center.aligned.segment    
        .ui.inline.big.header(title='add doc') 
            i.plus.icon
            // |add doc
        each model_docs_helper 'model'
            +add_model_doc_button 
            
template(name='add_model_doc_button')
    .ui.tertiary.secondary.big.button.add_model_doc.zoomer
        +i name=icon color=stripped_icon_color
        |#{title}
        
        
        
                
                
          
          
template(name='sessionbar')
    // .ui.top.attached.tabular.menu  
    //     a.center.item.toggle_addmode.zoomer(data-tab='add' title='add thing')
    //         +i name='play-button-circled--v1' color='40C057'
        // .active.item(data-tab='viewing')
        //     |viewing
    .ui.attached.segment.grid
        .four.wide.column
            .ui.inline.header 
            
                i.window.restore.icon
                |sessions
                // |&nbsp;
        i.plus.circular.link.icon.add_session(title='make session')
        each model_docs_helper 'delta' 
            // a.item.pick_delta.pointer.zoomer(data-tab="#{_id}" class=delta_item_class title="switch to #{name} session")
            a.pick_delta.pointer.zoomer.four.wide.column(data-tab="#{_id}" class="{{delta_item_class}} {{color}}")
                if editing_delta
                    +text_edit key='name' direct=true
                else 
                    |#{name}
                |&nbsp;
                each delta_users 
                    img.ui.avatar.image.supazuma(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}" title=username)

    // //   border: 0px solid #d4d4d5;



// template(name='secnav')
    // // .input.item 
    // //     .ui.input 
    // //         input(type='text')
    // .ui.attached.small.menu.hscroll(class=invert_class)
    //     // .item
    //     // .ui.icon.small.transparent.input
    //     //     input.filter_models(type='text' placeholder='filter')
    //     //     i.search.link.icon
    //     // .ui.dropdown.icon.item
    //     //     i.wrench.icon
    //     //     .menu 
    //     //         .item
    //     //             i.dropdown.icon
    //     //             span.text new 
    //     //             .menu 
    //     //                 .item post
    //     //                 .item model
    //     each model_docs_helper 'model'
    //       a.item.zoomer.goto_model(title=ranking)
    //             // i.large.inbox.icon
    //             +i name=icon color=stripped_icon_color cl='ui avatar image zoomer'
    //             span.mobile.hidden 
    //                 small #{total_count}
    //                 |#{title}
                 
template(name='nav_item')
    a.item.zoomer.nav_item(class="{{ is_active_template template }}" title=label)
        i.large.icon(class=icon)
        // +i name=icon color='ffffff' cl='ui avatar image zoomer'
        // |&nbsp;
        |&nbsp;
        // unless hide_label
        //     span.zoomer.mobile.hidden #{label}

                 
template(name='top_nav_item')
    a.item.zoomer.mobile.hidden(href="/{{route}}" class="{{is_active_template route }}")
        // i.large.icon(class=icon)
        +i name=icon color=color cl='ui mini inline image'
        // |&nbsp;
        |&nbsp;
        span #{label}

                 
                    
template(name='coinbar')
    .ui.fluid.large.attached.segment.topbar
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.coins.large.icon
            |accounts
template(name='taskbar')
    .ui.top.sidebar.taskbar
        .ui.header tasks
        
        
template(name='topbar')
    .ui.fluid.large.attached.segment.topbar
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
                    
                    
                    
template(name='rightbar')
    .ui.vertical.menu.right.sidebar.rightbar
        with currentUser
            a.item.toggle_rightbar.no_blink(href="/user/#{currentUser.username}" class="{{is_active_template 'user_layout'}}")
                img.ui.avatar.compact.image(src="{{c.url currentUser.image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{currentUser.name}
            a.item.toggle_rightbar(href="/user/#{username}" class="{{is_active_template regex='user_dashboard'}}")
                +i name='dashboard'
                // i.dashboard.icon
                |dashboard
            a.item.zoomer.toggle_darkmode
                if darkmode
                    +i name='checkmark'
                else
                    +i name='light'
                |dark mode
            each profile_nav_items
                +nav_item
            +nav_item template='my_organizations' icon='groups' color='83DFF4' label='organizations'
            +nav_item template='my_projects' icon='project' color='7229AF' label='projects'
            +nav_item template='my_events' icon='calendar' color='FAB005' label='events'
            +nav_item template='my_roles' icon='what-i-do' color='42E8C4' label='roles'
            +nav_item template='my_tasks' icon='task' color='B785E1' label='tasks'
            +nav_item template='my_resources' icon='car' color='FD7E14' label='resources'
            +nav_item template='my_skills' icon='wrench' color='ff0000' label='skills'
            +nav_item template='my_badges' label='badges' icon='badge' color='1255B8'
                
            +right_nav_item template='credit' label='credit' icon='money'
            +right_nav_item template='orders' label='orders' icon='check'
            +right_nav_item template='subscriptions' label='subscriptions' icon='check'
            +right_nav_item template='friends' label='friends' icon='friends'
            // a.item.toggle_rightbar(href="/user/#{username}/pantry" class="{{is_active_template 'user_pantry'}}")
            //     +i name='cupboard' cl='ui avatar image'
            //     |pantry
            +right_nav_item template='cart' label='cart' icon='shopping-cart'
            // a.item.toggle_rightbar(href="/work" class="{{is_active_template 'work'}}")
            //     +i name='trust' cl='ui avatar image'
            //     |work
            // a.item.toggle_rightbar(href="/user/#{username}/trips" class="{{is_active_template 'user_trips'}}")
            //     +i name='bicycle' cl='ui avatar image'
            //     |trips
            a.item.toggle_rightbar(href="/user/#{currentUser._id}/edit" class="{{is_active_template 'user_trips'}}")
                +i name='settings' 
                |account
            // .ui.divider
            a.item.logout
                if is_logging_out
                    i.refresh.loading.large.icon
                else
                    +i name='exit-sign' cl='ui avatar image'
                    // i.sign.out.icon
                |logout
        else 
            a.item.toggle_rightbar(href="/login" class="{{is_active_template 'login'}}")
                +i name='internal' cl='ui avatar image'
                |login
            a.item.toggle_rightbar(href="/register" class="{{is_active_template 'register'}}")
                +i name='plus' cl='ui avatar image'
                |register



template(name='right_nav_item')
    a.item.toggle_rightbar(href="/user/#{currentUser.username}/#{route}" class="{{is_active_template regex='user_dashboard'}}")
        // +i name=icon cl='ui avatar image'
        i.large.icon(class=icon)
        |#{label}


template(name='leftbar')
    .ui.sidebar.segment.push.leftbar
        with cd
            +comments
        // +session_toggle key='expand_leftbar' icon='heart outline'
            // +session_toggle key='add_mode' icon='plus'
            //.ui.icon.button.show_model
                i.large.plus.icon
            // .ui.fluid.small.button.toggle_leftbar
            //     i.chevron.left.icon
            .ui.hidden.divider
        +dash_user_info
        // a.ui.button.tertiary.delta(href="/m/model")
        //     |manage models
        div
        img.ui.small.circular.centered.image(src="/12-color-code.png")
        div
        .ui.two.wide.column
            each model_docs_helper 'eft'
                +eft_home_picker
                
        // if session_is 'expand_leftbar' true
        //     .ui.vertical.fluid.menu.mobile.hidden
        //         each model_docs_helper 'eft'
        //             +side_menu_item
        // else 
        //     .ui.vertical.fluid.icon.menu.mobile.hidden
        //         each model_docs_helper 'eft'
        //             +side_menu_item color=icon_color icon=icon label=title
        //             //.ui.button
        // .ui.button create request
    // .bordered.scrolling(class=main_column_class)
        
template(name='modelbar')
    // .ui.attached.menu.modelbar.hscroll
    .ui.attached.center.aligned.segment.modelbar
        .ui.inline.header 
            // i.cubes.icon
            +i name='network'
            |models
        each model_docs_helper 'model'
            a.ui.big.tertiary.button.zoomer.goto_model
                +i name=icon color=stripped_icon_color cl='ui avatar image'
                span #{title}
        
            
                
// template(name='nav_thing_picker')
    // .search.item.zoomer.mobile.hidden(title='search')
    //     .ui.icon.transparent.input
    //         if current_product_search
    //             i.remove.large.red.link.icon.clear_search
    //         else
    //             i.search.large.icon
    //         input.search_site(type='text' autocomplete="off" value=current_product_search)
    // .column.centered
    // .ui.top.attached.tabular.menu  
    // a.center.item.toggle_addmode.zoomer(data-tab='add' title='add thing')
    // a.item.toggle_addmode.zoomer(data-tab='add' title='add thing')
    //     +i name='play-button-circled--v1' color='40C057'
    //     // .active.item(data-tab='viewing')
    //     //     |viewing
    // .ui.bottom.attached.tab.segment.centered.ani(data-tab='add')
        //select type of thing you're creating >> open thing type editor modal
        // if session_is 'addmode' true
        //     +thing_picker model='post' icon='for-you' color='1255B8'
        //     //blue
        //     +thing_picker model='offer' icon='hand-holding-heart' color='FF73EA'
        //     //pink
        //     +thing_picker model='request' icon='commercial' color='40C057'     
        //     //green
            
        //     div
        //     +thing_picker model='org' icon='groups' color='83DFF4' 
        //     //light blue
        //     +thing_picker model='project' icon='project' color='7229AF' 
        //     //violet
        //     +thing_picker model='event' icon='calendar' color='FAB005'
        //     //yellow
        //     +thing_picker model='role' icon='what-i-do' color='42E8C4'
        //     //turquoise
        //     +thing_picker model='tasks' icon='task' color='B785E1'
        //     //lavender
        //     +thing_picker model='resource' icon='field-and-tractor' color='FD7E14'
        //     +thing_picker model='skills' icon='wrench' color='ff0000'
        //     //red
        //     +thing_picker model='badges' icon='badge' color='1255B8'
        //     //blue
        //     div
        //     +thing_picker model='datetime' icon='overtime--v1' color='FD7E14'
        //     +thing_picker model='location' icon='worldwide-location' color='40C057'
        //     +thing_picker model='accounts' icon='gold-bars' color='FAB005'
        //     //people
