template(name='session_key_value_edit')
    .ui.button.set_key_value(class=set_key_value_class)
        if key_value_is 'key' 'sort_key'
            if session_is 'sort_key' value
                if sorting_up
                    i.sort.amount.down.icon
                else
                    i.sort.amount.up.icon
        if icon 
            +i name=icon cl='ui avatar image'
            // i.icon(class=icon)
        |#{label}


template(name='sort_direction_button')

template(name='limit_menu')
    .ui.inline.small.grey.header
        |limit
    .ui.compact.menu
        .ui.simple.dropdown.item
            strong #{current_limit}
            i.dropdown.icon
            .menu
                +set_limit amount=1
                +set_limit amount=5
                +set_limit amount=10
                +set_limit amount=20


template(name='key_value_edit')
    .ui.compact.button.set_key_value(class=calculated_class)
        if icon 
            +i name=icon cl='ui avatar image'
            // i.icon(class=icon)
        if label
            |#{label}
        else 
            |#{value}
            
        
        
template(name='doc_array_togggle')
    // if currentUser
    .ui.button.toggle(class=doc_array_toggle_class title=label)
        if in_list
            if remove_icon
                i.large.icon(class=remove_icon)
            |#{remove_label}
        else
            if add_icon
                i.large.icon(class=add_icon)
            |#{add_label}
        |#{label}
    //- each list_users
        //-     +user_info
        
template(name='session_toggle') 
    .ui.icon.button.toggle_session_var(class=session_toggle_class title=key)
        i.large.icon(class=icon)
        // if on
        //     i.checkmark.icon
        //     // |#{key}
        // else    
        //     // |#{key}
        
        
template(name='bookmark_button')
    if currentUser
        .ui.icon.compact.button.toggle_bookmark(class=bookmark_button_class title=label)
            if is_bookmarked
                // |bookmarked
                i.red.bookmark.large.icon
                // - i.large.icon(class=remove_icon)
            else
                // |bookmark
                i.large.bookmark.icon
                //- i.large.icon(class=add_icon)
        //- each list_users
        //-     +user_info

template(name='comments')
    .ui.header
        i.chat.outline.icon
        |comments
    div
    // if currentUser
    .ui.fluid.icon.large.input
        i.plus.icon
        input.add_comment(model='text' placeholder='add')
    .ui.comments
        each doc_comments
            .comment
                .content
                    .ui.header #{body}
                    .meta #{when}
                        |by 
                        // a(href="/user/#{author.username}") #{author.first_name} #{author.last_name}
                        // if currentUser
                            // +voting_small
                            // if can_edit
                            //     +remove_button
                                
                                
template(name='reviews')
    .ui.header
        +i name='popular-topic' cl='ui inline image'
        |reviews
    div
    // if currentUser
    .ui.fluid.icon.large.input
        i.plus.icon
    .ui.reviews
        each doc_reviews
            .comment
                .content
                    .ui.header #{body}
                    .meta #{when}
                        |by 
                        // a(href="/user/#{author.username}") #{author.first_name} #{author.last_name}
                            // if currentUser
                        +voting_small
                        // if can_edit
                        //     +remove_button


template(name='viewing')
    div
    .ui.header #{views}
    // // if currentUser
    //     unless viewed_by
    //         .ui.icon.button.mark_read
    //             i.eye.icon
    //     else 
    //         if is_dev
    //             .ui.icon.button.mark_unread
    //                 i.cancel.icon
    // .ui.inline.header viewed by
    // each read_ids
    //     +user_info

template(name='user_info')
    with user_from_id this
        a.ui.large.link.label(href="/user/#{username}")
            img.ui.avatar.inline.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
            |#{username}
    // .ui.header #{this}


template(name='session_boolean_toggle')
    .ui.compact.button.toggle_session_key(class=calculated_class)
        +i name=icon cl='ui avatar image'
        |#{label}
        //- if icon_view 
        //- else 
            if label
                |#{label}
            else 
                |#{value}

template(name='session_set')
    .ui.compact.button.set_session_value(class=calculated_class)
        if icon
            +i name=icon cl='ui mini centered image'
        // if icon_view 
        //     i.icon(class=icon)
        // else 
        if label
            |#{label}
        else 
            |#{value}
                
                
                
template(name='set_sort_key')
    .ui.circular.button.set_sort(class=sort_button_class)
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}


// template(name='set_sort_key')
//     .item.set_sort
//         if color
//             .ui.label(class=color) #{label}
//         else 
//             if emoji
//                 em(data-emoji=emoji)
//             else if icon
//                 i.icon(class=icon)
//             |#{label}

template(name='goto_model')
    if is_staff
        a.goto_model(href="/m/#{slug}" title="goto #{slug}")
            i.external.blue.icon
            //- +i name='external-link'

template(name='events_column')
    .ui.accordion
        h4.active.title
            // +i name='edit-property' cl='ui inline image'
            //- i.rss.icon
            | log
            i.dropdown.icon
        .active.content
            .ui.feed
                each log_events
                    .event
                        .label
                            img.ui.rounded.image(src="{{c.url object.image width=400 height=400 gravity='face' crop='fill'}}")
                        .content
                            .summary
                                |#{body}
                                .date
                                    |#{when}
                                if is_dev
                                    +remove_button




template(name='follow')
    .ui.segment
        .ui.header
            i.user.plus.icon
            |follow
        +user_list_toggle key='follower_ids' icon='rss' add_label='Follow' remove_label='Unfollow' color='black'


template(name='toggle_edit')
    .ui.button.toggle_edit
        i.pencil.icon

template(name='user_list_info')
    a.ui.button.item(href="/user/#{user._id}/view")
        img.ui.avatar.image(src=user.profile.profilePic title=name)
        |#{user.profile.name}
        +user_status user

//- template(name='call_watson')
//-     .ui.button.autotag
//-         //- i.chess.icon
//-         +ismall name='dna-helix'
//-         |call watson

template(name='view_full_button')
    a.ui.icon.button(href="/view/#{_id}" class=cl data-tooltip='View Full')
        i.double.icon
        |view

template(name='user_status')
    if online 
        // .ui.label(class='{{labelClass}}') 
        .ui.empty.label(title='online')
        // img.ui.avatar.image(src="https://img.icons8.com/connection-user_status-on/color/48" title='Online' width="48" height="48")
        // |Online
    else if idle
        .ui.empty.yellow.label(title='idle')
        // .ui.label(class='{{labelClass}}') Idle
    // else 
    //     |Offline

// template(name='user_card')
//     with user
//         .ui.card
//             //- if is_staff
//             a.image(href="/user/#{username}")
//                 img.ui.tiny.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
//             .content    
//                 .header 
//                     a.header(href="/user/#{username}") #{name} 
//                     .meta @#{username}
//                     if is_admin
//                         div
//                         +user_email
//                 //- +emails_edit    
//         //- +user_status user


template(name='user_email')
    .ui.small.inline.header #{email_address}
    if email_verified
        .ui.label 
            i.green.checkmark.icon
            |verified
    else
        .ui.orange.label 
            i.ban.icon
            |unverified
        

template(name='big_user_card')
    with user
        //- .ui.card
        //- .ui.card(class=resident_status_class)
        .ui.card
            .image
                img.ui.rounded.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
            .content
                a.header(href="/user/#{username}")
                     |#{first_name} #{last_name} 
                    //- .meta @#{username}
                    //- +array_view key='tags' label='Tags' direct=true
            if is_staff
                .content
                    +array_view key='roles' direct=true
                        
template(name='user_button')
    a.ui.compact.button(href="/user/#{user.username}/")
        if user.kiosk_photo
            img.ui.avatar.inline.image(src="{{c.url user.kiosk_photo width=300 height=300 gravity='face' crop='fill'}}")
        else if user.image_id
            img.ui.avatar.inline.image(src="{{c.url user.image_id width=300 height=100 gravity='face' crop='fill'}}")
        //- .visible.content
        |#{user.first_name} #{user.last_name}
        //- |@#{user.username}
        +user_status user
        //- .hidden.content
        //-     |view
        //-     i.right.chevron.icon


template(name='username_info')
    .ui.small.compact.button.goto_profile
        if is_member
            img.ui.avatar.image(src="{{c.url user.image_id width=100}}")
        else if user.kiosk_photo
            img.ui.avatar.image(src="{{c.url user.kiosk_photo width=100}}")
        else if user.image_id
            img.ui.avatar.image(src="{{c.url user.image_id width=100}}")
        |#{user.name}
        //- |@#{user.username}
        +user_status user


template(name='role_editor')
    each roles
        .ui.button #{this}

template(name='author_info')
    with author
        a.ui.compact.button(href="/user/#{username}")
            if kiosk_photo
                img.ui.avatar.image(src="{{c.url kiosk_photo width=100 height=100 gravity='face' crop='fill'}}")
            else if image_id
                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
            |by #{first_name} #{last_name}

template(name='creation_info')
    .ui.small.inline.header #{when}


template(name='user_list_toggle')
    if currentUser
        .ui.icon.compact.button.toggle(class=user_list_toggle_class title=label)
            if in_list
                i.large.icon(class=remove_icon)
            else
                i.large.icon(class=add_icon)
            //- +ismall name=icon
            //- |#{label}
        //- each list_users
        //-     +user_info


template(name='voting')
    .ui.icon.button.upvote(title='upvote')
        i.thumbs.up.icon(class=upvote_class)
    //- each upvoter_ids
    //-     +user_info
    .ui.icon.button.downvote(title='downvote')
        i.thumbs.down.icon(class=downvote_class)
    //- each downvoter_ids
    //-     +user_info
    if points
        strong #{points} pts
    if anon_points
        strong #{anon_points} anon pts
    

template(name='voting_small')
    if points
        strong #{points}
    i.thumbs.up.link.icon.upvote(class=upvote_class)
    //- each upvoter_ids
    //-     +user_info
    i.thumbs.down.link.icon.downvote(class=downvote_class)
    //- each downvoter_ids
    //-     +user_info



template(name='voting_full')
    // +ismall name='elections'
    // .ui.inline.header 
    //     |voting
    .ui.large.icon.compact.basic.button.upvote(title='upvote')
        i.thumbs.up.outline.icon(class=upvote_class)
        //- |like
    .ui.large.icon.compact.basic.button.downvote(title='downvote')
        i.thumbs.down.outline.icon(class=downvote_class)
        //- |dislike
    if points
        .ui.large.basic.label(title='points') #{points}pts
        if anon_points
            .ui.large.label(title='anon points') #{anon_points} anon pts
    if upvoter_ids
        .ui.small.inline.grey.header 
            i.thumbs.up.outline.icon
            |upvoters
        each upvoter_ids
            +user_info
    if downvoter_ids
        .ui.small.inline.grey.header 
            i.thumbs.down.outline.icon
            |downvoters
        each downvoter_ids
            +user_info



template(name='view_button')
    a.ui.icon.compact.button.view(title='view' href="/m/#{model}/#{_id}/view")
        //- i.right.chevron.large.icon
        +i name='chevron right' cl='ui mini inline image'


template(name='remove_button')
    .ui.icon.basic.button.remove_doc(title='delete')
        i.remove.red.icon
        //- |Delete

template(name='remove_icon')
    i.remove.icon.remove_doc(title='delete')
    //- |Delete

template(name='add_button')
    a.ui.large.button.add(title="add #{model}")
        //- |#{model.icon}
        if model.icon
            //- i.icon(class=icon)
            +ismall name=model.icon cl='ui inline image'
        else 
            i.plus.icon
        if label
            |#{label}
        //- |#{model}



template(name='edit_button')
    a.ui.button.icon.edit(title='Edit' href="/m/#{model}/#{_id}/edit")
        i.blue.pencil.icon
        |edit


template(name='save_button')
    a.ui.button.large.icon.save(title='Save' href="/m/#{model}/#{_id}/view")
        i.checkmark.icon
        |save

template(name='toggle_button')
    .ui.icon.toggle.button(title=label)
        i.icon(class=icon)
    each picked
        |#{username}


template(name='view_user_button')
    .view_user.view(title="view #{username}")
        i.play.icon
        |View

template(name='add_model_button')
    .ui.icon.button.add(title="add #{model}")
        i.plus.icon
        |#{model}


            
template(name='email_validation_check')
    //- if email_verified
    //-     .ui.large.button
    //-         i.checkmark.icon
    //-         |email validated
    unless email_verified
        .ui.fluid.button.send_verification
            //- i.user.shield.icon
            //- +i name='user-shield' cl='ui inline image'
            |resend verification email
        if times
            .ui.label
                |#{times}
            //- else
                //- |#{times}x sent
        if is_staff
            .ui.button.toggle_email_verified
                |mark email verified
        

template(name='print_this')
    .ui.icon.basic.button.print
        i.orange.code.icon

