template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    #topnav.topnav.ui.attached.borderless.inverted.menu.hscroll
        // if is_loading
        //     .icon.item
        //         i.big.loading.grey.refresh.icon.cancel
        // else 
        // a.icon.item.toggle_leftbar
        //     i.large.bars.icon
        a.header.item.zoomer(href='/' class="{{isActivePath '/'}}" )
            +i name='network'
            // i.large.home.icon
            span.mobile.hidden gratigen
        a.icon.item.zoomer(href="/users" class="{{isActiveRoute 'users'}}")
            // i.large.inbox.icon
            +i name='groups'
            span.mobile.hidden users

        .search.item.zoomer.mobile.hidden(title='search')
            .ui.icon.transparent.input
                if current_product_search
                    i.remove.large.red.link.icon.clear_search
                else
                    i.search.large.icon
                input.search_site(type='text' autocomplete="off" value=current_product_search)
        .right.menu
            if unread_count
                a.item.alerts.select_term(href="#" class=alert_toggle_class)
                    i.large.bell.icon
                    if unread_count
                        |#{unread_count}
            else
                a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                    i.large.outline.bell.icon
            a.item.zoomer(href="/chat" class="{{isActiveRoute 'chat'}}")
                // i.large.inbox.icon
                +i name='chat'

            if currentUser
                // a.item(href='/user/#{currentUser.username}/credit' class="{{isActiveRoute 'user_credit'}}" title='current wallet balance')
                // a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.name}
                    strong
                        |&nbsp;
                        |(#{currentUser.points}p)
                // a.icon.item.toggle_rightbar.no_blink
                //     // .ui.avatar.image
                //     //     if currentUser.image_id
                //     //         img.ui.mini.inline.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                //     //     else
                //     //         i.user.large.icon
                //     // strong.mobile.hidden #{currentUser.name}
                //     i.bars.large.grey.icon
            unless subs_ready
                .icon.item
                    i.yin.yang.large.loading.icon
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobile.hidden register            
                a.item(href='/login' title='login') 
                    // i.sign.in.large.icon
                    +i name='internal'
                    span.mobile.hidden login
            if session_is 'viewing_alerts'
                +topbar
    .ui.attached.inverted.small.borderless.menu.hscroll
        a.item.zoomer(href="/resources" class="{{isActiveRoute 'resources'}}")
            // i.large.inbox.icon
            +i name='clock'
            span.mobile.hidden resources
        // a.icon.item.zoomer(href="/products" class="{{isActiveRoute 'products'}}")
        //     // i.large.inbox.icon
        //     +i name='shop'
        //     span.mobile.hidden products
        a.icon.item.zoomer(href="/transfers" class="{{isActiveRoute 'transfers'}}")
            // i.large.inbox.icon
            +i name='exchange'
            span.mobile.hidden transfers
        a.icon.item.zoomer(href="/posts" class="{{isActiveRoute 'posts'}}")
            // i.large.inbox.icon
            +i name='blog'
            span.mobile.hidden posts
        a.icon.item.zoomer(href="/roles" class="{{isActiveRoute 'roles'}}" title='roles')
            // i.large.inbox.icon
            +i name='shield'
            span.mobile.hidden roles
        // a.icon.disabled.item.zoomer(href="/map" class="{{isActiveRoute 'map'}}")
        //     // i.large.inbox.icon
        //     +i name='map'
        //     span.mobile.hidden map
        a.icon.item.zoomer(href="/tasks" class="{{isActiveRoute 'tasks'}}")
            // i.large.inbox.icon
            +i name='tasks'
            span.mobile.hidden tasks
        a.icon.item.zoomer(href="/events" class="{{isActiveRoute 'events'}}")
            // i.large.inbox.icon
            +i name='calendar'
            span.mobile.hidden events
        a.icon.item.zoomer(href="/groups" class="{{isActiveRoute 'groups'}}")
            // i.large.inbox.icon
            +i name='campfire'
            span.mobile.hidden groups
        a.icon.item.zoomer(href="/services" class="{{isActiveRoute 'services'}}")
            // i.large.inbox.icon
            +i name='wrench'
            span.mobile.hidden services
        a.icon.item.zoomer(href="/projects" class="{{isActiveRoute 'projects'}}")
            // i.large.inbox.icon
            +i name='project'
            span.mobile.hidden projects
        a.icon.item.zoomer(href="/requests" class="{{isActiveRoute 'requests'}}")
            // i.large.inbox.icon
            +i name='hand-holding-heart'
            span.mobile.hidden requests
        // a.icon.disabled.item.zoomer(href="/food" class="{{isActiveRoute 'food'}}")
        //     // i.large.inbox.icon
        //     +i name='food'
        //     span.mobile.hidden food
        a.icon.item.zoomer(href="/badges" class="{{isActiveRoute 'badges'}}")
            // i.large.inbox.icon
            +i name='prize'
            span.mobile.hidden badges

                    
template(name='topbar')
    .ui.fluid.large.attached.segment
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
        
template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
                    