template(name='nav')
    // https://fomantic-ui.com/elements/icon.html#/icon
    #topnav.topnav.ui.attached.borderless.inverted.menu.hscroll
        // if is_loading
        //     .icon.item
        //         i.big.loading.grey.refresh.icon.cancel
        // else 
        // a.icon.item.toggle_leftbar
        //     i.large.bars.icon
        a.header.item.zoomer(href='/' class="{{isActivePath '/'}}" )
            +i name='network'
            // i.large.home.icon
            span.mobile.hidden gratigen
        a.icon.item.zoomer(href="/posts")
            // i.large.inbox.icon
            +i name='blog'
            span.mobile.hidden posts
        a.icon.item.zoomer(href="/tasks")
            // i.large.inbox.icon
            +i name='tasks'
            span.mobile.hidden tasks
        a.icon.item.zoomer(href="/events")
            // i.large.inbox.icon
            +i name='calendar'
            span.mobile.hidden events
        a.icon.item.zoomer(href="/groups")
            // i.large.inbox.icon
            +i name='groups'
            span.mobile.hidden groups
        a.icon.item.zoomer(href="/requests")
            // i.large.inbox.icon
            +i name='hand-holding-heart'
            span.mobile.hidden requests
        a.icon.item.zoomer(href="/users")
            // i.large.inbox.icon
            +i name='groups'
            .mobile.hidden users 
        a.item.zoomer(href="/rentals")
            // i.large.inbox.icon
            +i name='clock'
            span.mobile.hidden rentals
            
        // .search.item.zoomer.mobile.hidden(title='search')
        //     .ui.icon.transparent.input
        //         if current_product_search
        //             i.remove.large.red.link.icon.clear_search
        //         else
        //             i.search.large.icon
        //         input.search_products(type='text' autocomplete="off" value=current_product_search)
        .right.menu
            if currentUser
                // a.item(href='/user/#{currentUser.username}/credit' class="{{isActiveRoute 'user_credit'}}" title='current wallet balance')
                // a.item(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute regex='user_credit'}}" title='your credits')
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.name}
                    strong #{currentUser.points}p
                // a.icon.item.toggle_rightbar.no_blink
                //     // .ui.avatar.image
                //     //     if currentUser.image_id
                //     //         img.ui.mini.inline.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                //     //     else
                //     //         i.user.large.icon
                //     // strong.mobile.hidden #{currentUser.name}
                //     i.bars.large.grey.icon
            unless subs_ready
                .icon.item
                    i.yin.yang.large.loading.icon
            unless currentUser
                a.item(href="/register" title='register')
                    +i name='plus'
                    span.mobile.hidden register            
                a.item(href='/login' title='login') 
                    // i.sign.in.large.icon
                    +i name='internal'
                    span.mobile.hidden login