// // //template(name='one_card')
// //     a.ui.link.card.show_modal
// //         .content 
// //             a.ui.six.wide.column
       
// //                 if _is 'model' '[model]' 
// //                     +i name='[[model]_icon]' color='[[model]_color]'
// //                     |#{title}
                    
// //                     +[[model]_created_at]
// //                     +[[model]_user_image]
// //                     +[[model]_owner_name]
                    
// //                     +[model]main_image]
// //                     +[model]body
// //                     +[[model]card_buttons]
// //                     +[model]_reactions
                    
// //                     +[model]_who_reacted
// //                         template(name='who_reacted)
                    
// //                     div
// //                     .ui.three.column.grid
// //                     +react_button
// //                           //template(name='react_button')
// //                             .ui.
// //                                 joy, sadness, andger, fear, awe, love, care, like, dislike 
// //                     +comments_button
// //                         //template(name='comments_button')
// //                             .ui.tertiary.button
                                
// //                     +
// //                     +[model]comments]
// //                         //template(name='comments')
// //                         .ui.segment.boardered
// //                             left
// //                             +veiw_previous_comments_button
// //                             right
// //                             +comments_sort_toggle
// //                                 all_comments
// //                                 recent_comments
// //                                 relevant_comments
// //                             div
// //                                 .ui.inline
// //                                     tiny user image
// //                                     text input
// //                                         left
// //                                         |write a comment
// //                                         right
// //                                         +insert_attachment
// //                                             or emoji
// //                                     stackable.cards
// //                                         comments
// //                                             like button
// //                                             reply button
// //                                             time since created
// //                                         view [#] more comments
//                     //     div
//                     //     |#{when}
//                     // div
//                     //     |#{body}
//                     //     +[model}_image]
//                     //(like/dislike, comment, share(sms,email,dm), comments (expand))

//             img.ui.image(src="{{c.url image_id width=400 height=400}}")
            
//             .content 
//                 .description
//                     .ui.header lat: #{lat}
//                     .ui.header lng: #{lng}
//                         i.newspaper.large.icon
//                     if location 
//                         .ui.label.basic
//                             i.marker.icon
//                             |#{location}
//                     .ui.image.large.basic.label
//                         img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
//                         // i.user.icon
//                         |#{_author_username}
//                     // if tags 
//                     //     each seven_tags 
//                     //         .ui.basic.label #{this}
//                     +voting
//                     +eft_view_item_small
