template(name='essential_facet')
    div
    // if filtering_res
    .ui.header
        i.food.icon
        |essentials
    // .ui.icon.tiny.input
    //     i.search.icon
    //     input.add_filter(type='text')
        //- .active.content
            //- div
    // each picked_essentials
    //     .ui.active.large.button.unpick_essential 
    //         |#{this}
    //         // +print_this
    // if essential_results
    //     each essential_results
    //         a.ui.compact.basic.circular.button.pick_essential(class=toggle_value_class title=count)
    //             +i name=essential_doc_ref.icon color=essential_doc_ref.icon_color
    //             strong #{essential_doc_ref.title}
    //             // if is_admin
    //             small  #{count}
    each essential_results
        a.ui.circular.button.toggle_essential(class=toggle_value_class title=count)
            +ismall name=icon color=stripped_icon_color
            strong #{title}
            // if is_admin
            // small  #{count}

                
template(name='tag_facet')
    // if filtering_res
    .ui.inline.header
        i.tags.icon
        |tags
    // .ui.icon.tiny.input
    //     i.search.icon
    //     input.add_filter(type='text')
        //- .active.content
            //- div
    each picked_tags
        .ui.active.button.unpick_tag
            |#{this}
    if tag_results
        each tag_results
            a.selector.ui.compact.basic.circular.button.pick_tag(class=toggle_value_class title=count)
                // +i name=icon color=essential_doc_ref.icon_color
                strong #{name}
                // if is_admin
                small  #{count}
template(name='model_facet')
    div
    // if filtering_res
    .ui.inline.header.pointer.toggle_view_facet
        i.database.icon
        |models
    // .ui.icon.tiny.input
    //     i.search.icon
    //     input.add_filter(type='text')
        //- .active.content
            //- div
    // with picked_model 
    //     .ui.active.button.unpick_model 
    //         |#{this}
    // if model_results
    each model_results
        a.ui.compact.basic.circular.button.toggle_model(class=toggle_value_class title=count)
            +ismall name=icon color=stripped_icon_color
            strong #{title}
            // if is_admin
            // small  #{count}
        
