template(name='home')
    if currentUser.admin_mode
        img.ui.fluid.image.home_banner(src="{{c.url 'gratigenlayout'}}" class=darkmode_class)
    .ui.stackable.padded.divided.celled.grid
        .bordered(class=left_column_class)
            +session_toggle key='expand_leftbar' icon='heart outline'
                // +session_toggle key='add_mode' icon='plus'
                //.ui.icon.button.show_model
                    i.large.plus.icon
                // .ui.fluid.small.button.toggle_leftbar
                //     i.chevron.left.icon
                .ui.hidden.divider
            +dash_user_info
            a.ui.button.tertiary.delta(href="/m/model")
                |manage models

            .ui.fluid.big.menu.hscroll.mobile.only
                +side_menu_item color="FF73EA" icon='food' label='food'
                +side_menu_item color="B785E1" icon='home' label='housing'
                +side_menu_item color="7229AF" icon='tshirt' label='clothing'
                +side_menu_item color="1255B8" icon='car' label='transportation'
                +side_menu_item color="83DFF4" icon='lightning' label='energy'
                +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
                +side_menu_item color="40C057" icon='smile' label='wellness'
                +side_menu_item color="FAB005" icon='university' label='education'
                +side_menu_item color="FD7E14" icon='paint brush' label='art'
                +side_menu_item color="FF0000" icon='users' label='community core'
            if session_is 'expand_leftbar' true
                .ui.vertical.fluid.menu.mobile.hidden
                    +side_menu_item color="FF73EA" icon='food' label='food'
                    +side_menu_item color="B785E1" icon='home' label='housing'
                    +side_menu_item color="7229AF" icon='tshirt' label='clothing'
                    +side_menu_item color="1255B8" icon='car' label='transportation'
                    +side_menu_item color="83DFF4" icon='lightning' label='energy'
                    +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
                    +side_menu_item color="40C057" icon='smile' label='wellness'
                    +side_menu_item color="FAB005" icon='university' label='education'
                    +side_menu_item color="FD7E14" icon='paint brush' label='art'
                    +side_menu_item color="FF0000" icon='users' label='community core'
            else 
                .ui.vertical.fluid.icon.menu.mobile.hidden
                    +side_menu_item color="FF73EA" icon='food' label='food'
                    +side_menu_item color="B785E1" icon='home' label='housing'
                    +side_menu_item color="7229AF" icon='tshirt' label='clothing'
                    +side_menu_item color="1255B8" icon='car' label='transportation'
                    +side_menu_item color="83DFF4" icon='lightning' label='energy'
                    +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
                    +side_menu_item color="40C057" icon='smile' label='wellness'
                    +side_menu_item color="FAB005" icon='university' label='education'
                    +side_menu_item color="FD7E14" icon='paint brush' label='art'
                    +side_menu_item color="FF0000" icon='users' label='community core'
                
            // .ui.button create request
        .bordered.scrolling(class=main_column_class)
            .ui.one.column.grid 
                .column.bordered
                    .ui.top.attached.tabular.menu  
                        a.center.item.toggle_addmode.zoomer(data-tab='add' title='add thing')
                            +i name='play-button-circled--v1' color='40C057'
                        // .active.item(data-tab='viewing')
                        //     |viewing
                    .ui.bottom.attached.tab.segment.centered.ani(data-tab='add')
                        //select type of thing you're creating >> open thing type editor modal
                        if session_is 'addmode' true
                       
                            +thing_picker model='post' icon='for-you' color='1255B8'
                            //blue
                            +thing_picker model='offer' icon='hand-holding-heart' color='FF73EA'
                            //pink
                            +thing_picker model='request' icon='commercial' color='40C057'     
                            //green
                            
                            div
                            +thing_picker model='org' icon='groups' color='83DFF4' 
                            //light blue
                            +thing_picker model='project' icon='project' color='7229AF' 
                            //violet
                            +thing_picker model='event' icon='calendar' color='FAB005'
                            //yellow
                            +thing_picker model='role' icon='what-i-do' color='42E8C4'
                            //turquoise
                            +thing_picker model='tasks' icon='task' color='B785E1'
                            //lavender
                            +thing_picker model='resource' icon='field-and-tractor' color='FD7E14'
                            +thing_picker model='skills' icon='wrench' color='ff0000'
                            //red
                            +thing_picker model='badges' icon='badge' color='1255B8'
                            //blue
                            div
                            +thing_picker model='datetime' icon='overtime--v1' color='FD7E14'
                            +thing_picker model='location' icon='worldwide-location' color='40C057'
                            +thing_picker model='accounts' icon='gold-bars' color='FAB005'
                                //people
                            .ui.divider
                    div
                            +online_users
                     //side scrolling users' avatars (pulls  up profile in modal) - new, nearby, recommended - 
                        //.ui.fluid.big.menu.hscroll
                        +
                        //+new_nearby_allied_users

                    div
                .centered
                    +filter_model model='post' icon='for-you' color='1255B8'
                    //blue
                    +filter_model model='offer' icon='hand-holding-heart' color='FF73EA'
                    //pink
                    +filter_model model='request' icon='commercial' color='40C057'     
                    //green

                    div
                    +filter_model model='org' icon='groups' color='83DFF4'
                    //light blue
                    +filter_model model='project' icon='project' color='7229AF' 
                    //violet
                    +filter_model model='event' icon='scenic-view' color='FAB005'
                    //yellow
                    +filter_model model='role' icon='what-i-do' color='42E8C4'
                    //turquoise
                    +filter_model model='task' icon='task' color='B785E1'
                    //lavender
                    +filter_model model='resource' icon='field-and-tractor' color='FD7E14'  
                    //orange
                    +filter_model model='skill' icon='wrench' color='ff0000'
                    //red
                    +filter_model model='trip' icon='car' color='40C057'

                    
                    // +filter_model model='food' icon='food' 83DFF4
                .centered   
                    .ui.search
                        .ui.large.icon.input.search_bar
                            input.prompt(type='text' placeholder='add/request/search...')
                            i.search.icon
                        .results    
                    +session_set key='view_mode' value='grid' icon='th' 
                    +session_set key='view_mode' value='list' icon='list'
                    +session_set key='view_mode' value='feed' icon='stream'
                    +session_toggle key='show_map' icon='map'
                    +session_toggle key='show_calendar' icon='calendar'
                
                if session_is 'view_mode' 'list'
                    .ui.items 
                        each doc_results 
                            .item
                                .content
                                    .header #{title}
                if session_is 'view_mode' 'feed'
                    .centered
                        .ui.centered.cards.one.scrolling
                            each doc_results
                                +home_card
                else
                    .ui.two.stackable.cards.scrolling
                        each doc_results
                            +home_card
        // .eight.wide.column.bordered
        .bordered(class=right_column_class)
            +my_things
            if session_is 'show_map' true
                +mapbox
            if session_is 'show_calendar' true 
                +calendar_view
            +online_allies
               //.ui.container
                    |my things
                       // this needs to display list of "my_thing" (and its direct parent) corellated with search parameters, and click to pull up modal of thing
        // +thing_maker
        // if current_thing.
        //     if _is 'model'_edit
        // [current_thing_type]_edit
        //     +thing_picker
        //      +eft_picker
    .ui.modal 
        with current_viewing_thing
            .header #{title}
                .ui.button.button.toggle_editmode
                    i.large.pencil.icon
            i.close.large.icon
            .scrolling.content
                if session_is 'editmode' true
                    +Template.dynamic template=edit_template
                else 
                    +Template.dynamic template=view_template


template(name='my_things')
    .ui.segment
        |my_things
        div
        |eft_categories x gratigen_thing_type x mainpage_search_bar x datetime_range x selected_map_area x my_things

//template(name='thing_maker_modal')        
template(name='home_card')
    // if _is 'model' 'role'
    //     +role_card
    // else if _is 'model' 'event'
    //     +event_card
    // else if _is 'model' 'recipe'
    //     +recipe_card
    // else 
    a.ui.link.card.show_modal
        // if youtube_id 
        //     +youtube_view key='youtube_id' direct=true
        .content 
            a.inline.header
                if _is 'model' 'org' 
                    +i name='groups' color='83DFF4'
                    +org_card
                if _is 'model' 'project'
                    +i name='project' color='7229AF'
                    +project_card
                if _is 'model' 'post'
                    +i name='for-you' color='1255B8'
                    +post_card
                if _is 'model' 'event'
                    +i name='scenic-view' color='FAB005'
                        //left
                    //+user icon, user name    
                    i.clock.icon
                    |#{when}
                    +event_card
                if _is 'model' 'task'
                    +i name='task' color='B785E1'
                    +task_card
                if _is 'model' 'offer'
                    +i name='hand-holding-heart' color='FF73EA'
                    +offer_card
                if _is 'model' 'request'
                    +i name='commercial' color='40C057'
                    +request_card
                if _is 'model' 'role'
                    +i name='what-i-do' color='42E8C4'
                    +role_card
                if _is 'model' 'resource'
                    +i name='field-and-tractor' color='42E8C4'   
                    +resource_card
                //like/dislike, comment, share(sms,email,dm), comments (expand)    
                    
                    
                // .ui.label #{model}
                |#{title} #{body}
            
        img.ui.fluid.image(src="{{c.url image_id width=400 height=400}}")
        .content 
            .description
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                if location 
                    .ui.label.basic
                        i.marker.icon
                        |#{location}
                .ui.image.large.basic.label
                    img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}
                +voting
                +eft_view_item_small