template(name='home')
    if currentUser.admin_mode
        img.ui.fluid.image.home_banner(src="{{c.url 'gratigenlayout'}}" class=darkmode_class)
    .ui.stackable.padded.divided.celled.grid.draggabl
        // .bordered(class=left_column_class)
        .twelve.wide.column.scrolling
            .ui.one.column.grid     
                .column
                    +home_cloud
                // +thing_picker_template
                .centered
                    .ui.inline.search
                        .ui.large.icon.input.search_bar
                            input.prompt(type='text' placeholder='add/request/search...')
                            i.search.icon
                    each homepage_models
                        +filter_model
                .centered   
                        // .results    
                    each model_docs_helper 'view_mode'
                        +session_set key='view_mode' value=title title=title icon=icon color=icon_color
                    // +session_toggle key='show_map' icon='map'
                    // +session_toggle key='show_calendar' icon='calendar'
                    each model_docs_helper 'sort_key'
                        +profile_key_value_edit key='sort_key' value=title label=title icon=icon color=icon_color
                    .ui.inline.header sort
                    +profile_key_value_edit key='sort_direction' value=1 icon='sort-up'
                    +profile_key_value_edit key='sort_direction' value=-1 icon='sort-down'
                    .ui.inline.header limit
                    +profile_key_value_edit key='limit' value=1 label=1
                    +profile_key_value_edit key='limit' value=10 label=10
                    +profile_key_value_edit key='limit' value=25 label=25
                    +profile_key_value_edit key='limit' value=50 label=50
                if session_is 'view_mode' 'list'
                    .ui.items 
                        each doc_results 
                            .item
                                .content
                                    .header #{title}
                                    |mini_card
                                    
                else if session_is 'view_mode' 'cards'
                    .ui.two.stackable.cards.scrolling
                            each doc_results
                                +home_card
                else
                    .ui.eight.wide.column.centered
                        .ui.centered.cards.one.scrolling
                            each doc_results
                                +home_card
        
        // .bordered(class=right_column_class)
        .four.wide.column.scrolling
            +online_users
            +chart
            +my_things
            // if session_is 'show_map' true
            +mapbox
            // if session_is 'show_calendar' true 
            +calendar_view
            +online_allies
               //.ui.container
                    |my things
                       // this needs to display list of "my_thing" (and its direct parent) corellated with search parameters, and click to pull up modal of thing
        // +thing_maker
        // if current_thing.
        //     if _is 'model'_edit
        // [current_thing_type]_edit
        //     +thing_picker
        //      +eft_picker
    .ui.modal 
        with current_viewing_thing
            .header #{title}
            i.close.large.icon
            .scrolling.content
                if session_is 'editmode' true
                    +Template.dynamic template=edit_template
                else 
                    +Template.dynamic template=view_template
            .content 
                a.ui.big.circular.icon.button(href='/m/#{model}/{_id}')
                    i.chevron.right.icon   
                .ui.button.button.toggle_editmode
                    i.large.pencil.icon

template(name='my_things')
    .ui.segment
        |my_things
        div
        |eft_categories x gratigen_thing_type x mainpage_search_bar x datetime_range x selected_map_area x my_things
        //(displays small cards of dashboard search parameters)
        div
        +home_card
        //should be small_card

// //template(name='small_card')
//         // thing_type_icon, thing_name, 
//             thing_short_info 
//                 (pending action alert and; 
//                 countdown for events and tasks, number of pending tasks for role, resource in use or not, 
//                 Project progress percentage, my held value in org, like count for posts, offer accepted or not, 
//                 request granted or not, skills you have that are being sought,
//                 Badges you have or almost qualify for that are being sought)


//template(name='thing_maker_modal')        
template(name='home_card')
    .ui.link.card
        // if youtube_id 
        //     +youtube_view key='youtube_id' direct=true
        .content.show_modal.zoomer
            a.inline.header
                with parent_model
                    span(title=title)
                        +i name=icon color=stripped_icon_color
                |#{title} 
            
            img.ui.image(src="{{c.url image_id width=400 height=400}}")
        if card_template_exists
            +Template.dynamic template=model_card_template

        .content 
            .description
                |!{body}
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                +creation_info
                if location 
                    .ui.label.basic
                        i.marker.icon
                        |#{location}
                .ui.image.large.basic.label
                    img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}
                +voting
                +eft_view_item_small
                //like/dislike, comment, share(sms,email,dm), comments (expand)    



template(name='home_cloud')
    //- #cloud
        //- .ui.left.icon.input
        //-     i.search.icon
        //-     +inputAutocomplete settings=settings id="search" class="" autocomplete="off" 
        // .ui.hidden.fitted.divider
    .ui.inline.header 
        i.tag.icon
    //     |tags
    if cd.picked_tags
        // #clear_tags.ui.active.icon.large.circular.button
        //     i.remove.icon
        each cd.picked_tags
            .unpick_tag.ui.active.large.circular.compact.button
                strong #{this}
    each result_helper 'tag'
        +pick_result
    div
    .ui.inline.header 
        // i.cubes.icon
        +i name='network'
        |models
    if cd.picked_models
        // #clear_models.ui.active.icon.large.circular.button
        //     i.remove.icon
        each picked_models
            .unpick_model.ui.active.large.compact.circular.button
                strong #{this}
    each result_helper 'model'
        +pick_result
    div
    .ui.inline.header 
        +i name='t-shirt'
        |essentials
    if cd.picked_essentials
        // #clear_essentials.ui.active.icon.large.circular.button
        //     i.remove.icon
        each picked_essentials
            .unpick_essential.ui.active.large.circular.compact.button
                strong #{this}
    each result_helper 'essential'
        +pick_result


template(name='pick_result')
    .ui.circular.compact.basic.button.pick(class=cloud_tag_class) 
        strong #{this.name}
        small #{count}



template(name='thing_picker_template')
    .column.bordered
        .ui.top.attached.tabular.menu  
            a.center.item.toggle_addmode.zoomer(data-tab='add' title='add thing')
                +i name='play-button-circled--v1' color='40C057'
            // .active.item(data-tab='viewing')
            //     |viewing
        .ui.bottom.attached.tab.segment.centered.ani(data-tab='add')
    //         //select type of thing you're creating >> open thing type editor modal
    //         if session_is 'addmode' true
    //                each model_docs_helper
    //             +thing_picker model='post' icon='for-you' color='1255B8'
    //             //blue
    //             +thing_picker model='offer' icon='hand-holding-heart' color='FF73EA'
    //             //pink
    //             +thing_picker model='request' icon='commercial' color='40C057'     
    //             //green
                
    //             div
    //             +thing_picker model='org' icon='groups' color='83DFF4' 
    //             //light blue
    //             +thing_picker model='project' icon='project' color='7229AF' 
    //             //violet
    //             +thing_picker model='event' icon='calendar' color='FAB005'
    //             //yellow
    //             +thing_picker model='role' icon='what-i-do' color='42E8C4'
    //             //turquoise
    //             +thing_picker model='tasks' icon='task' color='B785E1'
    //             //lavender
    //             +thing_picker model='resource' icon='field-and-tractor' color='FD7E14'
    //             +thing_picker model='skills' icon='wrench' color='ff0000'
    //             //red
    //             +thing_picker model='badges' icon='badge' color='1255B8'
    //             //blue
    //             div
    //             +thing_picker model='datetime' icon='overtime--v1' color='FD7E14'
    //             +thing_picker model='location' icon='worldwide-location' color='40C057'
    //             +thing_picker model='accounts' icon='gold-bars' color='FAB005'
    //                 //people
    //             .ui.divider
        div
                +online_users
         //side scrolling users' avatars (pulls  up profile in modal) - new, nearby, recommended - 
            //.ui.fluid.big.menu.hscroll
            +
            //+new_nearby_allied_users



template(name='search ')
    .ui.padded.grid 
        .sixteen.wide.column
            .ui.header 
                i.search.icon
                |searching #{current_delta._search}