template(name='home')

    if currentUser.admin_mode
        img.ui.fluid.image.home_banner(src="{{c.url 'gratigenlayout'}}" class=darkmode_class)
    // else 
    //     img.ui.fluid.image.bg_overlay(src="{{c.url 'nightbg' width=1000 crop='fit'}}")    

    .ui.padded.divided.celled.stackable.grid
        .three.wide.scrolling.column
            // +session_toggle key='expand_leftbar' icon='horizontal-line'
            // +session_toggle key='add_mode' icon='plus'
            //.ui.icon.button.show_model
                i.large.plus.icon
            // .ui.fluid.small.button.toggle_leftbar
            //     i.chevron.left.icon
            // .ui.hidden.divider
            
            +dash_user_info
            +user_impact_graph
           

            .ui.fluid.big.menu.hscroll.mobile.only
                +side_menu_item color="FF73EA" icon='food' label='food'
                +side_menu_item color="B785E1" icon='home' label='housing'
                +side_menu_item color="7229AF" icon='tshirt' label='clothing'
                +side_menu_item color="1255B8" icon='car' label='transportation'
                +side_menu_item color="83DFF4" icon='lightning' label='energy'
                +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
                +side_menu_item color="40C057" icon='smile' label='wellness'
                +side_menu_item color="FAB005" icon='university' label='education'
                +side_menu_item color="FD7E14" icon='paint brush' label='art'
                +side_menu_item color="FF0000" icon='users' label='community core'
            // if session_is 'expand_leftbar' true
            .ui.vertical.fluid.menu.mobile.hidden
                +side_menu_item color="FF73EA" icon='food' label='food'
                +side_menu_item color="B785E1" icon='home' label='housing'
                +side_menu_item color="7229AF" icon='tshirt' label='clothing'
                +side_menu_item color="1255B8" icon='car' label='transportation'
                +side_menu_item color="83DFF4" icon='lightning' label='energy'
                +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
                +side_menu_item color="40C057" icon='smile' label='wellness'
                +side_menu_item color="FAB005" icon='university' label='education'
                +side_menu_item color="FD7E14" icon='paint brush' label='art'
                +side_menu_item color="FF0000" icon='users' label='community core'
            // else 
            //     .ui.vertical.fluid.icon.menu.mobile.hidden
            //         +side_menu_item color="FF73EA" icon='food' label='food'
            //         +side_menu_item color="B785E1" icon='home' label='housing'
            //         +side_menu_item color="7229AF" icon='tshirt' label='clothing'
            //         +side_menu_item color="1255B8" icon='car' label='transportation'
            //         +side_menu_item color="83DFF4" icon='lightning' label='energy'
            //         +side_menu_item color="42E8C4" icon='leaf' label='zero waste'
            //         +side_menu_item color="40C057" icon='smile' label='wellness'
            //         +side_menu_item color="FAB005" icon='university' label='education'
            //         +side_menu_item color="FD7E14" icon='paint brush' label='art'
            //         +side_menu_item color="FF0000" icon='users' label='community core'
                
            // .ui.button create request
            img.ui.image(src="/12_color_code.jpeg")
        .eight.wide.scrollin.column
            .ui.one.column.grid 
                .centered.column.bordered
                
                    
                    // .ui.fluid.input 
                    //     textarea
                    // // div
                    +online_users

                .centered
                    +filter_model model='post' icon='for-you' color='1255B8'
                    //blue
                    +filter_model model='offer' icon='hand-holding-heart' color='FF73EA'
                    //pink
                    +filter_model model='request' icon='commercial' color='40C057'     
                    //green

                    div
                    +filter_model model='org' icon='groups' color='83DFF4'
                    //light blue
                    +filter_model model='project' icon='project' color='7229AF' 
                    //violet
                    +filter_model model='event' icon='calendar' color='FAB005'
                    //yellow
                    +filter_model model='role' icon='what-i-do' color='42E8C4'
                    //turquoise
                    +filter_model model='task' icon='task' color='B785E1'
                    //lavender
                    +filter_model model='resource' icon='field-and-tractor' color='FD7E14'  
                    //orange
                    +filter_model model='skill' icon='wrench' color='ff0000'
                    //red
                    
                    // +filter_model model='food' icon='food' 83DFF4
                .centered   
                    .ui.search
                        .ui.large.icon.input.search_bar
                            input.prompt(type='text' placeholder='add/request/search...')
                            i.search.icon
                        .results    
                    +session_set key='view_mode' value='grid' icon='th' 
                    +session_set key='view_mode' value='list' icon='list'
                    +session_set key='view_mode' value='feed' icon='stream'
                    +session_toggle key='show_map' icon='map'
                    +session_toggle key='show_calendar' icon='calendar'
                
                if session_is 'view_mode' 'list'
                    .ui.items 
                        each doc_results 
                            .item
                                .content
                                    .header #{title}
                if session_is 'view_mode' 'feed'
                    .ui.eight.wide.column.centered
                        .ui.centered.one.stackable.cards.scrolling.centered
                            each doc_results
                                +home_card
                else
                    .ui.two.stackable.cards.scrolling
                        each doc_results
                            +home_card
        // .eight.wide.column.bordered
        .five.wide.scrolling.column
            +my_things
            if session_is 'show_map' true
                +mapbox
            if session_is 'show_calendar' true 
                +calendar_view
            +charts
            +user_connection_graph
            +online_allies
        // +thing_maker
        // if current_thing.
        //     if _is 'model'_edit
        // [current_thing_type]_edit
        //     +thing_picker
        //      +eft_picker
    .ui.fullscreen.modal
        with current_viewing_thing
            .ui.grid
                .sixteen.wide.column
                    if _is 'model' 'org'
                        .ui.big.image
                            +i name='groups' color='83DFF4'
                        .ui.icon.right.floated.button.toggle_editmode
                            i.small.pencil.icon        
                .thirteen.wide.centered.column
                            //on click go to full page
                    .ui.inline.centered.header.huge #{title}
                    
            .scrolling.content
                if session_is 'editmode' true
                    +Template.dynamic template=edit_template
                else 
                    +Template.dynamic template=view_template
    // +view_chats


template(name='charts')
    // +i name='sad'
    .ui.blue.small.progress.invert(data-percent='65' title="{{to_percent sadness}}% sadness")
        .bar
        .progress.invert
            .label {{to_percent sadness}}% sadness 
    // +i name='happy'
    .ui.green.small.progress.invert(data-percent='54' title="{{to_percent joy}}% joy")
        .bar
        .progress.invert
            .label {{to_percent joy}}% joy 
    // +i name='fear'
    .ui.small.progress.invert(data-percent='78' title="{{to_percent fear}}% fear")
        .bar
        .progress.invert
            .label {{to_percent fear}}% fear 
    // +i name='disgust'
    // .ui.yellow.small.progress.invert(data-percent='34' title="{{to_percent disgust}}% disgust")
    //     .bar
    //     .progress.invert
    //         .label {{to_percent disgust}}% disgust 
    // +i name='angry'
    .ui.orange.small.progress.invert(data-percent='23' title="{{to_percent anger}}% anger")
        .bar
        .progress
            .label {{to_percent anger}}% anger 




//template(name='thing_maker_modal')        
template(name='home_card')
    // if _is 'model' 'role'
    //     +role_card
    // else if _is 'model' 'event'
    //     +event_card
    // else if _is 'model' 'recipe'
    //     +recipe_card
    // else 
    a.ui.link.card.zoomer.show_modal
        if youtube_id 
            +youtube_view key='youtube_id' direct=true
        .content 
            a.inline.header
                if _is 'model' 'org' 
                    +i name='groups' color='83DFF4'
                if _is 'model' 'project'
                    +i name='project' color='7229AF'
                if _is 'model' 'post'
                    +i name='for-you' color='1255B8'
                if _is 'model' 'event'
                    +i name='calendar' color='FAB005'
                if _is 'model' 'task'
                    +i name='task' color='B785E1'
                if _is 'model' 'offer'
                    +i name='hand-holding-heart' color='FF73EA'
                if _is 'model' 'request'
                    +i name='commercial' color='40C057'
                if _is 'model' 'role'
                    +i name='what-i-do' color='42E8C4'  
                if _is 'model' 'resource'
                    +i name='field-and-tractor' color='42E8C4'      

                // .ui.label #{model}
                |#{title} #{body}
            i.clock.icon
            |#{when}
        img.ui.fluid.image(src="{{c.url image_id width=400 height=400}}")
        .content 
            .description
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                if location 
                    .ui.label 
                        i.marker.icon
                        |#{location}
                .ui.image.large.label 
                    img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}
                +voting
                +eft_view_item_small
      
            .content
                .right.floated
                    | #{views} views
                // if _author_id
                //     +author_info
                +voting
                    //- i.eye.icon
                //     each viewer_usernames
                //         .ui.small.inverted.label #{this}
                // //- +comments
                +eft_viewer
                if currentUser.admin_mode
                    +print_this
                    +remove_button
                each tags 
                    .ui.small.label #{this}
            if template_exists
                +Template.dynamic template=model_template
            .content
                +comments
      
      
      
template(name='calendar_view')    
    // .ui.header 
    //     // i.calendar.icon
    //     |calendar 
    
    #inline_calendar 
        
      
template(name='user_impact_graph')
    .ui.segment
        .ui.header user impact graph
        img.ui.image(src="/d3_sunburst.jpeg")
        
template(name='user_connection_graph')
    .ui.segment
        .ui.header user connection graph
        img.ui.image(src="/network_graph.png")
    
template(name='my_things')
    .ui.segment
        |my_things
        div
        |eft_categories x gratigen_thing_type x mainpage_search_bar x datetime_range x selected_map_area x my_things
        //(displays small cards of dashboard search parameters)
        div
        +home_card
        //should be small_card    
    
    
template(name='side_menu_item')
    a.ui.header.item.toggle_item.invert(style="color:##{color}" class=side_item_class)
        |#{label}
        i.icon(class=icon)
        // if session_is 'expand_leftbar' true
        
        // if is_toggled
        //     i.large.checkmark.icon

           
template(name='dash_user_info') 
     .ui.two.column.grid
            .six.wide.column
                img.ui.circular.small.image(src="{{c.url currentUser.image_id width=120 height=120 gravity='face' crop='fill'}}") 
            .ten.wide.column
                .ui.header.printme
                    |#{currentUser.username}
                    div
                    |#{currentUser.tagline}


    // unless session_is 'expand_leftbar' true
    //     img.ui.small.circular.image(src="{{c.url currentUser.image_id width=600 height=600 gravity='face' crop='fill'}}")
    //     .ui.header
    //         | #{currentUser.username}
    //     .ui.small
    //         | #{currentUser.points}pts
    //     .ui.header
    //         | #{currentUser.tagline}
    // else     
    //     a.ui.two.column.grid.zoomer(href="/user/#{currentUser.username}")
    //         .column
    //             img.ui.small.circular.image(src="{{c.url currentUser.image_id width=600 height=600 gravity='face' crop='fill'}}")
    //         .column
    //             .ui.header
    //                 | #{currentUser.username}
    //             .ui.small
    //                 | #{currentUser.points}pts
    //             .ui.header
    //                 | #{currentUser.tagline}

    // i.user.icon
    // .ui.inline.header #{currentUser.name}
    // strong #{currentUser.points}p
    // div
    // .ui.inline.header #{currentUser.tagline}
        
           
           
template(name='filter_model')
    .ui.compact.circular.secondary.basic.button.pick_model.zoomer(class=button_class)
        +i name=icon color=color cl='ui mini inline image'
        // i.exchange.large.icon
        |#{model}
