template(name='home')
    .ui.stackable.padded.divided.celled.grid
        .four.wide.column.bordered
            +dash_user_info
            .ui.list 
                .item 
                    i.food.icon
                    |food 
                .item 
                    i.home.icon
                    |housing
                .item 
                    i.tshirt.icon
                    |clothing
                .item 
                    i.car.icon
                    |transportation
                .item 
                    i.lightning.icon
                    |energy
                .item 
                    i.leaf.icon
                    |zero waste
                .item 
                    i.smile.icon
                    |wellness
                .item 
                    i.university.icon
                    |education
                .item 
                    i.paint.brush.icon
                    |art
                .item 
                    i.users.icon
                    |community core
                +online_users
            // .ui.button create request
        .eight.wide.column.bordered
            +filter_model model='organization' icon='groups' color='FA5252'
            +filter_model model='event' icon='calendar' color='FAB005'
            +filter_model model='resource' icon='car' color='FD7E14'
            +filter_model model='request' icon='commercial' color='F25081'
            +filter_model model='project' icon='project' color='7950F2'
            +filter_model model='post' icon='for-you' color='1255B8'
            +filter_model model='roles' icon='what-i-do' color='42E8C4'
            +filter_model model='skills' icon='wrench' color='228BE6c'
            // +filter_model model='badge' icon='badge' color='40C057'
            +filter_model model='tasks' icon='task' color='40C057'
            // +filter_model model='food' icon='food'
            .scrolling
                each doc_results
                    +home_card
                    
            
        .four.wide.column.bordered
            +mapbox
            if currentUser
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.tiny.circular.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    .ui.inline.header #{currentUser.name}
                    strong #{currentUser.points}p
                    div
                    .ui.inline.header #{currentUser.tagline}
                
            else 
                .ui.header 
                    |gratigen
                a.ui.button(href='/login')
                    +i name='internal'
                    |login/join
            .ui.button.check_notifications
                |check notifications
            .ui.button.send_notification
                |send notifications
            .ui.header sections
        // .four.wide.column
        //     +map
        .four.wide.column
            +online_users
        .four.wide.column
            .ui.header 
                |resources
            
                    
        .four.wide.column
            .ui.segment.smallscroll
                +latest_activity
            .ui.segment
                +closest_allies
            .ui.segment
                +open_requests
           
           
template(name='dash_user_info') 
    .ui.two.column.grid
        .column
            img.ui.small.image(src="{{c.url currentUser.image_id width=600 height=600 gravity='face' crop='fill'}}")
        .column
            .ui.header.print_me
                  | @#{currentUser.username}
                  | #{currentUser.points}pts
                  

        
           
           
template(name='filter_model')
    .ui.compact.large.circular.secondary.basic.button.pick_model(class=button_class)
        +i name=icon color=color cl='ui mini inline image'
        // i.exchange.large.icon
        |#{model}

            
template(name='closest_allies')
    .ui.header 
        +i name='marker'
        |closest allies
    .ui.selectable.animated.list.smallscroll
        each user_docs 
            a.item.fly_right(href="/user/#{username}")
                img.ui.avatar.image(src="{{c.url image_id width=400 height=400}}")
                |#{username}
                if tags 
                    each tags 
                        .ui.basic.label #{this}
template(name='online_users')
    .ui.header 
        +i name='checkmark'
        |online users
    .ui.selectable.animated.list.smallscroll
        each online_user_docs 
            a.item.fly_right(href="/user/#{username}")
                img.ui.avatar.image(src="{{c.url image_id width=400 height=400}}")
                |#{username}
                if tags 
                    each tags 
                        .ui.basic.label #{this}

template(name='open_requests')
    .ui.header open requests
    each open_requests 
        a.ui.fluid.card(href="/request/#{_id}")
            .content 
                .header #{title}
                .description
                    .ui.header #{when}
                            
template(name='home_card')
    if _is 'model' 'recipe'
        +recipe_card
    else 
        .ui.fluid.card.zoomer
            if youtube_id 
                +youtube_view key='youtube_id' direct=true
            .content 
                .inline.header 
                    if _is 'model' 'recipe'
                        +i name='recipe'
                    if _is 'model' 'food'
                        +i name='food'
                    if _is 'model' 'post'
                        +i name='blog'
                    if _is 'model' 'rental'
                        +i name='clock'
                    if _is 'model' 'task'
                        +i name='tasks'
                    if _is 'model' 'group'
                        +i name='campfire'
                    if _is 'model' 'comment'
                        +i name='chat'
                    // .ui.label #{model}
                    |#{title} #{body}
                i.clock.icon
                .ui.button.map_me
                    i.marker.large.red.icon
                    |map me
                |#{when}
            img.ui.image(src="{{c.url image_id width=400 height=400}}")
            .content 
                .description
                    .ui.header lat: #{lat}
                    .ui.header lng: #{lng}
                        // i.newspaper.large.icon
                    .ui.image.large.label 
                        img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                        // i.user.icon
                        |#{_author_username}
                    if tags 
                        each seven_tags 
                            .ui.basic.label #{this}
                    a.ui.button.zoomer.fly_left(href="/#{model}/#{_id}")
                        i.chevron.right.icon
                        |view

template(name='latest_activity')
    .ui.header 
        +i name='clock'
        |latest activity
    .ui.selection.animated.list
        each latest_docs 
            a.item(href="/#{model}/#{_id}") 
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    .header #{title}
                    .description
                        |{{from_now _updated_timestamp}}