template(name='home')
    .ui.stackable.padded.grid
        .four.wide.column
            if currentUser
                .ui.header profile
                a.item(href="/user/#{currentUser.username}" class=user_nav_button_class title=user_nav_button_title)
                    if currentUser.image_id
                        img.ui.tiny.circular.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    strong #{currentUser.name}
                    strong #{currentUser.points}p
                    div
                    .ui.inline.header #{currentUser.tagline}
                
                .ui.header
                    |#{currentUser.username}
            else 
                .ui.header welcome to gratigen bitch
                a.ui.button(href='/login')
                    +i name='internal'
                    |login/join
                
            .ui.header sections
            .ui.list 
                .item 
                    i.food.icon
                    |food 
                .item 
                    i.home.icon
                    |housing
                .item 
                    i.tshirt.icon
                    |clothing
                .item 
                    i.car.icon
                    |transportation
                .item 
                    i.lightning.icon
                    |energy
                .item 
                    i.leaf.icon
                    |zero waste
                .item 
                    i.smile.icon
                    |wellness
                .item 
                    i.university.icon
                    |education
                .item 
                    i.paint.brush.icon
                    |art
                .item 
                    i.users.icon
                    |community core
            .ui.header 
                |resources
            
        .eight.wide.column
            .ui.button create request
            .ui.basic.disabled.button 
                i.exchange.large.icon
                |gifts
            .ui.basic.disabled.button 
                i.bullhorn.large.icon
                |requests
            .ui.basic.disabled.button 
                i.hand.holding.large.icon
                |offers
            .ui.basic.disabled.button 
                i.project.diagram.large.icon
                |projects
            .scrolling
                each doc_results
                    a.ui.fluid.card.zoom(href="/#{model}/#{_id}")
                        .content 
                            .inline.header #{title}
                            i.clock.icon
                            |#{when}
                        img.ui.image(src="{{c.url image_id width=400 height=400}}")
                        .content 
                            .description
                                if _is 'model' 'post'
                                    i.newspaper.large.icon
                                .ui.label #{model}
                                .ui.label 
                                    i.user.icon
                                    |#{_author_username}
                                if tags 
                                    each tags 
                                        .ui.label #{this}
        .four.wide.column
            .ui.header 
                i.clock.icon
                |activity
            .ui.header 
                i.marker.icon
                |closest allies
            .ui.list 
                each user_docs 
                    .item 
                        |#{username}
                        if tags 
                            each tags 
                                .ui.basic.label #{this}
            .ui.header open requests
            each open_requests 
                a.ui.fluid.card(href="/request/#{_id}")
                    .content 
                        .header #{title}
                        .description
                            .ui.header #{when}