template(name='home')
    if currentUser.admin_mode
        img.ui.fluid.image.home_banner(src="{{c.url 'gratigenlayout'}}" class=darkmode_class)
    // else 
    //     img.ui.fluid.image.bg_overlay(src="{{c.url 'nightbg' width=1000 crop='fit'}}")    
    .ui.padded.divided.celled.stackable.grid
        .three.wide.scrolling.column
            // +session_toggle key='expand_leftbar' icon='horizontal-line'
            // +session_toggle key='add_mode' icon='plus'
            //.ui.icon.button.show_model
                i.large.plus.icon
            // .ui.fluid.small.button.toggle_leftbar
            //     i.chevron.left.icon
            // .ui.hidden.divider
            .ui.segment.shadow
                img.ui.image(src="{{c.url 'batflash'}}" class=darkmode_class)
            +dash_user_info
            +user_impact_graph
           

            .ui.fluid.big.menu.hscroll.mobile.only
                +eft_filter color="FF73EA" icon='food' label='food'
                +eft_filter color="B785E1" icon='home' label='housing'
                +eft_filter color="7229AF" icon='tshirt' label='clothing'
                +eft_filter color="1255B8" icon='car' label='transportation'
                +eft_filter color="83DFF4" icon='lightning' label='energy'
                +eft_filter color="42E8C4" icon='leaf' label='zero waste'
                +eft_filter color="40C057" icon='smile' label='wellness'
                +eft_filter color="FAB005" icon='university' label='education'
                +eft_filter color="FD7E14" icon='paint brush' label='art'
                +eft_filter color="FF0000" icon='users' label='community core'
            // if session_is 'expand_leftbar' true
            .ui.vertical.fluid.menu.mobile.hidden
                +eft_filter color="FF73EA" icon='food' label='food'
                +eft_filter color="B785E1" icon='home' label='housing'
                +eft_filter color="7229AF" icon='tshirt' label='clothing'
                +eft_filter color="1255B8" icon='car' label='transportation'
                +eft_filter color="83DFF4" icon='lightning' label='energy'
                +eft_filter color="42E8C4" icon='leaf' label='zero waste'
                +eft_filter color="40C057" icon='smile' label='wellness'
                +eft_filter color="FAB005" icon='university' label='education'
                +eft_filter color="FD7E14" icon='paint brush' label='art'
                +eft_filter color="FF0000" icon='users' label='community core'
            // else 
            //     .ui.vertical.fluid.icon.menu.mobile.hidden
            //         +eft_filter color="FF73EA" icon='food' label='food'
            //         +eft_filter color="B785E1" icon='home' label='housing'
            //         +eft_filter color="7229AF" icon='tshirt' label='clothing'
            //         +eft_filter color="1255B8" icon='car' label='transportation'
            //         +eft_filter color="83DFF4" icon='lightning' label='energy'
            //         +eft_filter color="42E8C4" icon='leaf' label='zero waste'
            //         +eft_filter color="40C057" icon='smile' label='wellness'
            //         +eft_filter color="FAB005" icon='university' label='education'
            //         +eft_filter color="FD7E14" icon='paint brush' label='art'
            //         +eft_filter color="FF0000" icon='users' label='community core'
                
            // .ui.button create request
            img.ui.image(src="{{c.url '12_color_code'}}" class=darkmode_class)
        .eight.wide.scrolling.column
            // +quickchat
            .ui.one.column.grid 
                .centered.column
                
                    
                    // .ui.fluid.input 
                    //     textarea
                    // // div
                    +online_users

                .centered
                    +filter_model model='post' icon='for-you' color='1255B8'
                    //blue
                    +filter_model model='offer' icon='hand-holding-heart' color='FF73EA'
                    //pink
                    +filter_model model='request' icon='commercial' color='40C057'     
                    //green

                    div
                    +filter_model model='org' icon='groups' color='83DFF4'
                    //light blue
                    +filter_model model='project' icon='project' color='7229AF' 
                    //violet
                    +filter_model model='event' icon='calendar' color='FAB005'
                    //yellow
                    +filter_model model='role' icon='what-i-do' color='42E8C4'
                    //turquoise
                    +filter_model model='task' icon='task' color='B785E1'
                    //lavender
                    +filter_model model='resource' icon='field-and-tractor' color='FD7E14'  
                    //orange
                    +filter_model model='skill' icon='wrench' color='ff0000'
                    //red
                    
                    // +filter_model model='food' icon='food' 83DFF4
                .centered   
                    .ui.search
                        .ui.large.icon.input.search_bar
                            input.prompt(type='text' placeholder='add/request/search...')
                            i.search.icon
                        .results
                    +home_search
                        // .search.item.zoomer.mobile.hidden(title='search')
                            // .ui.icon.transparen.large.input
                            //     if current_query
                            //         i.remove.large.red.link.icon.clear_search
                            //     else
                            //         i.search.large.grey.icon
                            //     input.search_site(type='text' autocomplete="off" value=current_query)
                            // each picked_tags
                            //     .ui.label
                            //         i.remove.icon
                            //         |#{this}
                        // each search_results
                        //     button.ui.button.goto_doc
                        //         img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                        //         |{{cut title}}
                
                    +session_set key='view_mode' value='grid' icon='th' 
                    +session_set key='view_mode' value='list' icon='list'
                    +session_set key='view_mode' value='feed' icon='stream'
                    +session_toggle key='show_map' icon='map'
                    +session_toggle key='show_calendar' icon='calendar'
                if session_is 'view_mode' 'list'
                    .ui.items 
                        each doc_results 
                            .item
                                .content
                                    .header #{title}
                else if session_is 'view_mode' 'grid'
                    .ui.two.stackable.cards.scrolling
                        each doc_results
                            +home_card
                else    
                    .ui.ten.wide.column.centered.mobile.hidden
                        .ui.centered.one.cards.scrollin
                            each doc_results
                                +home_card
                    .ui.sixteen.wide.column.centered.mobile.only
                        .ui.centered.one.cards.scrolling
                            each doc_results
                                +home_card
                    
                                
        // .eight.wide.column.bordered
        .five.wide.scrolling.column
            +latest_updated_block
            +user_avatars
            div
            // +comet_chat_block
            .ui.divider
            #cometchat.invert
            +home_block template='bookmark_block' label='bookmarks' icon='bookmark'
            // +bookmark_block
            // +model_block model='post' icon='blog' color='42E8C4' title='latest posts'
            // +model_block model='role' icon='shield' color='42E8C4' title='latest roles'
            // +model_block model='resource' icon='car' color='42E8C4' title='nearest resources'
            // +model_block model='org' icon='groups' color='42E8C4' title='organizations'
            // +my_things
            if session_is 'show_map' true
                +mapbox
            if session_is 'show_calendar' true 
                +calendar_view
            +charts
            +user_connection_graph
            +online_allies
        // +thing_maker
        // if current_thing.
        //     if _is 'model'_edit
        // [current_thing_type]_edit
        //     +thing_picker
        //      +eft_picker
    // .ui.add.modal    
    //     +add
    .ui.fullscreen.modal
        with current_viewing_thing
            .ui.grid
                .sixteen.wide.column
                    if _is 'model' 'org'
                        .ui.circular.basic.button(href="/orgs")
                            +i name='groups' color='83DFF4'
                    if _is 'model' 'project'
                        .ui.circular.basic.button(href="/projects")
                            +i name='project' color='7229AF'
                    if _is 'model' 'post'
                        .ui.circular.basic.button(href="/posts")
                            +i name='for-you' color='1255B8'
                    if _is 'model' 'event'
                        .ui.circular.basic.button(href="/events")
                            +i name='calendar' color='FAB005'
                    if _is 'model' 'task'
                        .ui.circular.basic.button(href="/tasks")
                            +i name='task' color='B785E1'
                    if _is 'model' 'offer'
                        .ui.circular.basic.button(href="/offers")
                            +i name='hand-holding-heart' color='FF73EA'
                    if _is 'model' 'request'
                        .ui.circular.basic.button(href="/requests")
                            +i name='commercial' color='40C057'
                    if _is 'model' 'role'
                        .ui.circular.basic.button(href="/roles")
                            +i name='what-i-do' color='42E8C4'  
                    if _is 'model' 'resource'
                        .ui.circular.basic.button(href="/resources")
                            +i name='field-and-tractor' color='42E8C4'        
                            
                        .ui.icon.right.floated.button.toggle_editing
                            i.small.pencil.icon
                .thirteen.wide.centered.column
                    //on click go to full page
                    .ui.inline.centered.header.huge #{title}

            .scrollin.content
                if session_is 'editing' true
                    +Template.dynamic template=edit_template
                else 
                    +Template.dynamic template=view_template
    // +view_chats

template(name='home_block')
    details.ui.fluid.styled.accordion
        summary.title
            if icon 
                i.icon(class=icon)
            if label    
                |#{label}
            else
                |#{template}
        .content
            +Template.dynamic template=template


template(name='home_search')
    .ui.centered.icon.large.input
        if current_site_search
            i.remove.large.red.link.icon.clear_search
        else
            i.search.large.grey.icon
        input.search_site(type='text' autocomplete="off" value=current_site_search placeholder='search docs/users...')
    each picked_tags
        .ui.label
            i.remove.icon
            |#{this}
    each user_search_results
        button.ui.button.goto_doc
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
            |#{username}
    each doc_search_results
        button.ui.button.goto_doc(title=model)
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
            |{{cut title}}


template(name='latest_updated_block')
    details.ui.fluid.styled.accordion
        summary.title
            i.clock.icon
            |latest updated docs 
        .content
            .ui.animated.selection.list 
                each latest_updated_docs
                    a.item(href="/d/#{model}/#{_id}")
                        if image_id
                            img.ui.avatar.image.zoomer(src="{{c.url image_id height='300' width='300'}}")
                        .content
                            .header {{cut title}}
                            |updated {{from_now _updated_timestamp}}
                        



template(name='user_avatars')
    details.ui.fluid.styled.accordion
        summary.title
            i.users.icon
            |users 
        .content
            each all_users
                if image_id
                    a.fly_right(href="/user/#{username}" title=username)
                        img.ui.tiny.circular.inline.image.zoomer(src="{{c.url image_id height='300' width='300' gravity='face' crop='fill'}}")
                    // else 
                    //     i.large.user.link.icon.zoomer

template(name='bookmark_block')
    each bookmarked_docs 
        a.ui.tertiary.button.zoomer(href="/d/#{model}/#{_id}")
            img.ui.avatar.image.zoomer(src="{{c.url image_id height='300' width='300'}}")
            |#{title}


template(name='quickchat')
    .ui.inline.header 
        i.chat.icon
        |quickchat
    .ui.list
        each model_docs_helper 'quickchat_message' 
            .item #{body}
    .ui.fluid.icon.input 
        input.add_quickchat(type='text' placeholder='add...')
template(name='your_bookmarks')
    details.ui.fluid.styled.accordion
        summary.title
            i.large.bookmark.icon
            | bookmarks
        .content 
            each bookmark_docs 
                a.ui.button(href="/#{model}/#{_id}")
                    |#{title}
template(name='comet_chat_block')
    i.large.chat.icon(title='popup comet chat')
    // .ui.inline.header 
    //     i.chat.icon
    //     |popup chat 
    +launch_comet name='wolverine' id='superhero2' avatar='https://data-us.cometchat.io/assets/images/avatars/wolverine.png'
    +launch_comet name='captain_america' id='superhero2' avatar='https://data-us.cometchat.io/assets/images/avatars/captainamerica.png'
    +launch_comet name='spiderman' id='superhero3' avatar='https://data-us.cometchat.io/assets/images/avatars/spiderman.png'
    +launch_comet name='iron man' id='superhero1' avatar='https://data-us.cometchat.io/assets/images/avatars/ironman.png'

template(name='launch_comet')
    .ui.circular.basic.icon.button.launch(title=name)
        img.ui.avatar.image(src=avatar)
        // |#{name}

template(name='model_block')
    details.ui.fluid.styled.accordion
        summary.title
            // .ui.header 
            i.large.icon(class=icon)
            // +i name=icon cl='ui avatar image'
            |#{title}
            // i.dropdown.icon
        .content
            each model_block_docs
                a.ui.large.tertiary.button.fly_right(href="/#{model}/#{_id}")
                    if image_id
                        img.ui.avatar.image(src="{{c.url image_id}}" title=_author.username)
                    |#{title}

template(name='charts')
    // +i name='sad'
    .ui.blue.small.progress.invert(data-percent='65' title="{{to_percent sadness}}% sadness")
        .bar
        .progress.invert
            .label {{to_percent sadness}}% sadness 
    // +i name='happy'
    .ui.green.small.progress.invert(data-percent='54' title="{{to_percent joy}}% joy")
        .bar
        .progress.invert
            .label {{to_percent joy}}% joy 
    // +i name='fear'
    .ui.small.progress.invert(data-percent='78' title="{{to_percent fear}}% fear")
        .bar
        .progress.invert
            .label {{to_percent fear}}% fear 
    // +i name='disgust'
    // .ui.yellow.small.progress.invert(data-percent='34' title="{{to_percent disgust}}% disgust")
    //     .bar
    //     .progress.invert
    //         .label {{to_percent disgust}}% disgust 
    // +i name='angry'
    .ui.orange.small.progress.invert(data-percent='23' title="{{to_percent anger}}% anger")
        .bar
        .progress.invert
            .label {{to_percent anger}}% anger




//template(name='thing_maker_modal')        
template(name='home_card')
    // if _is 'model' 'role'
    //     +role_card
    // else if _is 'model' 'event'
    //     +event_card
    // else if _is 'model' 'recipe'
    //     +recipe_card
    // else 
    .ui.card
        a.content.show_moda.zoomer(href="/d/#{model}/#{_id}")
            span.left.floated
                if icon 
                    +i name=icon color=icon_color
                img.ui.avatar.image(src="{{c.url _author.image_id}}" title=_author.username)
                |#{_author.username}
            .f15.ui.centered.inline.header
                |#{title}
            span.right.floated
                |#{when}
                +model_icon
        if youtube_id 
            +youtube_view key='youtube_id'
        .content 
                |!{body}
                |!{brief}
                |!{content}
        img.ui.fluid.image(src="{{c.url image_id width=400 height=400}}")
        .content 
            .description
                // .ui.header lat: #{lat}
                // .ui.header lng: #{lng}
                //     // i.newspaper.large.icon
                if location 
                    .ui.label 
                        i.marker.icon
                        |#{location}
                // .ui.image.large.label 
                //     img.ui.image(src="{{c.url _author.image_id width=400 height=400}}")
                    // i.user.icon
                    |#{_author_username}
                // if tags 
                //     each seven_tags 
                //         .ui.basic.label #{this}

                +eft_view_item_small
      
            .content
                .left.floated
                    +voting
                .right.floated
                    | #{views} views
                // if _author_id
                //     +author_info
                
                    //- i.eye.icon
                //     each viewer_usernames
                //         .ui.small.inverted.label #{this}
                // //- +comments
                div
                +eft_viewer_small
                // if currentUser.admin_mode
                //     +print_this
                //     +remove_button
                // each tags 
                //     .ui.small.label #{this}
            // if template_exists
            //     +Template.dynamic template=model_template
        .extra.content
            +comments
      
      
      
template(name='model_icon')
    if _is 'model' 'org' 
        +i name='groups' color='83DFF4' cl='ui inline mini image'
    if _is 'model' 'project'
        +i name='project' color='7229AF' cl='ui inline mini image'
    if _is 'model' 'post'
        +i name='for-you' color='1255B8' cl='ui inline mini image'
    if _is 'model' 'event'
        +i name='calendar' color='FAB005' cl='ui inline mini image'
    if _is 'model' 'task'
        +i name='task' color='B785E1' cl='ui inline mini image'
    if _is 'model' 'offer'
        +i name='hand-holding-heart' color='FF73EA' cl='ui inline mini image'
    if _is 'model' 'request'
        +i name='commercial' color='40C057' cl='ui inline mini image'
    if _is 'model' 'role'
        +i name='what-i-do' color='42E8C4' cl='ui inline mini image'
    if _is 'model' 'resource'
        +i name='field-and-tractor' color='42E8C4' cl='ui inline mini image'

      
      
      
template(name='calendar_view')    
    // .ui.header 
    //     // i.calendar.icon
    //     |calendar 
    
    #inline_calendar 
        
      
template(name='user_impact_graph')
    .ui.segment
        .ui.header user impact graph
        a(href="https://observablehq.com/@d3/zoomable-sunburst" target="_window")
            // img.ui.image(src="/d3_sunburst.jpeg")
            img.ui.image(src="{{c.url 'd3_sunburst' }}")

        
template(name='user_connection_graph')
    .ui.segment
        .ui.header user connection graph
        a(href="https://observablehq.com/@garciaguillermoa/force-directed-graph" target="_window")
            img.ui.image(src="{{c.url 'network_graph' }}")
            // img.ui.image(src="/network_graph.png")
    
template(name='my_things')
    .ui.segment
        |my_things
        div
        |eft_categories x gratigen_thing_type x mainpage_search_bar x datetime_range x selected_map_area x my_things
        //(displays small cards of dashboard search parameters)
        div
        +home_card
        //should be small_card    
    
    
template(name='eft_filter')
    a.ui.header.item.toggle_item.invert(style="color:##{color}" class=side_item_class)
        |#{label}
        i.icon(class=icon)
        // if session_is 'expand_leftbar' true
        
        // if is_toggled
        //     i.large.checkmark.icon

           
template(name='dash_user_info') 
     .ui.two.column.grid
            .six.wide.column
                img.ui.circular.small.image(src="{{c.url currentUser.image_id width=120 height=120 gravity='face' crop='fill'}}") 
            .ten.wide.column
                .ui.header.printme
                    |#{currentUser.username}
                    div
                    |#{currentUser.tagline}


    // unless session_is 'expand_leftbar' true
    //     img.ui.small.circular.image(src="{{c.url currentUser.image_id width=600 height=600 gravity='face' crop='fill'}}")
    //     .ui.header
    //         | #{currentUser.username}
    //     .ui.small
    //         | #{currentUser.points}pts
    //     .ui.header
    //         | #{currentUser.tagline}
    // else     
    //     a.ui.two.column.grid.zoomer(href="/user/#{currentUser.username}")
    //         .column
    //             img.ui.small.circular.image(src="{{c.url currentUser.image_id width=600 height=600 gravity='face' crop='fill'}}")
    //         .column
    //             .ui.header
    //                 | #{currentUser.username}
    //             .ui.small
    //                 | #{currentUser.points}pts
    //             .ui.header
    //                 | #{currentUser.tagline}

    // i.user.icon
    // .ui.inline.header #{currentUser.name}
    // strong #{currentUser.points}p
    // div
    // .ui.inline.header #{currentUser.tagline}
        
           
           
template(name='filter_model')
    .ui.compact.circular.secondary.basic.button.pick_model.zoomer(class=button_class)
        +i name=icon color=color cl='ui mini inline image'
        // i.exchange.large.icon
        |#{model}
