template(name='model_edit')
    with _model
        .ui.stackable.padded.grid            
            .centered.row
                .four.wide.column
                    small editing model
                    .ui.header
                        // i.icon(class=icon)
                        +i name=icon color=stripped_icon_color
                        |#{title}
                    div
                    if currentUser.admin_mode 
                        +print_this
                    +creation_info
                    div
                    // a.ui.big.icon.green.circular.button(href="/m/#{slug}")
                    // a.ui.big.icon.green.circular.button(href="/m/#{slug}")
                    a.ui.big.icon.green.circular.fluid.invert.button.save_model
                        i.big.checkmark.icon
                    i#delete_model.trash.red.circular.link.icon
                    +boolean_edit key='show_filter_bar' label='show filter bar' icon='filter' direct=true
                    +boolean_edit key='show_facets' label='show facets' icon='filter' direct=true
                    +boolean_edit key='show_on_homepage' label='show on homepage' icon='home' direct=true
                    +boolean_edit key='has_title' label='title' icon='header' direct=true
                    +boolean_edit key='has_body' label='body' icon='content' direct=true
                    +boolean_edit key='has_image' label='image' icon='image' direct=true
                    +boolean_edit key='has_icon' label='icon' icon='icon' direct=true
                    +boolean_edit key='has_icon_color' label='icon color' icon='paint brush' direct=true
                    // +boolean_edit key='has_image' label='has image' direct=true
                    .ui.divider
                    // +permission_settings
                    .ui.header 
                        i.large.paint.icon
                        |ux
                    +number_edit key='row_count' label='# of rows' direct=true
                    .ui.header 
                        i.layout.icon
                        |widgets 
                    .ui.icon.large.compact.button.add_widget
                        i.plus.green.icon
                    .ui.list 
                        each widget_docs 
                            .item
                                +text_edit key='title' label='title' direct=true
                                +number_edit key='column_width' label='width' direct=true
                                i.remove.red.large.link.icon.zoomer.delete_widget(title='remove widget')
                .twelve.wide.column
                    details.ui.fluid.styled.accordion
                        summary.active.title.zoomer
                            .ui.inline.header 
                                +i name='info'
                                |#{_model.model} info
                            i.dropdown.icon
                        .active.content
                            .ui.form
                                +text_edit key='title' label='title' icon='header' direct=true
                                +slug_edit key='slug' label='slug' direct=true
                                +icon_edit key='icon' label='icon' direct=true
                                +color_edit key='icon_color' label='icon color' direct=true
                                +text_edit key='color_name' label='icon name' direct=true
                                div
                                +text_edit key='icon_color' label='icon color hex' direct=true
                                div
                                +number_edit key='ranking' label='sort ranking' icon='sort' direct=true
                                +text_edit key='description' label='description' direct=true
                                +array_edit key='tags' label='tags' direct=true
                                //- +text_edit key='collection' label='collection' direct=true
                                +key_value_edit key='collection' value='docs' icon='document'
                                +key_value_edit key='collection' value='users' icon='users'
                        
                                +multi_doc_edit key='actions' label='actions' ref_model='action' direct=true
                                +text_edit key='app' label='app' direct=true
                    details.ui.fluid.styled.accordion
                        summary.active.title.zoomer
                            .ui.inline.header 
                                // i.large.cubes.icon
                                +i name='template'
                                |#{active_block_docs.count} blocks 
                                i.dropdown.icon
                        .active.content
                            .ui.header 
                                i.lightning.icon
                                |#{active_block_docs.count} active 
                            .ui.styled.fluid.accordion
                                each active_block_docs
                                    +block_editor
                            .ui.header
                                +i name='module'
                                |blocks/fields/actions
                            +model_block_menu_item type='model_ref' label='model reference' icon='database'
                            +model_block_menu_item type='title' label='title' icon='header'
                            +model_block_menu_item type='field' label='field' icon='list'
                            +boolean_edit key='show_comments' label='comments' icon='chat' direct=true
                            +boolean_edit key='show_voting' label='voting' icon='elections' direct=true
                            +model_edit_fields
                            .spacer
                            // +comments


template(name='block_editor')
    .ui.segment
        .active.title.zoomer
            .ui.inline.header(title=_id)
                if _is 'type' 'model_ref'
                    i.fork.icon
                else if _is 'type' 'title'
                    i.header.icon
                else if _is 'type' 'field'
                    i.list.icon
                |#{type}
            i.large.dropdown.icon
            // .ui.label #{_id}
        .active.content
            // +multi_doc_edit key='parent_model_ids' label='parent models' ref_model='model' direct=true icon='fork'
            if _is 'type' 'model_ref'
                +single_doc_edit key='model_ref_id' label='referenced model' ref_model='model' direct=true icon='fork'
            else if _is 'type' 'title'
                .ui.header title
            else _is 'type' 'field'
                +field_edit
            .ui.inline.header
                i.paint.brush.icon
                |ux
            +number_edit key='width' min=0 direct=true
            +number_edit key='column' min=0 max=../column_count direct=true
            +number_edit key='row' min=0 max=../row_count direct=true
            a.ui.icon.circular.red.button.invert.remove_block(title='delete block')
                i.large.remove.icon



template(name='model_block_menu_item')
    .ui.button.add_new_block
        i.icon(Class=icon)
        |#{label}
        
                    
template(name='model_edit_fields')
    //- |#{model}
    //- each fields
    //-     +Template.dynamic template=edit_template 
    //-     // .ui.header #{key} [#{field}] #{label}
    .spacer
    .ui.inline.header 
        +i name='list'
        |fields
    .spacer
    .ui.segments
        each fields
            +field_edit
        
            
template(name='field_edit')
    .ui.segment
        .title.field_edit.zoomer
            |#{rank}
            if icon
                +i name=icon cl='ui mini inline image'
                //- i.icon(class=icon)
            .ui.inline.header #{title}
            .ui.label #{field_type}
            if faceted
                i.filter.icon(title='faceted')
            if sortable
                i.sort.amount.down.icon
            each view_roles
                .ui.basic.small.label #{this}
            //- .ui.icon.compact.button
            //-     i.up.caret.icon
            //- .ui.icon.compact.button
            //-     i.down.caret.icon
            if viewing_content    
                i.large.caret.down.icon
            else 
                i.large.caret.right.grey.icon
        // .content
        +text_edit key='title' label='label' direct=true
        +slug_edit key='key' label='key' direct=true
        +number_edit key='rank' label='rank' direct=true      
        +icon_edit key='icon' label='icon' direct=true       
        //- +textarea_edit key='description' label='description' direct=true
        .spacer
        if currentUser
            +text_edit key='field_type' label='field type' direct=true
        +key_value_edit key='field_type' value='text' icon='header'
        +key_value_edit key='field_type' value='array' icon='list'
        +key_value_edit key='field_type' value='boolean' icon='green toggle off'
        +key_value_edit key='field_type' value='number' icon='blue hashtag'
        +key_value_edit key='field_type' value='float' icon='blue hashtag'
        +key_value_edit key='field_type' value='html' icon='code'
        +key_value_edit key='field_type' value='textarea' icon='content'
        +key_value_edit key='field_type' value='image' icon='picture'
        +key_value_edit key='field_type' value='date' icon='calendar'
        +key_value_edit key='field_type' value='time' icon='clock'
        +key_value_edit key='field_type' value='link' icon='linkify'
        +key_value_edit key='field_type' value='youtube' icon='video'
        +key_value_edit key='field_type' value='color' icon='paint brush'
        +key_value_edit key='field_type' value='single_doc' icon='clone'
        +key_value_edit key='field_type' value='multi_doc' icon='clone'
        +key_value_edit key='field_type' value='single_user' icon='clone'
        +key_value_edit key='field_type' value='multi_user' icon='clone'
        if can_edit
            i.large.code.icon
            +single_doc_edit key='field_type' ref_model='field_type' label='field type' direct=true        
            .spacer
            // +text_edit key='field_type_id' label='field type id' direct=true        
            // +single_doc_edit key='field_type_id' ref_model_slug='field_type' label='field type id' direct=true        
            .spacer
            // +permission_settings
        .spacer
        +boolean_edit key='searchable' label='searchable' icon='search' direct=true
        +boolean_edit key='faceted' label='faceted' icon='diamond' direct=true
        +boolean_edit key='sortable' label='sortable' icon='chevron-down' direct=true
        // .spacer
        // if is_ref  
        //     +single_doc_edit key='ref_model' ref_model_slug='model' label='reference model' direct=true
        // else if is_user_ref
        //     +single_doc_edit key='role_filter' ref_model_slug='role' label='role filter' direct=true
        // div                  

        +remove_button
        // if is_admin
        //     +print_this
