template(name='model_edit')
    with current_doc
        .ui.stackable.padded.grid            
            .centered.row
                .four.wide.column
                    small editing model
                    .ui.header
                        // i.icon(class=icon)
                        +i name=icon
                        |#{title}
                    div
                    |created
                    +creation_info
                    div
                    a.ui.big.icon.green.circular.button(href="/m/#{slug}")
                        i.big.checkmark.icon
                    i#delete_model.trash.red.circular.link.icon
                    .ui.divider
                    +boolean_edit key='show_filter_bar' label='show filter bar' direct=true
                    +boolean_edit key='show_facets' label='show facets' direct=true
                    +boolean_edit key='show_homepage' label='show on homepage' direct=true
                .twelve.wide.column
                    .ui.segment 
                        +multi_doc_edit key='parent_model_ids' label='parent models' ref_model='model' direct=true icon='fork'
                    .ui.segment
                        .ui.header 
                            +i name='info'
                            |main info
                        .ui.form
                            +text_edit key='title' label='title' direct=true
                            +slug_edit key='slug' label='slug' direct=true
                            +icon_edit key='icon' label='icon' direct=true
                            +text_edit key='description' label='description' direct=true
                            +array_edit key='tags' label='tags' direct=true
                            //- +text_edit key='collection' label='collection' direct=true
                            +key_value_edit key='collection' value='docs' icon='document'
                            +key_value_edit key='collection' value='users' icon='users'
                    
                            +multi_doc_edit key='actions' label='actions' ref_model='action' direct=true
                            +text_edit key='app' label='app' direct=true
                    .ui.segment
                        .ui.header 
                            +i name='list'
                            |fields
                        +model_edit_fields
                    .ui.segment
                        .ui.header
                            +i name='module'
                            |blocks/actions
                        +boolean_edit key='show_comments' label='comments' icon='chat' direct=true
                        +boolean_edit key='show_voting' label='voting' icon='elections' direct=true
                    .spacer
                    +comments
                    .ui.header
                        +i name='shield'
                        |permissions
                    +multi_doc_edit key='view_roles' label='view roles' ref_model='role' direct=true
                    +multi_doc_edit key='edit_roles' label='edit roles' ref_model='role' direct=true
                    
                    
                    
template(name='model_edit_fields')
    //- |#{model}
    //- each fields
    //-     +Template.dynamic template=edit_template 
    //-     // .ui.header #{key} [#{field}] #{label}
    .spacer
    .ui.inline.header 
        +i name='list'
        |fields
    .ui.icon.large.compact.button.add_field
        i.plus.green.icon
    .spacer
    .ui.segments
        each fields
            +field_edit
        
            
template(name='field_edit')
    .ui.segment.field_segment
        a.title.field_edit.zoomer(href="#")
            |#{rank}
            if icon
                +i name=icon cl='ui mini inline image'
                //- i.icon(class=icon)
            .ui.inline.header #{title}
            .ui.label #{field_type}
            if faceted
                i.filter.icon(title='faceted')
            if sortable
                i.sort.amount.down.icon
            each view_roles
                .ui.basic.small.label #{this}
            //- .ui.icon.compact.button
            //-     i.up.caret.icon
            //- .ui.icon.compact.button
            //-     i.down.caret.icon
            if viewing_content    
                i.large.caret.down.icon
            else 
                i.large.caret.right.grey.icon
        if viewing_content
            .content
                +text_edit key='title' label='label' direct=true
                +slug_edit key='key' label='key' direct=true
                +number_edit key='rank' label='rank' direct=true      
                +icon_edit key='icon' label='icon' direct=true       
                //- +textarea_edit key='description' label='description' direct=true
                .spacer
                if currentUser
                    +text_edit key='field_type' label='field type' direct=true
                +key_value_edit key='field_type' value='text' icon='header'
                +key_value_edit key='field_type' value='array' icon='list'
                +key_value_edit key='field_type' value='boolean' icon='green toggle off'
                +key_value_edit key='field_type' value='number' icon='blue hashtag'
                +key_value_edit key='field_type' value='float' icon='blue hashtag'
                +key_value_edit key='field_type' value='html' icon='code'
                +key_value_edit key='field_type' value='textarea' icon='content'
                +key_value_edit key='field_type' value='image' icon='picture'
                +key_value_edit key='field_type' value='date' icon='calendar'
                +key_value_edit key='field_type' value='time' icon='clock'
                +key_value_edit key='field_type' value='link' icon='linkify'
                +key_value_edit key='field_type' value='youtube' icon='video'
                +key_value_edit key='field_type' value='color' icon='paint brush'
                +key_value_edit key='field_type' value='single_doc' icon='clone'
                +key_value_edit key='field_type' value='multi_doc' icon='clone'
                +key_value_edit key='field_type' value='single_user' icon='clone'
                +key_value_edit key='field_type' value='multi_user' icon='clone'
                if currentUser
                    i.large.code.icon
                    +single_doc_edit key='field_type' ref_model='field_type' label='field type' direct=true        
                    .spacer
                    // +text_edit key='field_type_id' label='field type id' direct=true        
                    // +single_doc_edit key='field_type_id' ref_model_slug='field_type' label='field type id' direct=true        
                    .spacer
                    +multi_doc_edit key='view_roles' ref_model_slug='role' label='view roles' direct=true icon='eye'          
                    .spacer
                    +multi_doc_edit key='edit_roles' ref_model_slug='role' label='edit roles' direct=true icon='pencil'        
                    +text_edit key='ref_model' label='reference model' direct=true
                .spacer
                +boolean_edit key='faceted' label='faceted' icon='diamond' direct=true
                +boolean_edit key='sortable' label='sortable' icon='chevron-down' direct=true
                .spacer
                if is_ref  
                    +single_doc_edit key='ref_model' ref_model_slug='model' label='reference model' direct=true
                else if is_user_ref
                    +single_doc_edit key='role_filter' ref_model_slug='role' label='role filter' direct=true
                div             
                +remove_button
                if is_admin
                    +print_this
