template(name='org_card')
    .content
        |#{member_ids.length} members
        .smallscroll
            |!{description}
        //+ismall name='tags' cl='ui inline image'
        each ten_tags
            .ui.basic.label #{this}
        // if is_admin
        //     .ui.small.header slug: #{slug}
                


                
template(name='org_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each org_events
            .item #{text} #{when}
            
template(name='org_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='org_reservations')
    .ui.header
        +ismall name='invoice'
        |org reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button


template(name='org_edit')
    .ui.stackable.padded.grid
        .row
            .five.wide.column.scrolling
                .ui.header 
                    |edit org
                a.ui.big.icon.fluid.green.button(href="/org/#{_id}" title='save')
                    i.checkmark.large.icon
                +remove_button
                +image_edit key='image_id' label='image' 
                +link_edit key='link' label='link' 
            .six.wide.column.scrolling
                +text_edit key='title' 
                +html_edit key='description' label='content' icon='content' 
            .five.wide.column.scrolling
                +single_user_edit key='leader' label='leader' icon='crown' 
                +array_edit key='tags' label='tags' icon='tags' 
                
                +text_edit key='location' 
                +geolocate_button
                +array_edit key='location_tags' label='location tags' icon='marker' 
                +text_edit key='contact_info' label='contact info' icon='info' 
                +multi_user_edit key='member_ids' label='members' 
                +boolean_edit key='private' label='private' 
                +multi_user_edit key='leader_ids' label='tribe leaders'
                    //- +org_account_miniview
                    //- +org_roles_miniview
                  
                    //- +org_units (departments, stakeholder classes, ticketholders etc. unit structure widgets)
                            +org_users_miniview
                            
                        objectives
                        key results
                        sprint plan
                                                    
                    //- +role_quick_create
                    //- +project_quick_create
                    //- +event_quick_create
                    //- +task_quick_create
                    //- +badge_quick_create
                    //- +token_quick_create
                    //- +resource_quick_create
                    //- +skill_quick_create
                    //- +service_quick_create
                    //- +trip_quick_create
                    //- +food_quick_create
                    //- +product_quick_create


                    
template(name='org_layout')
    +nav
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .ui.header 
                    if icon
                        +i name=icon
                    |#{title}
                a.ui.circular.basic.button(href="/orgs")
                    i.left.chevron.icon
                    +i name='campfire' cl='ui mini inline image'
                    |orgs
                if can_edit
                    a.ui.circular.basic.icon.button.fly_down(href="/org/#{_id}/edit")
                        i.setting.large.icon
                +image_view key='image_id' icon='image' label='image'
                // +array_view key='tags' icon='tags'
                .spacer
                if link
                    a.ui.basic.circular.button(href=link target='_window')
                        i.external.icon
                        |view site
                    .spacer
                div
                .spacer
                if address
                    a.ui.compact.basic.circular.button(href=address_link target='_window')
                        i.marker.icon
                        |#{address}
                +multi_user_view key='member_ids' label='members' 
                +org_history
                +org_subscription

            .eight.wide.column
                +yield
template(name='org_view')
    .eight.wide.column
        +html_view key='description' icon='content' label='description'
        .ui.inline.header 
            +i name='crown' cl='ui avatar image'
            |leader: 
        with leader 
            +user_info
        // a.ui.basic.button(href="/user/#{leader}")
        //     |#{leader}
        .ui.header 
            +i name='orgs'
            |#{member_ids.count} members
        .ui.large.selection.animated.list
            each member_ids
                +user_info
                // a.item(href="/org/#{_id}/#{username}")
                //     img.ui.mini.image(src="{{c.url image_id width=200 height=200}}")
                //     .content
                //         .header
                //             |#{username}
    .eight.wide.column
        if is_member
            .ui.button.leave(title='click to leave')
                i.checkmark.icon
                |member
        else 
            .ui.button.join(title='')
                i.user.plus.icon
                |join
        // +doc_array_toggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
        .ui.header 
            +i name='rss'
            |activity
        each log_items
            +log_item
        .ui.header 
            +i name='line-chart'
            |stats
        i.refresh.link.icon.refresh_org_stats
        .ui.large.list
            .item #{member_count} members
            .item #{meal_count} meals
            .item #{dish_count} dishes
            .item #{total_credit_exchanged} credits exchanged
        //+roles

                                
template(name='user_orgs')
    .scrolling
        if is_current_user
            .ui.circular.button.add_org
                i.plus.icon
                |org
        each orgs
            +profile_org_item
