

//multi-stakeholder cooperatives, 
    stakeholder categories, percentage sliders
//businesses w/departments, 
    Governance
    Strategy
    Finance
    Marketing
    Research and Development (visioning and design)
    Information Technology
    Customer Service
    Human Resources
    Production
    Quality Control
    Distribution
    Sourcing
    Operations
    Design
//incident ics teams, ecs roles
    Ops, fin, adm, log, com, pln
        lead support safety 
        safety officer, public info officer, liason officer, incident commander
        

template(name='post_card')
    .content
        if youtube_id 
            +youtube_view key='youtube_id'
        .content
            if private 
                i.large.lock.icon
            .smallscroll
                |!{content}


template(name='set_post_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        
        
                
template(name='user_posts')
    .ui.inline.header 
        +i name='blog'
        |user posts
    if is_current_user
        .ui.basic.icon.button.add_post
            i.large.plus.icon
    .ui.padded.stackable.one.column.grid
        .column
            .ui.stackable.cards.scrolling
                each post_docs 
                    .ui.card
                        .content
                            a(href="/post/#{_id}") 
                                img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
    
                            .smallscroll 
                                |!{content}
                            // |created #{when}
                            small {{when}}
                            a.ui.icon.button(href='/post/#{_id}')
                                i.large.chevron.right.icon
                            
        
        

template(name='set_view_mode_post')
    .item.set_view
        i.icon(class=icon)
        |#{title}


// template(name='set_limit')
    .ui.compact.small.basic.button.set_limit #{amount}



        
template(name='post_item')
    .ui.fluid.segment.view_post.pointer
        a.ui.header(href="/post/#{_id}") #{title}
        div
        .ui.small.grey.inline.header #{when}
        | !{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='post_edit')
    .ui.stackable.padded.grid
        .row 
            .ten.wide.column
                .ui.inline.header 
                    +icolor name='news' cl='ui image inline pointer'
                    |edit post
                +text_edit key='title' label='title' direct=true
                +html_edit key='content' label='content' direct=true
                +boolean_edit key='has_youtube' label='attach youtube' icon='youtube' direct=true
                if has_youtube
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
            .six.wide.column
                .ui.red.button.delete_post
                    i.remove.icon
                    |delete post
                .ui.header 
                    small author
                    |#{_author.username}
                if is_dev
                    +single_user_edit key='_author_id' label='author' direct=true
                +image_edit key='image_id' label='image' direct=true
                div 
                .ui.header
                    +i name='audience'
                    |audience
                +boolean_edit key='private' label='private' 
                if private 
                    +multi_user_edit key='access_user_ids' label='user picker'
                +group_picker
            .ten.wide.column
                +text_edit key='location' 
                +geolocate_button

                +array_edit key='tags' label='tags' icon='tags'
                +boolean_edit key='published' icon='visible'
                if is_dev 
                    +text_edit key='model' label='model' icon='database'
                +array_edit key='location_tags' label='location_tags' icon='marker'
                // unless published
                //     a.ui.fluid.green.button.submit(href="/save")
                //         i.checkmark.icon
                //         |publish
                // else
                //     .ui.basic.button.unpublish 
                //         |unpublish

