template(name='user_layout')
    +nav
    with current_user
        .ui.stackable.padded.grid
            .row
                img.ui.image.checkin_banner(src="{{c.url image_id2 width=1000 height=1000 crop='crop'}}")
                .four.wide.column.scrolling
                    a.ui.fluid.large.basic.circular.button.fly_left(href='/users')
                        i.chevron.left.icon
                        +i name='groups'
                        // |users
                    a.item(href="/user/#{username}")
                        img.ui.circular.centered.image(src="{{c.url image_id height=400 width=400 gravity='face' crop='fill'}}")
                    // .spacer
                    // a(href="/user/#{username}")
                    .ui.center.aligned.header
                        // strong #{name}
                        strong #{first_name} #{last_name}
                        | @#{username}        
                    a.ui.inline.header(href="/user/#{username}/credit" title='credit')
                        +i name='coins'
                        |#{user.points}p
                    if is_current_user
                        a.ui.circular.button(href="/user/#{username}/edit" title='profile settings')
                            i.cog.icon
                            |edit profile
                        // a.ui.button.logout_other_clients(href="#" title='logout other clients')
                        //     i.globe.icon
                        //     |log out other clients
                    else if is_admin
                        a.ui.circular.button(href="/user/#{username}/edit" title='profile settings')
                            +i name='settings' cl='ui avatar image'
                            |edit profile
                    // unless is_current_user
                    //     +friend_button
                    if is_current_user
                        .ui.button.logout
                            i.sign.out.alternate.icon
                            |log out
                    +array_view key='tags' label='tags' direct=true icon='tags'
                    if link 
                        a.ui.button(href=link target='_window')
                            |app link
                    if is_current_user
                        +boolean_edit key='online' label='online' direct=true
                        +text_edit key='current_status' label='status' icon='clock' direct=true
                    else 
                        if online 
                            .ui.green.large.label 
                                i.large.checkmark.icon
                                |online
                        else
                            .ui.disabled.large.label 
                                |offline
                        if current_status
                            .ui.small.header(title='status' )
                                i.grey.clock.icon
                                |!{current_status}
                    if is_dev
                        .ui.small.inline.header #{_id}
                        if i_have_points
                            .ui.basic.circular.button.send(title='send points')
                                i.red.gift.large.icon
                                span send pts
                            // .ui.basic.circular.button.request(title='request points')
                            //     i.concierge.bell.large.teal.icon
                            //     span request
                        else
                            .ui.disabled.basic.circular.button(title='send points')
                                i.red.gift.large.icon
                                span send pts
                            // .ui.disabled.basic.circular.button(title='request points')
                            //     i.concierge.bell.teal.icon
                            //     span request
                        a.ui.large.compact.basic.circular.icon.button(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}" title="#{user.username} messages")
                            i.chat.large.blue.icon
                            // | message
        
        
                            
                .twelve.wide.column.scrolling
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                        i.large.dashboard.icon
                        span dashboard
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/about" class="{{isActiveRoute 'user_about'}}" title="#{user.username} info")
                        i.info.large.icon
                        span about
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/credits" class="{{isActiveRoute 'user_credits'}}" title="#{user.username} credits")
                        i.large.chevron.down.icon
                        span pts received
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/debits" class="{{isActiveRoute 'user_sent'}}" title="#{user.username} sent")
                        i.large.gift.icon
                        span pts sent
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                        i.large.dollar.icon
                        span credit
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/events" class="{{isActiveRoute 'user_events'}}" title="#{user.username} events")
                        i.calendar.large.icon
                        span events
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/requests" class="{{isActiveRoute 'user_requests'}}" title="#{user.username} requests")
                        i.large.concierge.bell.icon
                        span requests
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/offers" class="{{isActiveRoute 'user_offers'}}" title="#{user.username} offers")
                        i.large.hand.holding.heart.icon
                        span offers
                    a.ui.large.basic.circular.icon.button.select_term.profile_nav_item(href="/user/#{username}/messages" class="{{isActiveRoute 'user_messages'}}" title="#{user.username} messages")
                        i.chat.large.icon
                        span chat
                    a.ui.large.compact.basic.button(href="/user/#{username}/badges" class="{{isActiveRoute 'user_badges'}}" title="#{user.username} badges")
                        i.certificate.large.icon
                        span.mobile.hidden badges
                    a.ui.large.compact.basic.circular.icon.button(href="/user/#{username}/genekeys" class="{{isActiveRoute 'user_genekeys'}}" title="#{user.username} genekeys")
                        i.large.dna.icon
                        // span genekeys
                    // .spacer
                    // .spacer
                    if is_dev
                        +print_this
                    // a.ui.icon.large.button.select_term.no_blink(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                    //     // i.large.dashboard.icon
                    //     +i name='dashboard'
                    //     span dashboard
                    // if currentUser
                    //     a.ui.large.button.select_term.no_blink(href="/user/#{username}/posts" class="{{isActiveRoute 'user_posts'}}" title="#{user.username} posts")
                    //         // i.newspaper.large.icon
                    //         +i name='blog'
                    //         |#{user_post_count}
                    //         span posts
                    //     a.ui.icon.large.button.select_term.no_blink(href="/user/#{username}/credits" class="{{isActiveRoute 'user_credits'}}" title="#{user.username} credits")
                    //         // i.large.chevron.down.icon
                    //         +i name='donate'
                    //         span pts received
                    +yield    


           
template(name='user_credit')
    .ui.stackable.one.column.padded.grid
        if is_current_user
            .column
                .ui.inline.header
                    // i.money.icon
                    +i name='money'
                    |{{current_user.points}}
                    |points
                // .ui.inline.header 
                //     // i.shield.icon
                //     +i name='shield'
                //     |admin
                .ui.big.icon.button.add_credit(title='add credit')
                    |+1
                // // +number_edit key='credit' label='edit credit' min='0' step='1' max='1000' direct=true
                // .ui.big.icon.button.remove_credit(title='remove credit')
                //     |-1
                +topup_button amount=10
                +topup_button amount=20
                +topup_button amount=100
                // |includes 2% credit card processing fee
                // .ui.action.input
                //     input.deposit_amount(type='number' min='1' placeholder='deposit')
                //     .ui.icon.button.add_credits   
                //         i.right.chevron.icon
                        
                .ui.large.bulleted.list.smallscroll
                    each topups
                        .item 
                            .content
                                .header 
                                    |$#{amount}
                                .description 
                                    |#{when} {{long_date _timestamp}}
                                    //- if is_dev
                                    +remove_button        
                                    
                                    
                                    
                                    
                                    
                    
template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.grid
        .row
            .sixteen.wide.column
                .ui.inline.header() #{points}pts
                .ui.big.basic.circular.label() {{to_percent one_ratio}}% one ratio
                .ui.large.basic.circular.label() #{flow_volume} volume
                //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
        .three.column.row
            .column
                .ui.header groups 
                .ui.header projects 
                
            .column
                // a.ui.inline.header(href="/user/#{username}/credits")
                .ui.inline.header
                    i.chevron.down.large.icon
                    |#{total_credit_amount}p
                    // |received
                    small(title='received count') (#{credit_count}x) 
                    small(title='rank') ##{global_credit_count_rank}
                i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.small.basic.circular.label #{title}
                        // small #{count}
                .medscroll.ui.segments
                    each user_credits
                        +user_credit_segment
            .column
                // a.ui.inline.spaced.header(href="/user/#{username}/debits")
                .ui.inline.spaced.header
                    i.chevron.up.icon
                    |#{total_debit_amount}p
                    // |sent
                    small(title='debit count') (#{debit_count}x)
                    small(title='rank') ##{global_debit_count_rank}
                i.tags.icon(title='credit tags')
                each debit_tags
                    .ui.small.basic.circular.label #{title} 
                        // small #{count}
                div
                .medscroll.ui.segments
                    each user_debits
                        +user_debit_segment
                        
                        
template(name='user_friend_button')
    if is_friend
        .ui.blue.large.icon.button.unfriend(title='unfriend')
            i.checkmark.large.icon
    else
        .ui.large.icon.button.friend(title='friend')
            i.user.plus.large.icon
                        
                        
                        
                        
template(name='user_badges')
    .ui.center.aligned.header 
        +i name='prize'
        |user badges
    .ui.small.centered.five.stackable.cards
        each user_badges
            a.ui.card(href="/badge/#{_id}")
                +icolorlg name=icon cl='ui fluid image'
                .content
                    .ui.header #{location}: #{title}
                        
                        
template(name='user_events')  
    .ui.header 
        +i name='calendar'
        |user events
    each user_events
        .ui.segment
            .ui.small.header #{date} #{start_time}
            div
            +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
            if can_edit
                +remove_button
            //- div
            +author_info
            +creation_info
    .ui.segment
        .ui.header.pointer.toggle_maybe
            i.question.orange.icon
            |maybe
        if session_is 'view_maybe'
            each user_maybe_events
                .ui.segment
                    a.ui.inline.header(href="/event/#{_id}/") #{title} 
                    .ui.small.inline.header #{date} #{start_time}
                    +author_info
                    +creation_info
    .ui.segment
        .ui.header.pointer
            i.checkmark.icon
            |went
        if session_is 'view_maybe'
            each user_maybe_events
                .ui.segment
                    a.ui.inline.header(href="/event/#{_id}/") #{title} 
                    .ui.small.inline.header #{date} #{start_time}
                    +author_info
                    +creation_info
    .ui.segment
        .ui.header.pointer
            i.green.checkmark.icon
            |going
        if session_is 'view_maybe'
            each user_maybe_events
                .ui.segment
                    a.ui.inline.header(href="/event/#{_id}/") #{title} 
                    .ui.small.inline.header #{date} #{start_time}
                    +author_info
                    +creation_info
    .ui.segment
        .ui.header.pointer
            i.chess.king.icon
            |hosted
        if session_is 'view_maybe'
            each user_maybe_events
                .ui.segment
                    a.ui.inline.header(href="/event/#{_id}/") #{title} 
                    .ui.small.inline.header #{date} #{start_time}
                    +author_info
                    +creation_info                        
                        