template(name='user_layout')
    with current_user
        .ui.stackable.padded.grid
            .row
                //- img.ui.image.checkin_banner(src="{{c.url banner_image width=1000 height=1000 crop='crop'}}")
                .four.wide.column.scrolling
                    a.ui.fluid.large.basic.circular.button.fly_left(href='/users')
                        i.chevron.left.icon
                        +i name='groups'
                        // |users
                    a.item(href="/user/#{username}")
                        img.ui.circular.centered.image(src="{{c.url image_id height=400 width=400 gravity='face' crop='fill'}}")
                    // .spacer
                    // a(href="/user/#{username}")
                    .ui.center.aligned.header
                        // strong #{name}
                        strong #{first_name} #{last_name}
                        | @#{username}        
                    a.ui.inline.header(href="/user/#{username}/credit" title='credit')
                        +i name='coins'
                        |#{user.points}p
                    if is_current_user
                        a.ui.circular.button(href="/user/#{username}/edit" title='profile settings')
                            i.cog.icon
                            |edit profile
                    else if is_admin
                        a.ui.circular.button(href="/user/#{username}/edit" title='profile settings')
                            +i name='settings' cl='ui avatar image'
                            |edit profile
                    // unless is_current_user
                    //     +friend_button
                    if is_current_user
                        .ui.button.logout
                            i.sign.out.alternate.icon
                            |log out
                    if admin
                        .ui.header
                            i.shield.icon
                            |admin
                    +array_view key='tags' label='tags' direct=true icon='tags'
                    a.ui.button.logout_other_clients(href="#" title='logout other clients')
                        i.globe.icon
                        |log out other clients
                    if link 
                        a.ui.button(href=link target='_window')
                            |app link
                    if is_current_user
                        +boolean_edit key='online' label='online' direct=true
                        +text_edit key='current_status' label='status' icon='clock' direct=true
                    else 
                        if online 
                            .ui.green.large.label 
                                i.large.checkmark.icon
                                |online
                        else
                            .ui.disabled.large.label 
                                |offline
                        if current_status
                            .ui.small.header(title='status' )
                                i.grey.clock.icon
                                |!{current_status}
                    if is_dev
                        .ui.small.inline.header #{_id}
                            
                .twelve.wide.column.scrolling
                    a.ui.icon.large.button.select_term.no_blink(href="/user/#{username}/" class="{{isActiveRoute 'user_dashboard'}}" title="#{user.username} dashboard")
                        // i.large.dashboard.icon
                        +i name='dashboard'
                        span dashboard
                    if currentUser
                        a.ui.large.button.select_term.no_blink(href="/user/#{username}/posts" class="{{isActiveRoute 'user_posts'}}" title="#{user.username} posts")
                            // i.newspaper.large.icon
                            +i name='blog'
                            |#{user_post_count}
                            span posts
                        a.ui.icon.large.button.select_term.no_blink(href="/user/#{username}/credits" class="{{isActiveRoute 'user_credits'}}" title="#{user.username} credits")
                            // i.large.chevron.down.icon
                            +i name='donate'
                            span pts received
                
                    .ui.stackable.grid
                        // .spacer
                        .sixteen.wide.column
                            +yield 
           
template(name='user_credit')
    .ui.stackable.one.column.padded.grid
        if is_current_user
            .column
                .ui.inline.header
                    // i.money.icon
                    +i name='money'
                    |{{current_user.points}}
                    |points
                // .ui.inline.header 
                //     // i.shield.icon
                //     +i name='shield'
                //     |admin
                .ui.big.icon.button.add_credit(title='add credit')
                    |+1
                // // +number_edit key='credit' label='edit credit' min='0' step='1' max='1000' direct=true
                // .ui.big.icon.button.remove_credit(title='remove credit')
                //     |-1
                +topup_button amount=10
                +topup_button amount=20
                +topup_button amount=100
                // |includes 2% credit card processing fee
                // .ui.action.input
                //     input.deposit_amount(type='number' min='1' placeholder='deposit')
                //     .ui.icon.button.add_credits   
                //         i.right.chevron.icon
                        
                .ui.large.bulleted.list.smallscroll
                    each topups
                        .item 
                            .content
                                .header 
                                    |$#{amount}
                                .description 
                                    |#{when} {{long_date _timestamp}}
                                    //- if is_dev
                                    +remove_button        
                                    
                                    
                                    
                                    
                                    
                    
template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.grid
        .row
            .sixteen.wide.column
                .ui.inline.header() #{points}pts
                .ui.big.basic.circular.label() {{to_percent one_ratio}}% one ratio
                .ui.large.basic.circular.label() #{flow_volume} volume
                //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
        .four.column.row
            .column
                // a.ui.inline.header(href="/user/#{username}/credits")
                .ui.inline.header
                    i.chevron.down.large.icon
                    |#{total_credit_amount}p
                    // |received
                    small(title='received count') (#{credit_count}x) 
                    small(title='rank') ##{global_credit_count_rank}
                i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.small.basic.circular.label #{title}
                        // small #{count}
                .medscroll.ui.segments
                    each user_credits
                        +user_credit_segment
            .column
                // a.ui.inline.spaced.header(href="/user/#{username}/debits")
                .ui.inline.spaced.header
                    i.chevron.up.icon
                    |#{total_debit_amount}p
                    // |sent
                    small(title='debit count') (#{debit_count}x)
                    small(title='rank') ##{global_debit_count_rank}
                i.tags.icon(title='credit tags')
                each debit_tags
                    .ui.small.basic.circular.label #{title} 
                        // small #{count}
                div
                .medscroll.ui.segments
                    each user_debits
                        +user_debit_segment