template(name='project_card')
    a.ui.card.fly_right(href="/project/#{_id}")
        if youtube_id 
            +youtube_view key='youtube_id' direct=true
        if image_id 
            +image_view key='image_id' direct=true
        .content
            .ui.inline.header #{title}
            if private 
                i.large.lock.icon
            .smallscroll
                |!{content}
                .ui.label 
                    i.user.icon
                    |#{_author_username}
                i.tag.icon
                each tags 
                    .ui.basic.label #{this}
            .ui.small.grey.header
                i.clock.icon
                |#{when}
            // +comments_view_small
            +author_info
            +array_view key='role_titles' label='roles' icon='shield' direct=true


template(name='set_project_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        
        
                
template(name='set_view_mode_project')
    .item.set_view
        i.icon(class=icon)
        |#{title}


// template(name='set_limit')
    .ui.compact.small.basic.button.set_limit #{amount}



        

template(name='project_view')
    .ui.stackable.grid
        .row 
            .four.wide.column
                .ui.basic.segment
                    .ui.header #{title}
                    a.ui.circular.button.fly_left(href="/projects")
                        i.chevron.left.big.icon
                        i.newspaper.big.icon
                        |projects
                    // div
                    // .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.ui.circular.icon.button.edit_project(href="/project/#{_id}/edit" title='edit')
                            i.big.link.pencil.icon
                    .ui.segment
                        .ui.header 
                            small author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.username}
                    .ui.small.grey.header 
                        i.line.chart.icon
                        |stats
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username}
                    +array_view key='tags' label='tags' direct=true
                    +array_view key='role_titles' label='roles' icon='shield' direct=true
                    +array_view key='task_titles' label='tasks' icon='tasks' direct=true
                    .ui.header 
                        +i name='tasks'
                        |task ids (children)
                    each task_ids
                        +child_task
                        a.ui.large.label(href="/task/#{this}") #{this}
                    .ui.header dynamic
                    each child_tasks
                        +child_task
                        // a.ui.large.label(href="/task/#{this}") #{this}
                    +voting_full
                    .ui.header #{when}
                    //- +array_view key='location_tags' label='location_tags' direct=true
                    +comments
            .twelve.wide.column.scrolling
                img.ui.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                // a.ui.header(href="/user/#{target.username}")
                //     |#{target.username}
                if youtube_id 
                    +youtube_view key='youtube_id' direct=true
                |!{content}
                div 
                .spacer
                .spacer
                if watson 
                    +watson_view
            // .four.wide.column
                //- .ui.fluid.green.button.submit
                //-     i.checkmark.icon
                //-     |submit
                    
                    
                    
template(name='child_task')
    .ui.header #{title}
                    
                    
template(name='project_edit')
    .ui.stackable.padded.grid
        .row 
            .ten.wide.column
                .ui.inline.header 
                    +icolor name='news' cl='ui image inline pointer'
                    |edit project
                a.ui.icon.green.big.button(href="/project/#{_id}" title='save')
                    i.checkmark.big.icon
                +text_edit key='title' label='title' direct=true
                +html_edit key='content' label='content' direct=true
                +youtube_edit key='youtube_id' label='youtube id' direct=true
                // +array_edit key='roles' label='roles' icon='shield' direct=true
            .six.wide.column.scrolling
                // +array_edit key='tasks' label='tasks'
                i.large.link.red.remove.icon.delete_project
                .ui.header 
                    small author
                    |#{_author.username}
                if is_dev
                    +single_user_edit key='_author_id' label='author' direct=true
                +image_edit key='image_id' label='image' direct=true
                div 
                +text_edit key='location' 
                +geolocate_button
                
                +array_edit key='tags' label='tags' direct=true icon='tags'
                +boolean_edit key='published' icon='visible' direct=true
                if is_dev 
                    +text_edit key='model' label='model' direct=true
                +array_edit key='location_tags' label='location_tags' direct=true
                // unless published
                //     a.ui.fluid.green.button.submit(href="/save")
                //         i.checkmark.icon
                //         |publish
                // else
                //     .ui.basic.button.unpublish 
                //         |unpublish
                .ui.header
                    |audience
                +boolean_edit key='private' label='private' 
                if private 
                    +multi_user_edit key='access_user_ids' label='user picker' direct=true
                +group_picker
                +role_picker
                +task_picker
                