template(name='services')
    .ui.stackable.padded.grid 
        .four.wide.column
            .ui.inline.header 
                +i name='blog'
                |services
                // if currentUser
                .ui.icon.button.add_service
                    i.plus.large.icon
            each picked_tags
                a.ui.blue.button.unpick_service_tag
                    |#{this}
            each tag_results
                // if title
                a.ui.compact.button.pick_service_tag
                    |#{title} 
                    // small.ui.grey.text #{count}
                    
        .twelve.wide.column
            .ui.centered.stackable.cards
                each service_docs 
                    +service_card
                    
                    
template(name='service_card')
    a.ui.card.fly_right(href="/service/#{_id}")
        if youtube_id 
            +youtube_view key='youtube_id' direct=true
        if image_id 
            +image_view key='image_id' direct=true
        .content
            .ui.inline.header #{title}
            if private 
                i.large.lock.icon
            .smallscroll
                |!{content}
                .ui.label 
                    i.user.icon
                    |#{_author_username}
                i.tag.icon
                each tags 
                    .ui.basic.label #{this}
            .ui.small.grey.header
                i.clock.icon
                |#{when}
            // +comments_view_small
            +author_info


template(name='set_service_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        
        
                
template(name='user_services')
    .ui.inline.header 
        +i name='blog'
        |user services
    if is_current_user
        .ui.basic.icon.button.add_service
            i.large.plus.icon
    .ui.padded.stackable.one.column.grid
        .column
            .ui.stackable.cards.scrolling
                each service_docs 
                    .ui.card
                        .content
                            a(href="/service/#{_id}") 
                                img.ui.image(src="{{c.url image_id width=400 height=300 crop='pad'}}")
    
                            .smallscroll 
                                |!{content}
                            // |created #{when}
                            small {{when}}
                            a.ui.icon.button(href='/service/#{_id}')
                                i.large.chevron.right.icon
                            
        
        

template(name='set_view_mode_service')
    .item.set_view
        i.icon(class=icon)
        |#{title}


// template(name='set_limit')
    .ui.compact.small.basic.button.set_limit #{amount}



        
template(name='service_item')
    .ui.fluid.segment.view_service.pointer
        a.ui.header(href="/service/#{_id}") #{title}
        div
        .ui.small.grey.inline.header #{when}
        | #{content}
        each tags 
            .ui.basic.small.label #{this}
        

template(name='service_view')
    with current_doc
        .ui.stackable.grid
            .row 
                .four.wide.column
                    .ui.basic.segment
                        .ui.header #{title}
                        a.ui.circular.button.fly_left(href="/services")
                            i.chevron.left.big.icon
                            i.newspaper.big.icon
                            |services
                        // div
                        // .ui.inline.grey.header {{from_now start_datetime}}
                        
                        if can_edit
                            a.ui.circular.icon.button.edit_service(href="/service/#{_id}/edit" title='edit')
                                i.big.link.pencil.icon
                        .ui.segment
                            .ui.header 
                                small author
                            a.ui.header(href="/user/#{_author.username}") 
                                img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                |#{_author.username}
                        .ui.small.grey.header 
                            i.line.chart.icon
                            |stats
                        .ui.list
                            .item #{views} views
                        each viewers
                            .ui.label #{username}
                        +array_view key='tags' label='tags' direct=true
                        +voting_full
                        .ui.header #{when}
                        //- +array_view key='location_tags' label='location_tags' direct=true
                        +comments
                .twelve.wide.column.scrolling
                    img.ui.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    if youtube_id 
                        +youtube_view key='youtube_id' direct=true
                    |!{content}
                    div 
                    .spacer
                    .spacer
                    if watson 
                        +watson_view
                // .four.wide.column
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
                    
                    
                    
template(name='service_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .ten.wide.column
                    .ui.inline.header 
                        +icolor name='news' cl='ui image inline pointer'
                        |edit service
                    a.ui.icon.green.big.button(href="/service/#{_id}" title='save')
                        i.checkmark.big.icon
                    +text_edit key='title' label='title' direct=true
                    +html_edit key='content' label='content' direct=true
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
                .six.wide.column
                    i.large.link.red.remove.icon.delete_service
                    .ui.header 
                        small author
                        |#{_author.username}
                    if is_dev
                        +single_user_edit key='_author_id' label='author' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true icon='tags'
                    +boolean_edit key='published' icon='visible' direct=true
                    if is_dev 
                        +text_edit key='model' label='model' direct=true
                    +array_edit key='location_tags' label='location_tags' direct=true
                    // unless published
                    //     a.ui.fluid.green.button.submit(href="/save")
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
                    .ui.header
                        |audience
                    +boolean_edit key='private' label='private' 
                    if private 
                        +multi_user_edit key='access_user_ids' label='user picker' direct=true
                    +group_picker