template(name='delta')
    .ui.stackable.padded.grid
        with current_model
            // unless current_model.show_facets
            //     .middle.aligned.row
            //         .sixteen.wide.column
            //             +model_top
            .row
                if current_model.show_facets
                    .four.wide.column
                        +model_top
                        each sorted_facets
                            +facet
                div(class=result_column_class)
                    unless current_model.show_facets
                        +model_top
                    if current_model.show_filter_bar
                        |&nbsp;
                        .ui.icon.input(class=query_class)
                            if current_delta.search_query
                                i.link.remove.large.icon.clear_query
                            else
                                i.search.icon
                            input#search(type='text' autocomplete="off" value=current_delta.search_query)
                        unless single_doc
                            // - .ui.segment(class=loading_class)
                            span.ui.inline.small.grey.header(title='change sort direction')
                                |sort by
                            if sortable_fields.count
                                .ui.simple.large.dropdown(title='sort by')
                                    strong #{current_delta.sort_key}
                                    i.dropdown.icon
                                    .menu
                                        each sortable_fields
                                            .item.set_sort_key 
                                                if icon 
                                                    +icon name=icon
                                                |#{title}
                                .ui.tertiary.icon.button.set_sort_direction(title='sort direction')
                                    if sorting_up
                                        i.sort.amount.down.large.icon
                                    else
                                        i.sort.amount.up.large.icon
                            //- .ui.compact.button.set_sort_direction
                            //-     |#{current_delta.sort_direction}
                            |&nbsp;
                            |&nbsp;
                            //- .ui.inline.small.grey.header
                            //-     |viewing
                            //- .ui.simple.dropdown(title='visible fields')
                            //-     | fields
                            //-     i.dropdown.icon
                            //-     .menu
                            //-         each model_fields
                            //-             +toggle_visible_field
                            // |&nbsp;
                            // |&nbsp;
                            // |&nbsp;
                        
                            // .ui.simple.dropdown(title='result limit')
                            //     .text.large #{current_delta.limit}
                            //     i.dropdown.icon
                            //     .menu
                            //         +set_limit amount=1
                            //         +set_limit amount=5
                            //         +set_limit amount=10
                            //         +set_limit amount=20
                            //         +set_limit amount=50
                            // |&nbsp;
                            // |&nbsp;
                            // |&nbsp;
                            // |of 
                            // span.ui.small.inline.header(title='total results') #{current_delta.total}
                            // |&nbsp;
                            // |&nbsp;
                            // // - with delta
                            // // -     +key_value_edit key='view_mode' value='list'
                            // // -     +key_value_edit key='view_mode' value='cards'
                            // +set_view_mode title='list' icon='list'
                            // +set_view_mode title='cards' icon='clone'
                            //- .ui.inline.small.grey.header view
                            //- .ui.simple.dropdown.item
                            //-     |#{current_delta.view_mode}
                            //-     i.dropdown.icon
                            //-     .menu
                            //-         //- +set_view_mode title='table' icon='table'
                                    //- +set_view_mode title='items' icon='list'
                                    //- +set_view_mode title='map' icon='map'
                                    //- +set_view_mode title='graph' icon='graph'
                            //- .ui.compact.small.icon.button.toggle_right_panel
                            //-     i.table.large.icon
                            //- .spacer
                    .scrolling
                        //- each current_delta.result_ids
                        //-     .ui.header #{this}
                        // if delta_key_value_is 'view_mode' 'cards'
                        .ui.stackable.cards
                            if is_loading
                                each current_delta.result_ids
                                    .ui.card
                                        .ui.placeholder
                                            .rectangular.image
                                        .content
                                            .ui.fluid.placeholder
                                                .header
                                                    .line
                                                .line
                                                .line
                                                .line
                                                .line
                            else
                                each current_delta.result_ids
                                    +delta_result_card
                    //     else if delta_key_value_is 'view_mode' 'list'
                    //         //- .ui.segments
                    //         each current_delta.result_ids
                    //             if is_loading
                    //                 .ui.basic.segment
                    //                     .ui.fluid.placeholder
                    //                         .line
                    //                         .line
                    //                         .line
                    //                         .line
                    //             else 
                    //                 +delta_list_result
                    //                 // .ui.divider
                    // //- +Template.dynamic template=view_mode_template
            .row 
                .sixteen.wide.column
                    if model_stats_exists
                        +Template.dynamic template=model_stats
        unless current_model
            if subs_ready
                if is_dev
                    .ui.big.button.create_model create model
                //- else 
                    //- .ui.header model not found
            //- else
            .ui.basic.segment
                .ui.header
                    i.big.loading.grey.yin.yang.icon
            
            
template(name='model_top')
    if is_loading
        .ui.header
            i.grey.loading.yin.yang.icon
            | loading #{current_model.title}...
    else
        unless key_value_is current_delta.model_filter 'model'
            if is_dev
                a.ui.icon.basic.compact.circular.button.go_home
                    i.big.home.icon
        a.ui.large.header.reset.inline(title="#{description}, #{views} views")
            // i.large.icon(class=icon)
            // i.large.icon(class=icon)
            if icon
                +ibig name=icon
            | #{current_model.title}
    unless is_loading
        if currentUser
            unless key_value_is current_delta.model_filter 'model'
                unless key_value_is current_model.collection 'user'
                    // if is_admin
                    i.plus.large.green.circular.link.icon.add_model_doc(title="add #{slug}")
            else 
                if is_dev
                    .ui.icon.basic.circular.button.add_model_doc(title="add #{slug}")
                        i.plus.large.green.icon
        //- +user_list_toggle key='bookmark_ids' add_icon='bookmark outline' remove_icon='bookmark' label="bookmark"
        if is_dev
            i.cog.large.circular.link.icon.edit_model(title='edit model')
        if current_delta
            // if is_admin
            if is_dev
                i.refresh.link.reset.grey.circular.large.icon.zoomer(title='reload session')
                // i.code.link.icon.print_delta(title='print session doc')
                i.trash.delete_delta.link.icon(title='delete session')
        else
            .create_delta.ui.big.green.circular.button(title='new session')
                i.plus.icon
                |create session
            
            
            
template(name='toggle_visible_field')            
    .item.toggle_visibility
        if field_visible
            i.green.checkmark.icon
        | #{title}
    
//- template(name='delta_table')
//-     .ui.table
//-         thead
//-             each fields
//-                 th #{title}
//-         tbody
//-             each current_delta.result_ids
//-                 tr
//-                     each fields
//-                         td
//-                             |#{field_value}   
//- 
                            
template(name='delta_list')
    each current_delta.result_ids
        //- .column
        +delta_list_result
                        
                    
                        
                
                
                
template(name='set_limit')
    .item.set_limit #{amount}

template(name='set_view_mode')
    a.ui.tertiary.icon.button.set_view_mode(title=title)
        i.large.icon(class=icon)
        //- if icon 
        //- |#{title}

template(name='facet')
    div
    if filtering_res
        .ui.inline.header.pointer.toggle_view_facet
            if icon
                i.small.icon(class=icon)
            if title
                |#{title}
            else 
                |#{key}
                //- i.dropdown.icon
        // .ui.icon.tiny.input
        //     i.search.icon
        //     input.add_filter(type='text')
            //- .active.content
                //- div
        if viewing_results
            each filtering_res
                // if name
                a.selector.ui.compact.basic.circular.button.toggle_selection.select_term(class=toggle_value_class title=count)
                    //- with ..
                    //- if parent_key_value_is 'field_type' 'color_icon'
                    //-     .ui.header icon
                    //- else 
                    strong #{name}
                    if is_admin
                        small #{cal_count} #{count}
                // else
                //     a.selector.ui.compact.basic.circular.button.toggle_selection(class=toggle_value_class)
                //         strong none/false
                //         //- small #{cal_count}
            //- .ui.hidden.divider
        .spacer
        
        
template(name='toggle_delta_config')
    if boolean_true
        .ui.active.icon.button.disable_key(title=label)
            // | #{label}
    else
        .ui.icon.button.enable_key(title=label)
            // | #{label}
            
            





template(name='model_doc_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.circular.basic.large.button.back_to_model
                        i.chevron.left.icon
                        i.big.icon(class=current_model.icon)
                        |#{current_model.title}
                    if can_edit
                        a.ui.large.icon.circular.button(href="/m/#{current_model.slug}/#{_id}/edit" title='Edit')
                            i.pencil.blue.large.icon
                    if is_admin
                        .ui.header 
                            i.clock.icon
                            |timestamp tags
                        each _timestamp_tags
                            .ui.inverted.label #{this}
                    +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark'
                    div
                    .ui.small.header #{views} views
                    .ui.small.inline.header by
                    each viewer_usernames
                        .ui.small.label #{this}
                    
                    .ui.small.header
                        |by
                        +author_info
                        +creation_info
                    //- +points_transaction
                    //- +voting
                .twelve.wide.column
                    if template_exists
                        +Template.dynamic template=model_template
                    .ui.header
                        each fields
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    each current_model.actions
                        +Template.dynamic template=this data=current_doc
                    //- +comments
                    //- div
                    //- if watson
                    //-     +watson_view



template(name='model_doc_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header(title="model: #{model}")
                        |edit #{model}
                    +creation_info
                    a.ui.big.icon.green.circular.button(href="/m/#{model}/#{_id}/view")
                        i.big.checkmark.icon
                    #delete_doc.ui.icon.circular.button
                        i.trash.icon
                    if is_user
                        +boolean_edit key='private' direct=true
                .twelve.wide.column
                    if template_exists
                        +Template.dynamic template=model_template
                    //- |#{model}
                    each edit_fields
                        .ui.header field #{title}
                        +Template.dynamic template=edit_template 
                        .spacer
                        // .ui.header #{key} [#{field}] #{label}
            //- if watson 
            //-     .row
            //-         .sixteen.wide.column
            //-             +watson_view
                
            
template(name='points_transaction')
    .ui.header my points #{currentUser.points}
    .ui.header offer points
    .ui.input
        input.offer_points_amount(type='number')
    .ui.button.offer_points
        i.right.chevron.icon
    each offers
        +offer
        
        
template(name='offer')
    .ui.small.inline.header amount #{amount}
    +author_info




template(name='model_edit_layout')
    +nav
    with current_doc
        .ui.stackable.padded.grid            
            .centered.row
                .four.wide.column
                    small editing model
                    .ui.inline.header
                        // i.icon(class=icon)
                        +i name='icon'
                        |#{title}
                    div
                    |created
                    +creation_info
                    div
                    a.ui.big.icon.green.circular.button(href="/m/#{slug}")
                        i.big.checkmark.icon
                    i#delete_model.trash.red.circular.link.icon
                    .ui.divider
                    +boolean_edit key='show_filter_bar' label='show filter bar' direct=true
                    +boolean_edit key='show_facets' label='show facets' direct=true
                    a.ui.large.basic.button(href="/model/edit/#{current_doc._id}/" class="{{isActiveRoute 'model_edit_dashboard'}}")
                        i.dashboard.icon
                        |dashboard
                    a.ui.large.basic.button(href="/model/edit/#{current_doc._id}/fields" class="{{isActiveRoute 'model_edit_fields'}}")
                        i.list.icon
                        |fields
                    a.ui.large.basic.button(href="/model/edit/#{current_doc._id}/modules" class="{{isActiveRoute 'model_edit_modules'}}")
                        i.cubes.icon
                        |modules
                    a.ui.large.basic.button(href="/model/edit/#{current_doc._id}/permissions" class="{{isActiveRoute 'model_edit_permissions'}}")
                        i.shield.icon
                        |permissions
                .twelve.wide.column
                    +yield
                    
                    
                    
template(name='model_edit_dashboard')
    .ui.form
        +text_edit key='title' label='title' direct=true
        +slug_edit key='slug' label='slug' direct=true
        +icon_edit key='icon' label='icon' direct=true
        +textarea_edit key='description' label='description' direct=true
        +array_edit key='tags' label='tags' direct=true
        //- +text_edit key='collection' label='collection' direct=true
        +key_value_edit key='collection' value='docs' icon='document'
        +key_value_edit key='collection' value='users' icon='users'

        //- +multi_doc_edit key='actions' label='actions' ref_model='action' direct=true
        //- +text_edit key='app' label='app' direct=true
        
template(name='model_edit_fields')
    //- |#{model}
    //- each fields
    //-     +Template.dynamic template=edit_template 
    //-     // .ui.header #{key} [#{field}] #{label}
    .spacer
    .ui.inline.header fields
    .ui.icon.large.compact.button.add_field
        i.plus.green.icon
    .spacer
    .ui.segments
        each fields
            +field_edit
        
            
template(name='model_edit_modules')
    .ui.segment
        .ui.header
            +icon name='module'
            |modules
        +boolean_edit key='show_comments' label='comments' icon='chat' direct=true
        +boolean_edit key='show_voting' label='voting' icon='elections' direct=true
    .spacer
    +comments


template(name='model_edit_permissions')
    .ui.header permissions
    +multi_doc_edit key='view_roles' label='view roles' ref_model='role' direct=true


template(name='field_edit')
    .ui.segment.field_segment
        a.title.field_edit(href="#")
            |#{rank}
            if icon
                +icon name=icon cl='ui mini inline image'
                //- i.icon(class=icon)
            .ui.inline.header #{title}
            .ui.label #{field_type}
            if faceted
                i.filter.icon(title='faceted')
            if sortable
                i.sort.amount.down.icon
            each view_roles
                .ui.basic.small.label #{this}
            //- .ui.icon.compact.button
            //-     i.up.caret.icon
            //- .ui.icon.compact.button
            //-     i.down.caret.icon
            if viewing_content    
                i.large.caret.down.icon
            else 
                i.large.caret.right.grey.icon
        if viewing_content
            .content
                +text_edit key='title' label='label' direct=true
                +slug_edit key='key' label='key' direct=true
                +number_edit key='rank' label='rank' direct=true      
                +icon_edit key='icon' label='icon' direct=true       
                //- +textarea_edit key='description' label='description' direct=true
                .spacer
                if is_dev
                    +text_edit key='field_type' label='field type' direct=true
                +key_value_edit key='field_type' value='text' icon='header'
                +key_value_edit key='field_type' value='array' icon='list'
                +key_value_edit key='field_type' value='boolean' icon='green toggle off'
                +key_value_edit key='field_type' value='number' icon='blue hashtag'
                +key_value_edit key='field_type' value='float' icon='blue hashtag'
                +key_value_edit key='field_type' value='html' icon='code'
                +key_value_edit key='field_type' value='textarea' icon='content'
                +key_value_edit key='field_type' value='image' icon='picture'
                +key_value_edit key='field_type' value='date' icon='calendar'
                +key_value_edit key='field_type' value='time' icon='clock'
                +key_value_edit key='field_type' value='link' icon='linkify'
                +key_value_edit key='field_type' value='youtube' icon='video'
                +key_value_edit key='field_type' value='color' icon='paint brush'
                +key_value_edit key='field_type' value='single_doc' icon='clone'
                +key_value_edit key='field_type' value='multi_doc' icon='clone'
                +key_value_edit key='field_type' value='single_user' icon='clone'
                +key_value_edit key='field_type' value='multi_user' icon='clone'
                if is_dev
                    i.large.code.icon
                    +single_doc_edit key='field_type' ref_model='field_type' label='field type' direct=true        
                    .spacer
                    // +text_edit key='field_type_id' label='field type id' direct=true        
                    // +single_doc_edit key='field_type_id' ref_model_slug='field_type' label='field type id' direct=true        
                    .spacer
                    +multi_doc_edit key='view_roles' ref_model_slug='role' label='view roles' direct=true icon='eye'          
                    .spacer
                    +multi_doc_edit key='edit_roles' ref_model_slug='role' label='edit roles' direct=true icon='pencil'        
                    +text_edit key='ref_model' label='reference model' direct=true
                .spacer
                +boolean_edit key='faceted' label='faceted' icon='diamond' direct=true
                +boolean_edit key='sortable' label='sortable' icon='chevron-down' direct=true
                .spacer
                if is_ref  
                    +single_doc_edit key='ref_model' ref_model_slug='model' label='reference model' direct=true
                else if is_user_ref
                    +single_doc_edit key='role_filter' ref_model_slug='role' label='role filter' direct=true
                div             
                +remove_button
                if is_admin
                    +print_this
//- template(name='view_model')
        
template(name='field_view')
    +text_view key='title'                    
    +text_view key='key'                    
    +text_view key='field_type'                    
    +number_view key='rank' label='rank'                  



template(name='model_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    .ui.breadcrumb
                        a.section(href="/m/#{current_model}" title=current_model)
                            .ui.compact.button
                                |#{current_model.title}
                        .divider
                            i.chevron.right.icon
                        .active.section
                            if icon
                                i.icon(class=icon)
                            if title
                                |#{title}
                            else
                                | view #{model}
            .row
                .four.wide.column
                    // .ui.header
                    //     a.ui.icon.button(href="/m/#{model}" title=plural)
                    //         i.chevron.left.icon
                    //     |View #{model}
                    if can_edit
                        a.ui.fluid.button(href="/m/#{model}/#{_id}/edit")
                            i.pencil.icon
                            |edit
                    each model.actions
                        +Template.dynamic template=this data=current_doc
                    +user_list_toggle key='bookmark_ids' icon='bookmark' label='Bookmark' color='red'
                    +creation_info
                .twelve.wide.column
                    .ui.header
                        each fields
                            if header
                                +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        unless header
                            .item
                                +Template.dynamic template=view_template 
                    div
                    +comments
        .ui.stackable.padded.grid
            .four.wide.column
                h1.ui.header #{title}
                .ui.icon.big.button.add_child(title="add #{slug}")
                    i.plus.icon
                a.ui.icon.big.button(href="/model/edit/#{_id}")
                    i.pencil.icon
                .ui.form
                    +text_view key='title'
                    +text_view key='slug'
                    +text_view key='icon'
                    +textarea_view key='description'
                    +array_view key='tags'
                //- +cloud filter=slug
            .twelve.wide.column
                //- .ui.header Fields
                //- each fields
                //-     .ui.divider
                //-     +field_view
                each model_docs
                    .ui.fluid.card
                        .content
                            +Template.dynamic template=model_doc
                            +array_view key='tags'
                            +edit_button

                    


template(name='delta_result_card')
    with result
        if template_exists
            +Template.dynamic template=model_template
        else
            .ui.card.result.pointer(class=loading_class tabindex="1")
                .content
                    if key_value_is 'model' 'model'
                        .ui.header
                            // i.icon(class=icon)
                            +ibig name=icon
                            |#{title}
                    else
                        each fields
                            +Template.dynamic template=view_template
                            div
                    .extra
                        if key_value_is 'model' 'model'
                            //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                            //- a.ui.button.route_model(href="/m/#{slug}")
                            //-     |view model
                            //-     i.right.chevron.green.icon
                                //- +icon name='chevron-right' clases='ui avatar image'
                            if is_admin
                                a.ui.compact.basic.button.route_model(href="/model/edit/#{_id}")
                                    i.cog.icon
                                    |edit model
                                span(title='views')
                                    i.grey.eye.icon
                                    | #{views}
                                // .ui.teal.label 
                                //     |#{app}
                        else
                            if can_edit
                                a.ui.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                                    i.pencil.large.icon
                                    //- |edit
                            //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                            //-     i.right.chevron.yellow.large.icon
                        if is_admin
                            if _author_id
                                +author_info
                            +creation_info
                            .ui.small.inline.header #{views} views
                                //- i.eye.icon
                                each viewer_usernames
                                    .ui.small.inverted.label #{this}
                        //- +comments
                    if is_admin
                        +print_this
                        +remove_button




template(name='delta_list_result')
    with result
        if template_exists
            +Template.dynamic template=model_template
            // .ui.header temp found
        else
            .ui.fluid.basic.segment.result_segment
                .content
                    if key_value_is 'model' 'model'
                        a.ui.inline.header.route_model(href="/m/#{slug}")
                            i.icon(class=icon)
                            |#{title}
                    else
                        //- each visible_fields
                        each fields
                            +Template.dynamic template=view_template
                    span.extra
                        if key_value_is 'model' 'model'
                            //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                            if is_admin
                                //- a.ui.button.route_model(href="/m/#{slug}")
                                //- |view model
                                //- i.right.chevron.green.icon
                                a.ui.compact.basic.button.route_model(href="/model/edit/#{_id}")
                                    i.cog.icon
                                    |edit model
                                span(title='views')
                                    i.grey.eye.icon
                                    | #{views}
                        else
                            .ui.compact.basic.button.result
                                |view
                                i.right.chevron.icon
                            if can_edit
                                a.ui.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                                    i.pencil.large.icon
                                    //- |edit
                            //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                            //-     i.right.chevron.yellow.large.icon
                        if is_admin
                            if _author_id
                                +author_info
                            +print_this
                            +creation_info
                            .ui.small.inline.header #{views} views
                                //- i.eye.icon
                                each viewer_usernames
                                    .ui.small.inverted.label #{this}
                            +remove_button
                        //- +comments

template(name='delta_result_table_row')
    tr.pointer.goto_doc
        //- if result.color_icon
        //-     +icon name=result.color_icon
        //- td
            //- |#{result.title}
        each visible_fields
            +dr_table_cell

template(name='dr_table_cell')
    td
        if is_loading
            .ui.fluid.placeholder
                .line
        else
            | #{result_value}
