template(name='model_doc_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    .ui.circular.basic.large.button.back_to_model
                        i.chevron.left.icon
                        // i.big.icon(class=current_model.icon)
                        +i name=current_model.icon
                        |#{current_model.title}
                    // if can_edit
                    a.ui.large.icon.circular.button.edit_doc(title='Edit')
                        i.pencil.blue.large.icon
                    if is_admin
                        .ui.header 
                            i.clock.icon
                            |timestamp tags
                        each _timestamp_tags
                            .ui.inverted.label #{this}
                    +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark'
                    div
                    .ui.small.header #{views} views
                    .ui.small.inline.header by
                    each viewer_usernames
                        .ui.small.label #{this}
                    
                    +author_info
                    +creation_info
                    //- +points_transaction
                    +voting_full
                    .smallscroll
                        if tags
                            +array_view key='tags' label='tags' direct=true
                    +comments
                    +viewing
                .twelve.wide.column.scrolling
                    a.ui.header.calc found fields
                    .ui.list
                        each found_fields 
                            .ui.header #{this}
                            +found_field
                    .ui.header
                        each fields
                            // if header
                            .ui.header #{key} type: #{field_type}
                            +Template.dynamic template=view_template 
                        // if icon
                        //     i.icon(class=icon)
                        // |#{title}
                    each fields
                        // unless header
                        .item
                            +Template.dynamic template=view_template 
                    each current_model.actions
                        +Template.dynamic template=this data=current_doc

                    //- +comments
                    //- div
                    //- if watson
                    //-     +watson_view

template(name='found_field')
    .item #{this}
        // +Template.dynamic template=this data=current_doc
        
        if field_temp_exists
            .ui.header hi
            // +Template.dynamic template=field_template data=current_doc

template(name='title')
    +print_this
    .ui.header title: #{title}

template(name='')

template(name='model_doc_edit')
    .ui.grey.header 
        i.pencil.icon
        |editing model
    with current_doc
        .ui.stackable.padded.grid
            .centered.row
                .four.wide.column
                    .ui.header(title="model: #{model}")
                        |edit #{model}
                    +creation_info
                    a.ui.big.icon.green.circular.button.save_doc
                        i.big.checkmark.icon
                    #delete_doc.ui.icon.circular.button
                        i.trash.icon
                    if is_user
                        +boolean_edit key='private' direct=true
                .twelve.wide.column
                    if icon 
                        +i name=icon
                    if parent_model.has_title 
                        +text_edit key='title' label='title' icon='header' direct=true
                    if parent_model.has_icon
                        +icon_edit key='icon' label='icon' icon='art' direct=true
                    if parent_model.has_icon_color
                        +text_edit key='icon_color' label='icon color' icon='color' direct=true
                    if parent_model.has_body
                        +html_edit key='body' label='body' icon='content' direct=true
                    if parent_model.has_image
                        +image_edit key='image_id' label='image' icon='image' direct=true
                    if template_exists
                        +Template.dynamic template=model_template
                    //- |#{model}
                    each edit_fields
                        .ui.header field #{title}
                        +Template.dynamic template=edit_template 
                        .spacer
                        // .ui.header #{key} [#{field}] #{label}
            //- if watson 
            //-     .row
            //-         .sixteen.wide.column
            //-             +watson_view
                
