template(name='badge_card')
    .card
        .image
            img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            .ui.header
                |#{title}
            // i.marker.icon
            // |#{location} 
            |!{description}
            each badgers
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" title=name)
                |#{name}


template(name='badge_view')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                // if can_edit
                a.ui.icon.button(href="/badges")
                    i.chevron.left.icon
                    +i name='prize'
                +i name=icon cl='ui inline image'
                .ui.center.aligned.inline.header 
                    small viewing badge: 
                    |#{title}
                if can_edit
                    a.ui.icon.large.button.edit_badge(href="/badge/#{_id}/edit")
                        i.big.pencil.big.blue.icon
        .row 
            .eight.wide.column
                .ui.header 
                    small author
                a.ui.header(href="/user/#{_author.username}") 
                    img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                    |#{_author.username}
                        
                +number_view key='bounty' label='bounty'
                +textarea_view key='description' label='description'
                +image_view key='image_id' label='image'
                div 
                +array_view key='tags' label='tags'
                .spacer
                .spacer
                +comments
                //- +array_view key='location_tags' label='location_tags'
            .eight.wide.column
                .ui.header 
                    +i name='badger'
                    |badgers
                each badgers
                    a.ui.button(href="/user/#{username}") 
                        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{name}
    
                // .ui.header 
                //     +honey_badger
                //     |honey badgers
                // each honey_badgers
                //     a.ui.basic.button(href="/user/#{username}") 
                //         img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                //         |#{name}
                // //- .ui.fluid.green.button.submit
                // //-     i.checkmark.icon
                // //-     |submit

template(name='badge_edit')
    .ui.stackable.padded.grid
        .centered.middle.aligned.row 
            .sixteen.wide.column
                a.ui.green.cicular.icon.big.button.fly_left(href="/badge/#{_id}" title='save')
                    i.checkmark.big.icon
                .ui.inline.header
                    small edit badge
                    |#{title}
                i.remove.circular.link.icon.delete_item
        .row 
            .eight.wide.column
                +text_edit key='title' icon='header'
                +slug_edit key='slug' icon='slug'
                +icon_edit key='icon' label='icon'
                +textarea_edit key='description' label='description'
                +image_edit key='image_id' label='image'
                div 
                +array_edit key='tags' label='tags'
                +text_edit key='location' label='location' icon='marker'
                +array_edit key='location_tags' label='location_tags'
                +boolean_field key='published'
                +group_crud
            .eight.wide.column
                .ui.header
                    +i name='badger'
                    |badgers
                each badgers
                    a.ui.compact.button(href="/user/#{username}") 
                        img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{name}
                    i.remove.link.icon.remove_badger
                .ui.segment
                    .ui.small.header add badgers
                    each unselected_badgers
                        .ui.basic.circular.compact.button.add_badger
                            img.ui.avatar.circular.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{name}
                
                // .ui.header
                //     +honey_badger
                //     |honey badgers
                // each honey_badgers
                //     a.ui.compact.button(href="/user/#{username}") 
                //         img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                //         |#{name}
                //     i.remove.link.icon.remove_honey_badger
                // .ui.segment
                //     .ui.small.header add honey badgers
                //     each unselected_honey_badgers
                //         .ui.basic.button.add_honey_badger
                //             img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
                //             |#{name}

template(name='badge_crud')
    // .ui.segment
    .ui.styled.accordion
        .title
            .dropdown.icon
            .ui.inline.header
                // +i name='shield'
                // |#{picked_badges.count}
                | badges
        .content
            .ui.icon.large.input 
                if badge_search_value
                    i.large.red.remove.link.icon.zoomer.clear_search
                else 
                    i.search.icon
                input.badge_search(type='text' placeholder='search' value=badge_search_value)
            if badge_results
                // .ui.selection.link.animated.list
                each badge_results
                    .ui.basic.circular.large.button.pick_badge.zoomer
                        i.grey.plus.icon
                        if image_id
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                        |#{title}
            if badge_search_value
                .ui.large.button.create_badge(title='add')
                    i.plus.icon
                    |#{badge_search_value}
            .ui.header
                // +i name='shield'
                |#{picked_badges.count}
                | badges
            // if picked_badges
            .smallscroll
                each picked_badges
                     .ui.horizontal.fluid.card.show_modal
                        .content
                            .ui.grid
                                .row
                                    // .column
                                    .fourteen.wide.column
                                        .left.floated
                                            a.ui.inline.header
                                                |!{title}
                                            div
                                            +eft_viewer_small
                                            // img(src="{{c.url image_id width=50 height=50}}")
                                            // div    
                                            // |!{content}
                                    .two.wide.column
                                        .right.floated
                                            if _is 'model' 'badge'
                                                +ismall name='what-i-do' color='42E8C4' cl='ui inline image'
                                            div
                                            |#{when}
                                .row
                                    .six.wide.column
                                        img.invert(src="{{c.url image_id width=10 height=10}}")
                                    .ten.wide.column
                                        |!{content}
                                .sixteen.wide.column
                                    if currentUser.admin_mode
                                        .ui.tertiary.large.button.zoomer.remove_badge 
                                            i.remove.icon
                                            |remove 
                                        .ui.tertiary.large.button.zoomer.toggle_assign 
                                            i.user.plus.icon
                                            | assign
                                        if assigned_to 
                                            |assigned to #{asigned_to.username}
                                        else 
                                            |unnassigned
                                        if is_assigning 
                                            each badge_holders 
                                                .ui.label #{username}
                                        else 
                                            with assigned_users
                                                .ui.green.label #{username}
                                        a.ui.tertiary.right.floated.icon.large.button.zoomer.fly_right(href="/badge/#{_id}/edit" title='edit badge')
                                            i.setting.icon
                                    else
                                        // else if can_take
                                        if has_taken 
                                            |taken by #{taken_user.name}
                                            .ui.large.button.release_badge
                                                i.undo.icon
                                                |release 
                                        else if can_take
                                            .ui.tertiary.large.button.zoomer.take_badge 
                                                i.checkmark.icon
                                                | take
                                        else if is_taken 
                                            |taken by #{taken_user.name}
                                    a.ui.tertiary.large.button.zoomer(href="/d/badge/#{_id}")
                                        |view
                                        i.chevron.right.icon
                    .ui.modal 
                        .ui.header hi