template(name='delta_result_card')
    with result
        .ui.card(class=loading_class tabindex="1")
            .content.result.pointer.zoomer.fly_right
                unless key_value_is 'model' 'model'
                    i.grey.database.icon(title='delta')
                if icon 
                    +i name=icon
                if key_value_is 'model' 'model'
                    .ui.header
                        // i.icon(class=icon)
                        +i name=icon color=stripped_icon_color 
                        |#{title}
                else
                    if title 
                        .ui.inline.header #{title}
                    if image_id
                        img.ui.image(src="{{c.url image_id width=400 height=400}}")

                    each fields
                        +Template.dynamic template=view_template
                if key_value_is 'model' 'model'
                    //- +user_list_toggle key='bookmark_ids' icon='bookmark' label='bookmark' color='red'
                    //- a.ui.button.route_model(href="/m/#{slug}")
                    //-     |view model
                    //-     i.right.chevron.green.icon
                        //- +i name='chevron-right' clases='ui avatar image'
                    if currentUser.admin_mode
                        a.ui.circular.icon.button.route_model(href="/model/edit/#{_id}" title='edit model')
                            i.cog.icon
                            // |edit model
                        // span(title='views')
                        //     i.grey.eye.icon
                        //     | #{views}
                        // .ui.teal.label 
                        //     |#{app}
                else
                    if can_edit
                        a.ui.icon.button(href="/m/#{current_model.slug}/#{_id}/edit" title='edit')
                            i.pencil.large.icon
                            //- |edit
                    //- a.ui.icon.large.button(href="/m/#{current_model.slug}/#{_id}/view" title='view')
                //-     i.right.chevron.yellow.large.icon
                // if is_admin
            .content
                if _author_id
                    +author_info
                +creation_info
                +voting
                .ui.small.inline.header #{views} views
                    //- i.eye.icon
                    each viewer_usernames
                        .ui.small.inverted.label #{this}
                //- +comments
                if currentUser.admin_mode
                    +print_this
                    +remove_button
            if template_exists
                +Template.dynamic template=model_template
