//parties, games, conferences, classes, ceremonies, meetups, ski-trips/adventures, 
// protests, farm swarms
template(name='event_card')
    .ui.card
        if image_id
            img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            .ui.header #{title} 
            div
            .ui.small.header {{medium_date date}} 
                if time 
                    |{{time}}
            // .ui.inline.small.header {{long_date start_datetime}}
            // div
            // .ui.small.grey.inline.header {{from_now start_datetime}}
        .content
            if location
                i.marker.icon 
                |#{location}
            div 
            // small led by
            img.ui.avatar.image(src="{{c.url fac.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            strong #{fac.name}
        .content
            |#{event_tickets.count}
            a(href="/m/event/#{_id}" title='ticket purchase required')
                i.checkmark.green.link.icon
            | #{going.count}
            each going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            i.question.orange.link.icon.mark_maybe(title='mark yourself maybe')
            div
            | #{maybe_user_ids.length}
            each maybe_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            | #{not_user_ids.length}
            div
            i.ban.red.link.icon.mark_not(title='mark yourself not')
            each not_going
                img.ui.avatar.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
            if is_dev
                +print_this
            div 
            +eft_viewer_small

            +filter_model model='organization' icon='groups' color='83DFF4'



template(name='gcal_button')
    a.ui.circular.basic.circular.large.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{title}&dates=#{start_datetime}/#{end_datetime}&details=#{description}&location=#{location}" target="_window")
        i.calendar.icon
        |add to gcal
        
        
        
template(name='event_edit')
    .ui.stackable.padded.grid
        .centered.row 
            .five.wide.column
                // a.ui.green.big.circular.button.fly_right(href="/event/#{_id}" title='save')
                //     i.checkmark.big.icon
                //     |save
                .ui.inline.header 
                    +icolor name='tear-off-calendar'
                    |edit event
                +boolean_field key='published' label='published'
                div
                .ui.icon.basic.circular.button.delete_item(title='delete')
                    i.remove.red.icon
                +text_edit key='title' label='title'
                div
                .ui.header 
                    small author
                    |#{_author.name}
                +slug_edit key='slug' label='slug' icon='slug'
                div
                // if reservation_exists
                //     .ui.header date: #{date}
                //     .ui.header time: #{time}
                // else
                +datetime_edit key='start_datetime' label='start datetime'
                div
                +datetime_edit key='end_datetime' label='end datetime'
                div
                // +time_edit key='time' label='time'
                div
                +number_edit key='hour_duration' label='hours'
                div 
                +text_edit key='location' label='location'
                +geolocate_button
                div
                // +range_edit label='time range'
                div
                // +single_user_edit key='facilitator_id' label='facilitator' icon='chess king'
                div
                // +single_user_edit key='support_id' label='support' icon='chess queen'
                div
                +single_user_edit key='host_id' label='host' icon='shield'
                div
                div 
                +array_edit key='tags' label='tags' icon='red tags'
                div
            .ten.wide.column.scrollin
                .ui.header
                    i.users.icon
                    |audience
                +number_edit key='max_attendees' label='max attendees' min='0' max='100'
                div
                // div
                +boolean_field key='free' label='free'
                div
                unless free
                    +number_edit key='price_points' label='point price' min='0' max='100'
                    div
                +number_edit key='usd_price' label='usd price' min='0' max='100'
                div
                +number_edit key='price_usd' label='dollar price' min='0' max='100'
                div
                +html_edit key='description' label='description'
                div
                // .ui.buttons 
                .ui.basic.center.aligned.segment
                    +eft_picker color="FF73EA" icon='food' label='food'
                    +eft_picker color="B785E1" icon='home' label='housing'
                    +eft_picker color="7229AF" icon='tshirt' label='clothing'
                    +eft_picker color="1255B8" icon='car' label='transportation'
                    +eft_picker color="83DFF4" icon='lightning' label='energy'
                    +eft_picker color="42E8C4" icon='leaf' label='zero waste'
                    +eft_picker color="40C057" icon='smile' label='wellness'
                    +eft_picker color="FAB005" icon='university' label='education'
                    +eft_picker color="FD7E14" icon='paint brush' label='art'
                    +eft_picker color="FF0000" icon='users' label="community core"
                    +eft_picker color="FF0000" icon='users' label="community core"
                div
                .ui.eight.wide.column
                    +calendar_view
                    +mapbox

                
//                     div
//                     +image_edit key='image_id' label='image'
//                     div
//                     +link_edit key='link' label='link'
//                             //light blue
//                         +thing_picker model='project' icon='project' color='7229AF' 
//                             //violet
//                         +thing_picker model='event' icon='calendar' color='FAB005'
//                             //yellow
//                         +thing_picker model='role' icon='what-i-do' color='42E8C4'
//                             //turquoise
//                         +thing_picker model='tasks' icon='task' color='B785E1'
//                             //lavender
//                         +thing_picker model='resource' icon='car' color='FD7E14'  
//                             //orange
//                         +thing_picker model='post' icon='for-you' color='1255B8'
//                             //blue
//                         +thing_picker model='offer' icon='hand-holding-heart' color='FF73EA'
//                             //pink
//                         +thing_picker model='request' icon='commercial' color='40C057'     
//                             //green
//                         +thing_picker model='skills' icon='wrench' color='ff0000'
                    //         //Blue
                    //   +thing_picker model='badges' icon='badge' color='1255B8'
                
// template(name='thing_picker')
                        //thing picker needs to pick the specific thing (ex. a my_skill) to associate it with the thing being created.
//     .ui.compact.circular.secondary.basic.button.pick_model.zoomer(class=button_class)
//         +i name=icon color=color cl='ui mini inline image'
//         // i.exchange.large.icon
//         |#{model}
//                 //red







template(name='reserve_button')
    if slot_res
        .ui.segment
            with slot_res
                .ui.header 
                    |reserved by #{_author.name}
                if can_edit
                    .ui.circular.icon.button.cancel_res
                        i.red.remove.icon
    else 
        // if event_room.dollars_per_hour
        //     .ui.green.button.buy_slot buy slot #{slot}
        //     .ui.green.button.request_slot request for points
        // else
        .ui.green.fluid.button.reserve_slot reserve slot #{slot}
        
        
        

template(name='event_view')
    // with current_doc
    .ui.stackable.padded.grid
        .middle.aligned.row 
            .sixteen.wide.column
                // if currentUser
                //     a(href="/events")
                //         i.calendar.big.circular.link.icon
                // .ui.large.inline.header #{title}
                if can_edit
                    if published 
                        i.big.eye.green.icon(title='published')
                    else 
                        i.big.eye.red.slash.icon(title='unpublished')
                // div
                // .ui.inline.header {{medium_date date}}
                .ui.inline.header {{long_date start_datetime}}
                // .ui.inline.grey.header {{from_now date}}
                if time 
                    .ui.inline.grey.header {{time}}
                // if can_edit
                //     a.edit_event(href="/event/#{_id}/edit" title='edit')
                //         i.large.blue.link.pencil.circular.icon
                +eft_viewer
                +role_crud
                +task_crud
        .row 
            .four.wide.column.scrollin
                if location 
                    i.large.marker.icon(title='location')
                    |#{location}
                .spacer
                // a(href="/m/room/#{event_room._id}")
                //     img.ui.small.circular.inline.image.pointer.zoom(src="{{c.url event_room.image_id }}" class=currentUser.invert_class)
                //     .ui.inline.header.pointer.zoom
                //         |#{event_room.title}
                if is_admin
                    .ui.segment
                        .ui.header 
                            i.shield.icon
                            | author
                        a.ui.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            |#{_author.name}
                if facilitator
                    .ui.dividing.header 
                        i.chess.king.grey.icon
                        |facilitator
                    a.ui.header(href="/user/#{fac.username}") 
                        img.ui.avatar.image(src="{{c.url fac.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{fac.name}
                if support
                    .ui.dividing.header 
                        i.chess.queen.grey.icon
                        |support
                    a.ui.header(href="/user/#{support.username}") 
                        img.ui.avatar.image(src="{{c.url support.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{support.name}
                if is_admin
                    .ui.header
                        |#{max_attendees} max attendees
                // .ui.small.grey.header 
                //     i.line.chart.icon
                //     |stats
                .ui.small.header #{views} views
                each viewers
                    .ui.label #{username}
                with current_doc
                    +gcal_button
                .ui.hidden.divider
                +array_view key='tags' label='tags' icon='tags red'
                div
                div
                if currentUser
                    +voting_full
                +array_view key='location_tags' label='location tags' icon='marker'
                div
            .eight.wide.column.scrollin
                a(href="{{c.url image_id }}")
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                // a.ui.header(href="/user/#{target.username}")
                //     |#{target.username}
                // .scrolling
                |!{description}
                // div 
                // .spacer
                // .spacer
                +comments
            .four.wide.column
                .ui.big.button.buy_for_usd
                    |buy with usd
                .ui.inline.large.header 
                    |RSVP
                if tickets_left
                    .ui.grey.small.inline.header #{tickets_left} available
                    .spacer
                    .ui.grey.small.inline.header  min requested 
                    // .spacer
                    // .ui.grey.small.inline.header (give more if you want to)
                    div
                if my_ticket
                    .ui.header your ticket
                    with my_ticket
                        .ui.segment
                            // if is_usd
                            //     .ui.inline.green.header ${{money_format amount}}
                            // else
                            .ui.inline.header #{point_amount}pts
                            |#{when} 
                            if is_usd
                                .ui.button.request_refund
                                    i.undo.icon
                                    |request refund
                            else
                                .ui.button.return
                                    i.undo.icon
                                    |return
                unless my_ticket
                    .ui.green.fluid.button.buy_ticket
                        |buy ticket #{price}p
                .spacer
                .spacer
                .ui.dividing.header
                    // +icolor name='activity-history' cl='ui inline image'
                    |#{event_ticket_docs.count} spots reserved
                .ui.comments
                    each event_ticket_docs
                        .comment
                            a.avatar(href="/user/#{_author.username}") 
                                img(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                            a.content(href="/order/#{_id}")
                                a.author(href="/user/#{_author.username}") 
                                    |#{_author.name}
                                .metadata
                                    span.date #{when}
                                .text
                                    if is_usd
                                        .ui.inline.green.header ${{money_format amount}}
                                    else
                                        .ui.inline.header #{point_amount}pts
                                // span.meta
                                //     if can_edit
                                //         +remove_icon
                                //     else
                                //         +voting_small
                    
                +attendance
                +calendar_view
                +mapbox
    // .ui.modal
    //     i.close.icon
    //     .header buy ticket for #{current_doc.point_price}pts?
    //     .content
    //         .description
    //             .ui.header event title: #{current_doc.title}
    //             .ui.input
    //                 input(type='number' min=current_doc.point_price)
    //     .actions
    //         .ui.red.cancel.button cancel
    //         .ui.green.big.ok.button ok



template(name='eft_viewer')
    +eft_view_item color="FF73EA" icon='food' label='food'
    +eft_view_item color="B785E1" icon='home' label='housing'
    +eft_view_item color="7229AF" icon='tshirt' label='clothing'
    +eft_view_item color="1255B8" icon='car' label='transportation'
    +eft_view_item color="83DFF4" icon='lightning' label='energy'
    +eft_view_item color="42E8C4" icon='leaf' label='zero waste'
    +eft_view_item color="40C057" icon='smile' label='wellness'
    +eft_view_item color="FAB005" icon='university' label='education'
    +eft_view_item color="FD7E14" icon='paint brush' label='art'
    +eft_view_item color="FF0000" icon='users' label='community core'
    
template(name='eft_viewer_small')
    +eft_view_item_small color="FF73EA" icon='food' label='food'
    +eft_view_item_small color="B785E1" icon='home' label='housing'
    +eft_view_item_small color="7229AF" icon='tshirt' label='clothing'
    +eft_view_item_small color="1255B8" icon='car' label='transportation'
    +eft_view_item_small color="83DFF4" icon='lightning' label='energy'
    +eft_view_item_small color="42E8C4" icon='leaf' label='zero waste'
    +eft_view_item_small color="40C057" icon='smile' label='wellness'
    +eft_view_item_small color="FAB005" icon='university' label='education'
    +eft_view_item_small color="FD7E14" icon='paint brush' label='art'
    +eft_view_item_small color="FF0000" icon='users' label='community core'




template(name='attendance')
    if event_tickets.length
        .ui.inline.green.header 
            |#{ticket.length} going
    // .ui.inline.small.grey.header ticket required
    // .ui.icon.button.pick_going 
    //     i.green.checkmark.big.icon
    // each going 
    //     a.ui.circular.basic.circular.button(href="/user/#{username}")    
    //         img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
    //         |#{username}
    .ui.basic.circular.button.mark_maybe
        .ui.orange.header
            // if currentUser
            //     +icolor name='clock' cl='mark_maybe pointer'
            // else
            i.question.icon
            |#{maybe_going.count} maybe
    // .ui.icon.button.mark_maybe 
    //     i.yellow.minus.big.icon
    each maybe_going
        a.ui.circular.basic.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{username}
    .ui.basic.circular.button.mark_not
        .ui.red.header
            i.ban.icon
            |#{not_going.count} not going
        // .ui.icon.button.pick_not
            // i.big.ban.icon
    each not_going
        a.ui.circular.basic.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{username}




template(name='ticket_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    if can_edit
                        .ui.button.cancel_reservation
                            i.large.remove.icon
                            |cancel reservation
                .eight.wide.column
                    .ui.header
                        i.ticket.icon
                        |#{ticket_point_price}
                        | points ticket
                    .ui.small.header
                        i.clock.icon
                        | #{when}
                    .ui.segment
                        .ui.inline.header 
                            i.user.outline.icon
                            |buyer
                        a.ui.inline.header(href="/user/#{_author.username}") 
                            img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.username}
                    .ui.segment
                        a.ui.inline.header(href="/event/#{event_id}")
                            i.calendar.icon
                            |event
                        a(href="/event/#{event_id}")
                            img.ui.medium.image(src="{{c.url ticket_event.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        a.ui.header(href="/event/#{ticket_event._id}")
                            |#{ticket_event.title}
                            
                    +number_view key='amount' label='amount'
                    div
                    +textarea_view key='description' label='description'
                    div
                    +image_view key='image_id' label='image'
                    div
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags'
                    div
                .four.wide.column
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='event_crud')
    // .ui.segment
    .ui.styled.accordion
        .title
            .dropdown.icon
            .ui.inline.header
                // +i name='shield'
                // |#{picked_events.count}
                | events
        .content
            .ui.icon.large.input 
                if event_search_value
                    i.large.red.remove.link.icon.zoomer.clear_search
                else 
                    i.search.icon
                input.event_search(type='text' placeholder='search' value=event_search_value)
            if event_results
                // .ui.selection.link.animated.list
                each event_results
                    .ui.basic.circular.large.button.pick_event.zoomer
                        i.grey.plus.icon
                        if image_id
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                        |#{title}
            if event_search_value
                .ui.large.button.create_event(title='add')
                    i.plus.icon
                    |#{event_search_value}
            // if picked_events
            .ui.header 
                |#{picked_events.count}
                |events
            .smallscroll
                each picked_events
                     .ui.horizontal.fluid.card.show_modal
                        .content
                            .ui.grid
                                .row
                                    // .column
                                    .fourteen.wide.column
                                        .left.floated
                                            a.ui.inline.header
                                                |!{title}
                                            div
                                            +eft_viewer_small
                                            // img(src="{{c.url image_id width=50 height=50}}")
                                            // div    
                                            // |!{content}
                                    .two.wide.column
                                        .right.floated
                                            if _is 'model' 'event'
                                                +ismall name='what-i-do' color='42E8C4' cl='ui inline image'
                                            div
                                            |#{when}
                                .row
                                    .six.wide.column
                                        img.invert(src="{{c.url image_id width=10 height=10}}")
                                    .ten.wide.column
                                        |!{content}
                                .sixteen.wide.column
                                    if currentUser.admin_mode
                                        .ui.tertiary.large.button.zoomer.remove_event 
                                            i.remove.icon
                                            |remove 
                                        .ui.tertiary.large.button.zoomer.toggle_assign 
                                            i.user.plus.icon
                                            | assign
                                        if assigned_to 
                                            |assigned to #{asigned_to.username}
                                        else 
                                            |unnassigned
                                        if is_assigning 
                                            each event_holders 
                                                .ui.label #{username}
                                        else 
                                            with assigned_users
                                                .ui.green.label #{username}
                                        a.ui.tertiary.right.floated.icon.large.button.zoomer.fly_right(href="/event/#{_id}/edit" title='edit event')
                                            i.setting.icon
                                    else
                                        // else if can_take
                                        if has_taken 
                                            |taken by #{taken_user.name}
                                            .ui.large.button.release_event
                                                i.undo.icon
                                                |release 
                                        else if can_take
                                            .ui.tertiary.large.button.zoomer.take_event 
                                                i.checkmark.icon
                                                | take
                                        else if is_taken 
                                            |taken by #{taken_user.name}
                                    a.ui.tertiary.large.button.zoomer(href="/event/#{_id}")
                                        |view
                                        i.chevron.right.icon
                    .ui.modal 
                        .ui.header hi