template(name='group_crud')
    // .ui.segment
    .ui.styled.accordion
        .title
            .dropdown.icon
            .ui.inline.header
                // +i name='shield'
                // |#{picked_groups.count}
                | groups
        .content
            .ui.icon.large.input 
                if group_search_value
                    i.large.red.remove.link.icon.zoomer.clear_search
                else 
                    i.search.icon
                input.group_search(type='text' placeholder='search' value=group_search_value)
            if group_results
                // .ui.selection.link.animated.list
                each group_results
                    .ui.basic.circular.large.button.pick_group.zoomer
                        i.grey.plus.icon
                        if image_id
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                        |#{title}
            if group_search_value
                .ui.large.button.create_group(title='add')
                    i.plus.icon
                    |#{group_search_value}
            // if picked_groups
            .ui.header 
                |#{picked_groups.count}
                |groups
            .smallscroll
                each picked_groups
                     .ui.horizontal.fluid.card.show_modal
                        .content
                            .ui.grid
                                .row
                                    // .column
                                    .fourteen.wide.column
                                        .left.floated
                                            a.ui.inline.header
                                                |!{title}
                                            div
                                            +eft_viewer_small
                                            // img(src="{{c.url image_id width=50 height=50}}")
                                            // div    
                                            // |!{content}
                                    .two.wide.column
                                        .right.floated
                                            if _is 'model' 'group'
                                                +ismall name='what-i-do' color='42E8C4' cl='ui inline image'
                                            div
                                            |#{when}
                                .row
                                    .six.wide.column
                                        img.invert(src="{{c.url image_id width=10 height=10}}")
                                    .ten.wide.column
                                        |!{content}
                                .sixteen.wide.column
                                    if currentUser.admin_mode
                                        .ui.tertiary.large.button.zoomer.remove_group 
                                            i.remove.icon
                                            |remove 
                                        .ui.tertiary.large.button.zoomer.toggle_assign 
                                            i.user.plus.icon
                                            | assign
                                        if assigned_to 
                                            |assigned to #{asigned_to.username}
                                        else 
                                            |unnassigned
                                        if is_assigning 
                                            each group_holders 
                                                .ui.label #{username}
                                        else 
                                            with assigned_users
                                                .ui.green.label #{username}
                                        a.ui.tertiary.right.floated.icon.large.button.zoomer.fly_right(href="/group/#{_id}/edit" title='edit group')
                                            i.setting.icon
                                    else
                                        // else if can_take
                                        if has_taken 
                                            |taken by #{taken_user.name}
                                            .ui.large.button.release_group
                                                i.undo.icon
                                                |release 
                                        else if can_take
                                            .ui.tertiary.large.button.zoomer.take_group 
                                                i.checkmark.icon
                                                | take
                                        else if is_taken 
                                            |taken by #{taken_user.name}
                                    a.ui.tertiary.large.button.zoomer(href="/d/group/#{_id}")
                                        |view
                                        i.chevron.right.icon
                    .ui.modal 
                        .ui.header hi
                        
                        
template(name='group_view')
    .ui.stackable.padded.grid
        .row 
            .five.wide.column
                +single_user_field key='assigned_to_user_id'
                +multi_user_field key='assigned_to_user_ids'
                .ui.header 
                    |assigned to 
                each assigned_users
                    +user_pill
                    // .ui.header #{name}
                .ui.small.grey.header 
                    i.line.chart.icon
                    |stats
                .ui.list
                    .item #{views} views
                each viewers
                    .ui.label #{username}
                +image_field key='image_id' label='image'
                +image_field key='banner_image_id' icon='image' label='banner image'
                +array_field key='tags' label='tags' direct=true
                +array_field key='badge_titles' label='badges' direct=true
                +voting_full
                .ui.header #{when}
                +eft_viewer
                +parent_block
                //- +array_field key='location_tags' label='location_tags' direct=true
            .five.wide.column
                .centered.row
                    +eft_viewer
                .ui.header Spaceholders
                .ui.four.column.centered.grid
                    .column 
                        .ui.centered.small.header lead
                        +single_user_field key='lead' label='lead' icon='king'
                    .column 
                        .ui.centered.small.header support
                        +single_user_field key='support' label='support' icon='users'
                    .column 
                        .ui.centered.small.header safety
                        +single_user_field key='safety' label='safety'
                    .column 
                        .ui.centered.small.header creator
                        +single_user_field key='creator' label='creator' icon='edit'
                +textarea_field key='body' label='description' tagline='what are the characteristics of the person playing this role? what will their days be like?'
                +textarea_field key='responsibilities' label='responsibilities' tagline='what responsibilities belong to the person playing this role?'
                +textarea_field key='privaleges' label='privaleges' tagline='what rights and permissions belong to the person playing this role?'
 
            .six.wide.column
                +checklist
                .ui.inline.header 
                    i.users.icon
                    |members
                if currentUser.editing 
                    +multi_user_field key='member_ids' label='members'
                else 
                    each member_ids
                        +user_pill
                if currentUser.editing
                    .ui.basic.center.aligned.segment
                        +eft_picker color="FF73EA" icon='food' label='food'
                        +eft_picker color="B785E1" icon='home' label='housing'
                        +eft_picker color="7229AF" icon='tshirt' label='clothing'
                        +eft_picker color="1255B8" icon='car' label='transportation'
                        +eft_picker color="83DFF4" icon='lightning' label='energy'
                        +eft_picker color="42E8C4" icon='leaf' label='zero waste'
                        +eft_picker color="40C057" icon='smile' label='wellness'
                        +eft_picker color="FAB005" icon='university' label='education'
                        +eft_picker color="FD7E14" icon='paint brush' label='art'
                        +eft_picker color="FF0000" icon='users' label="community core"
                .ui.header 
                    +i name='rss'
                    |activity
                +block template='gratigen'
                each log_items
                    +log_item
                +org_stats