// template(name='icons')
//     .ui.stackable.padded.grid 
//         .row
//             .sixteen.wide.center.aligned.column
//                 .ui.inline.header 
//                     +i name='brain'
//                     |#{icon_count}
//                     |things
//                 .ui.inline.header 
//                     +icolor name='the-flash-head'
//                     |#{cam_count}
//                 .ui.inline.header 
//                     +icolor name='batman'
//                     |#{eric_count}
//                 each picked_tags_helper
//                     .ui.large.active.tertiary.button.unpick(title=this)
//                         +gicon name=this cl=''
//                         div
//                         |#{this}
//                 .ui.inline.icon.input
//                     i.search.icon
//                     input.search_icon(type='text' placeholder='name...')
//                 div
//                 each icon_tag_results 
//                     .ui.basic.compact.circular.icon.tertiary.button.pick(title="#{name} #{count}")
//                         span.ginvert
//                             // +i name=name
//                             +gicon name=name
//                         // +i name=name
//                         div
//                         |#{name}
//                         // small #{count}
//                 // .ui.inline.header titles
//                 // each title_results 
//                 //     .ui.basic.compact.circular.icon.button.pick_title(title="#{name} #{count}")
//                 //         span.ginvert
//                 //             +gnameicon name=name
//                 //         // +i name=name
//                 //         div
//                 //         |#{name}
//                 //         // small #{count}
//         .row.scrolling
//             .ui.four.stackable.centered.cards
//                 each icons_docs
//                     +icon_item 

// template(name='gicon')           
//     with found_icon_doc
//         // +print_this
//         img(src="https://img.icons8.com/#{icons8.platform}/96/000000/#{icons8.commonName}.png")
        
// template(name='gnameicon')           
//     with found_icon_doc
//         // +print_this
//         img(src="https://img.icons8.com/#{icons8.platform}/48/000000/#{icons8.commonName}.png")

// template(name='icon_item')
//     .ui.card
//         .content
//             a.ui.inline.header.search_title(title='search name') #{icons8.name}
//             with icons8
//                 if _is 'platform' 'color'
//                     img.ginvert(src="https://img.icons8.com/color/48/000000/#{commonName}.png")
//                 else if _is 'platform' 'ios'
//                     img.ginvert(src="https://img.icons8.com/ios/48/000000/#{commonName}.png")
//                 else if _is 'platform' 'neon'
//                     img.ginvert(src="https://img.icons8.com/neon/48/000000/#{commonName}.png")
//                 else if _is 'platform' 'waniconLineal'
//                     // img.ginvert(src="https://img.icons8.com/external-phatplus-linear-phatplus/48/000000/external-#{commonName}-#{category}-#{iconSet}-#{designer}.png")
//                     img.ginvert(src="https://img.icons8.com/external-phatplus-linear-phatplus/48/000000/external-#{commonName}-#{category}-phatplus-lineal-phatplus.png")
//                     // <img src="https://img.icons8.com/3d-plastilina/69/null/picture--v2.png"/>
//                 else 
//                     img.ginvert(src="https://img.icons8.com/#{platform}/48/000000/#{commonName}.png")
//                     // img(src="https://icons8.com/icon/#{id}/#{commonName}")
//                     // img(src="https://img.icons8.com/ external-#{iconSet}-#{designer} /64/000000/external-#{commonName}-#{category}-#{iconSet}-#{designer}.png")       
//                 // <img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/null/external-bank-money-phatplus-lineal-phatplus.png"/>
//                 // img(src="https://icons8.com/#{platform}/48/null/#{commonName}")
//                 // <img src="https://img.icons8.com/ios/50/null/airdrop.png"/>
//                     https://img.icons8.com/external-wanicon-lineal-wanicon/64/null/external-torii-gate-landmark-wanicon-lineal-wanicon.png
//                     https://img.icons8.com/external-photo3ideastudio-lineal-photo3ideastudio/64/null/external-bra-clothes-photo3ideastudio-lineal-photo3ideastudio.png
//                     https://img.icons8.com/external-{set}-{designer}/64/null/external-{commonName}.png           
//                 // +i name=name
//                 // a.ui.inline.header(href="/d/icon/#{../_id}" title='name') #{name}
//                 // .ui.label id #{id}
//                 // .ui.label commonName #{commonName}
//                 // .ui.label category #{category}
//                 // .ui.label platform #{platform}
//                 // if isAnimated
//                 //     .ui.label is Animated
//                 // if isFree
//                 //     .ui.label is Free
//                 // if isExternal
//                 //     .ui.label is External
//                 // if isColor
//                 //     .ui.label is color
//                 // .ui.label format: #{sourceFormat}
//             // each tags 
//             //     a.ui.basic.label.zoomer.pick_tag
//             //         +icolor name=this
//             //         |#{this}
//             +voting
//             // +print_this
//             // +author_info
//             // +creation_info

// template(name='icon_view')
//     with current_doc 
//         .ui.grid 
//             .sixteen.wide.column
//                 with icons8
//                     if _is 'platform' 'color'
//                         img(src="https://img.icons8.com/color/96/000000/#{commonName}.png")
//                     else if _is 'platform' 'ios'
//                         img(src="https://img.icons8.com/ios/96/000000/#{commonName}.png")
//                     else if _is 'platform' 'neon'
//                         img(src="https://img.icons8.com/neon/96/000000/#{commonName}.png")
//                     else if _is 'platform' 'wanicon'
//                         img(src="https://img.icons8.com/neon/96/000000/#{commonName}.png")
//                         // <img src="https://img.icons8.com/3d-plastilina/69/null/picture--v2.png"/>
//                     else 
//                         img(src="https://img.icons8.com/#{platform}/48/000000/#{commonName}.png")
//                         // img(src="https://icons8.com/icon/#{id}/#{commonName}")
//                         // img(src="https://img.icons8.com/external-#{iconSet}-#{designer}/64/null/external-#{commonName}-#{category}-#{iconSet}-#{designer}.png")       
//                         // <img src="https://img.icons8.com/external-phatplus-lineal-phatplus/64/null/external-bank-money-phatplus-lineal-phatplus.png"/>
                    
                    
//                         // img(src="https://icons8.com/#{platform}/48/null/#{commonName}")
//                         // <img src="https://img.icons8.com/ios/50/null/airdrop.png"/>
//                         // https://img.icons8.com/external-wanicon-lineal-wanicon/64/null/external-torii-gate-landmark-wanicon-lineal-wanicon.png
//                         // https://img.icons8.com/external-photo3ideastudio-lineal-photo3ideastudio/64/null/external-bra-clothes-photo3ideastudio-lineal-photo3ideastudio.png
//                         // https://img.icons8.com/external-{set}-{designer}/64/null/external-{commonName}.png           
//                     // +i name=name
//                     a.ui.inline.header(href="/d/icon/#{_id}" title='name') #{name}
//                     .ui.label id #{id}
//                     .ui.label commonName #{commonName}
//                     .ui.label category #{category}
//                     .ui.label platform #{platform}
//                     if isAnimated
//                         .ui.label is Animated
//                     if isFree
//                         .ui.label is Free
//                     if isExternal
//                         .ui.label is External
//                     if isColor
//                         .ui.label is color
//                     .ui.label format: #{sourceFormat}
//             +print_this


// template(name='icon_field')
//     .ui.header icons 8 icons 
//     .ui.input 
//         input.search_icon(type='text')
//     .ui.list.smallscroll
//         each icon_results
//             .item
//                 with icons8
//                     +i name=name
//                     .ui.label id #{id}
//                     .ui.label name #{name}
//                     .ui.label commonName #{commonName}
//                     .ui.label category #{category}
//                     .ui.label platform #{platform}
//                     .ui.label isAnimated #{isAnimated}
//                     .ui.label isFree #{isFree}
//                     .ui.label isExternal #{isExternal}
//                     .ui.label isColor #{isColor}
//                     .ui.label sourceFormat #{sourceFormat}
            
//                 +print_this
