template(name='interests_view')
    .ui.stackable.padded.grid
        .two.column.row 
            .column
                +single_user_field key='assigned_to_user_id'
                +multi_user_field key='assigned_to_user_ids'
                .ui.header 
                    |assigned to 
                each assigned_users
                    +user_pill
                    // .ui.header #{name}
                .ui.small.grey.header 
                    i.line.chart.icon
                    |stats
                .ui.list
                    .item #{views} views
                each viewers
                    .ui.label #{username}
                +image_field key='image_id' label='image'
                +array_field key='tags' label='tags' direct=true
                +array_field key='badge_titles' label='badges' direct=true
                +voting_full
                .ui.header #{when}
                +eft_viewer
                //- +array_field key='location_tags' label='location_tags' direct=true
            .column
                +textarea_field key='body' label='description' tagline='describe this interest'
                +comments
    
                // a.ui.header(href="/user/#{target.username}")
                //     |#{target.username}
                if youtube_id 
                    +youtube_field key='youtube_id' direct=true
                |!{content}
                div 
                .spacer
                .spacer
                if watson 
                    +watson_view