template(name='inbox')
    .ui.padded.stackable.grid 
        .row
            .four.wide.column
                .ui.header 
                    i.big.inbox.icon
                    |inbox
                .ui.basic.big.compact.circular.button.add_message
                    i.chat.blue.icon
                    |+ message
            .six.wide.column
                .ui.header 
                    i.chevron.down.icon
                    |#{my_sent_messages.count} sent messages
                .ui.list.medscroll
                    each my_sent_messages
                        .item
                            img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=100 width=200}}" class=currentUser.darkmode_class)
                            .content
                                .header
                                    |#{when} to #{recipient.name} #{target.name} #{to.name}
                                |#{description} #{body}
                                a(href="/m/message/#{_id}/view")
                                   |view 
                                +toggle_view_icon
                                if can_edit
                                    +remove_icon
                                if is_dev
                                    +print_this
            .six.wide.column
                .ui.header 
                    i.chevron.down.icon
                    |#{my_received_messages.count} received messages
                .ui.list.medscroll
                    each my_received_messages
                        .item
                            img.ui.avatar.image(src="{{c.url author.profile_image_id height=100 width=200}}" class=currentUser.darkmode_class)
                            .content
                                .header
                                    |#{when} from #{author.name}
                                |#{description} #{body}
                                .meta    
                                    a(href="/m/message/#{_id}/view")
                                +toggle_view_icon
                                if can_edit
                                    +remove_icon
                                if is_dev
                                    +print_this
                                
                                
template(name='toggle_view_icon')
    if is_read
        i.eye.circular.link.grey.icon.mark_unread(title='mark unread')
    else
        i.eye.circular.link.large.icon.mark_read(title='mark read')