template(name='toggle_sort_direction_button')
    .ui.compact.icon.button.set_sort_direction(title='toggle sort direction')
        if sorting_up
            i.sort.amount.down.icon
        else
            i.sort.amount.up.icon
                        
                        
                        
       
template(name='role_card')
    .ui.card
        if youtube_id 
            +youtube_view key='youtube_id'
        if image_id 
            +image_view key='image_id'
        .content
            .ui.inline.header #{title}
            if private 
                i.large.lock.icon
            .smallscroll
                |!{content}
                .ui.label 
                    i.user.icon
                    |#{_author_username}
                i.tag.icon
                each tags 
                    .ui.basic.label #{this}
            .ui.small.grey.header
                i.clock.icon
                |#{when}
            // +comments_view_small
            +author_info
            div
            +eft_viewer_small


template(name='set_role_sort_key')
    .item.set_sort
        if color
            .ui.label(class=color) #{label}
        else 
            if emoji
                em(data-emoji=emoji)
            else if icon
                i.icon(class=icon)
            |#{label}
        
        
                
                            
        
        

template(name='set_view_mode_role')
    .item.set_view
        i.icon(class=icon)
        |#{title}


// template(name='set_limit')
    .ui.compact.small.basic.button.set_limit #{amount}



        


