//multi-stakeholder cooperatives, 
    stakeholder categories, percentage sliders
//businesses w/departments, 
    Governance
    Strategy
    Finance
    Marketing
    Research and Development (visioning and design)
    Information Technology
    Customer Service
    Human Resources
    Production
    Quality Control
    Distribution
    Sourcing
    Operations
    Design
//incident ics teams, ecs roles
    Ops, fin, adm, log, com, pln
        lead support safety 
        safety officer, public info officer, liason officer, incident commander
        

template(name='org_card')
    .ui.card.zoomer
        if image_id
            a.fly_right(href="/org/#{_id}")
                img.ui.image(src="{{c.url image_id width=400 height=400}}")
        .content
            a.ui.header.fly_right(href="/org/#{_id}")
                |#{title}
            |#{member_ids.length} members
            .smallscroll
                |!{body}
            //+ismall name='tags' cl='ui inline image'
            each ten_tags
                .ui.basic.label #{this}
            a.zoomer(href="/org/#{_id}")
                i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            if can_edit
                a.ui.circular.basic.icon.button(href="/org/#{_id}/edit")
                    i.pencil.blue.icon
            +print_this
                    


                
template(name='org_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each org_events
            .item #{text} #{when}
            
template(name='org_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='org_reservations')
    .ui.header
        +ismall name='invoice'
        |org reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button


template(name='org_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .ui.stackable.padded.grid
                    .two.column.row 
                        .column
                            .ui.header editing #{title} org
                            .ui.inline.header 
                                +icolor name='group' cl='ui image inline pointer'
                                
                            a.ui.icon.green.big.button(href="/org/#{_id}" title='save')
                                i.checkmark.big.icon
                            +text_edit key='title' label='title' direct=true
                            
                            +html_edit key='body' label='body' direct=true
                            +youtube_edit key='youtube_id' label='youtube id' direct=true
                        .column
                            .ui.header required badges
                            +badge_picker
                            +role_crud
                            +task_picker
                            
                        .column
                            +model_picker model='event' icon='calendar'
                            
                            i.large.link.red.remove.icon.delete_role
                        .column
                            .ui.header 
                                small owner - each id should be stored in user account or as nft in crypto wallet.
                                
                            .ui.header 
                                small author
                                |#{_author.username}
                            .ui.basic.center.aligned.segment
                                +eft_picker color="FF73EA" icon='food' label='food'
                                +eft_picker color="B785E1" icon='home' label='housing'
                                +eft_picker color="7229AF" icon='tshirt' label='clothing'
                                +eft_picker color="1255B8" icon='car' label='transportation'
                                +eft_picker color="83DFF4" icon='lightning' label='energy'
                                +eft_picker color="42E8C4" icon='leaf' label='zero waste'
                                +eft_picker color="40C057" icon='smile' label='wellness'
                                +eft_picker color="FAB005" icon='university' label='education'
                                +eft_picker color="FD7E14" icon='paint brush' label='art'
                                +eft_picker color="FF0000" icon='users' label="community core"
                                
                        .column
                            if is_dev
                                +single_user_edit key='_author_id' label='author' direct=true
                            +image_edit key='image_id' label='image' direct=true
                            div 
                             +boolean_edit key='published' icon='visible' direct=true
                            if is_dev 
                                +text_edit key='model' label='model' direct=true
                        .column
                            div
                            +html_edit key='responsibilities' label='responsibilities'
                            div
                            +array_edit key='location_tags' label='location_tags' direct=true
                            // unless published
                            //     a.ui.fluid.green.button.submit(href="/save")
                            //         i.checkmark.icon
                            //         |publish
                            // else
                            //     .ui.basic.button.unpublish 
                            //         |unpublish
                        .column
                            .ui.header
                                |audience
                            +boolean_edit key='private' label='private' 
                            if private 
                                +multi_user_edit key='access_user_ids' label='user picker' direct=true
                        .column
                            +group_picker
                            +array_edit key='skills' label='skills' icon='wrench' direct=true
                        .column
                            +model_picker model='skill' icon='wrench'

template(name='org_view')
    with current_doc
        img.ui.fluid.image.bg_overlay(src="{{c.url image_id crop='fit'}}")
        
        .ui.stackable.padded.grid.scrolling
            .middle.aligned.row
                .three.wide.column
                    .left_floated
                        a.ui.circular.tertiary.large.button.zoomer.fly_left(href="/")
                            i.left.chevron.icon
                            +ismall name='groups' color='83DFF4' 
                            |orgs
                .ten.wide.center.aligned.column
                    .ui.centered.inline.huge.center.aligned.header
                        |#{title}
                .three.wide.column
                    .right_floated
                        if can_edit
                            a.ui.circular.tertiary.icon.button.zoomer.floated.right.fly_down(href="/org/#{_id}/edit" title="edit #{title}")
                                i.setting.big.icon

                .six.wide.column
                    +image_view key='image_id' icon='image' label='image'
                    +array_view key='tags' icon='tags'
                    .spacer
                    if link
                        a.ui.basic.circular.button(href=link target='_window')
                            i.external.icon
                            |view site
                        .spacer
                    div
                    .spacer
                    if address
                        a.ui.compact.basic.circular.button(href=address_link target='_window')
                            i.marker.icon
                            |#{address}
                    +viewing
                    +bookmark_button
                    if in_dev 
                        +print_this
                    +multi_user_view key='member_ids' label='members' 
                    +org_history
                    +org_subscription
    
                .five.wide.column
                    .ui.header leaders
                    a.ui.basic.button(href="/user/#{lead}") lead
                        with lead
                            +user_info
                    .ui.basic.button support
                    .ui.basic.button safety
                    .ui.basic.button creator  
                    .ui.header 
                        |#{member_ids.count} members
                    each member_ids
                        +user_info
                    |!{body}
                    +role_crud
                    +eft_viewer
                            // a.item(href="/org/#{_id}/#{username}")
                            //     img.ui.mini.image(src="{{c.url image_id width=200 height=200}}")
                            //     .content
                            //         .header
                            //             |#{username}
                .five.wide.column
                    if is_member
                        .ui.big.button.leave(title='click to leave')
                            i.checkmark.icon
                            |member
                    else 
                        .ui.big.button.join(title='')
                            i.user.plus.icon
                            |join
                    // +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
                    .ui.header 
                        +i name='rss'
                        |activity
                    each log_items
                        +log_item
                    .ui.header 
                        +i name='line-chart'
                        |stats
                    i.refresh.link.icon.refresh_org_stats
                    .ui.large.list
                        .item #{member_count} members
                        .item roles
                        .item resources
                        .item groups
                        .item projects
                        .item tasks
                        .item badges
                        .item services
                        .item products
                        
                        .item #{meal_count} meals
                        .item #{dish_count} dishes
                        .item #{total_credit_exchanged} credits exchanged
                        .item 
                    +comments
    
template(name='user_orgs')
    .scrolling
        if is_current_user
            .ui.circular.button.add_org
                i.plus.icon
                |org
        each orgs
            +profile_org_item

template(name='profile_org_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image_id'  cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/org/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/org/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
    
    
    
template(name='orgs_small')
    a.ui.header.zoomer(href="/orgs")
        +i name='orgs'
        |orgs
    .ui.selection.animated.list.smallscroll
        each org_docs
            a.item(href="/org/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                |#{title}