//multi-stakeholder cooperatives, 
    stakeholder categories, percentage sliders
//businesses w/departments, 
    Governance
    Strategy
    Finance
    Marketing
    Research and Development (visioning and design)
    Information Technology
    Customer Service
    Human Resources
    Production
    Quality Control
    Distribution
    Sourcing
    Operations
    Design
//incident ics teams, ecs roles
    Ops, fin, adm, log, com, pln
        lead support safety 
        safety officer, public info officer, liason officer, incident commander
        

template(name='org_card')
    .ui.card.zoomer
        if image_id
            a.fly_right(href="/d/org/#{_id}")
                img.ui.image(src="{{c.url image_id width=400 height=400}}")
        .content
            a.ui.header.fly_right(href="/d/org/#{_id}")
                |#{title}
            |#{member_ids.length} members
            .smallscroll
                |!{body}
            //+ismall name='tags' cl='ui inline image'
            each ten_tags
                .ui.basic.label #{this}
            a.zoomer(href="/d/org/#{_id}")
                i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            if can_edit
                a.ui.circular.basic.icon.button(href="/d/org/#{_id}/edit")
                    i.pencil.blue.icon
            +print_this
                    


                
template(name='org_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each org_events
            .item #{text} #{when}
            
template(name='org_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.basic.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='org_reservations')
    .ui.header
        +ismall name='invoice'
        |org reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button


template(name='title_link_buttons')
    a.zoomer(href="https://www.google.com/search?q=#{title}" target='_window' title="google #{title}")
        i.search.circular.link.icon.zoomer
    a.zoomer(href="https://www.google.com/search?tbm=isch&q=#{title}" target='_window' title="image search #{title}")
        i.image.circular.link.icon.zoomer
    a.zoomer(href="https://www.amazon.com/s?k=#{title}&ref=nb_sb_noss_2" target='_window' title="amazon search #{title}")
        i.amazon.circular.link.icon.zoomer



template(name='org_view')
    // if currentUser.admin_mode 
    //     +org_edit
    .ui.stackable.padded.grid.scrolling
        .row
            .four.wide.column
                +image_field key='image_id' icon='image' label='image'
                // +image_field key='banner_image_id' icon='image' label='banner image'
                +array_field key='tags' icon='tags'
                if currentUser.editing
                    +title_link_buttons
                .spacer
                +icon_field
                if link
                    a.ui.basic.circular.button(href=link target='_window')
                        i.external.icon
                        |view site
                    .spacer
                div
                .spacer
                if address
                    a.ui.compact.basic.circular.button(href=address_link target='_window')
                        i.marker.icon
                        |#{address}
                +textarea_field key='purpose' tagline="what is the basic purpose of your organization? what principals does it serve?"
                +textarea_field key='vision' label='vision' tagline="how will your organization impact society? how will it look for people?"
                +textarea_field key='mission' tagline='your business goals and the values you will embrace to achieve them'
                +textarea_field key='bylaws' tagline='bylaws of your organization. Articles of incorporation are the primary law of an association used to establish the general organization and governing of the association to achieve corporate existence. Bylaws are the secondary law of an association best used to detail how the society is formed and run.'
                +textarea_field key='signature' tagline='creators signature'
                +viewing
                // block template to make everything lazy loading with passed subtemplate
                +block template='org_history' label='activity'
                +block template='org_subscription' label='subscriptions'
                // +multi_user_view key='member_ids' label='members' 
                // +org_history
                // +org_subscription
            .eight.wide.column
                +block template='link_field'
                +link_field key='link' label='link'
                // if link
                //     iframe.invert(width='100%' height='500px' src=link frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            
                .centered.row
                    // datetime saves in datetime format like: 2023-03-22T19:39
                    // need to use moment helper to format, helpers.coffee 
                    .ui.medium.header {{long start_time}} #{date}
                    if currentUser.editing 
                        +datetime_field key='start_time'
                    // +text_field
                    div
                    +eft_viewer
                .ui.header Spaceholders
                // .ui.centered
                        +single_user_field key='lead' label='lead'
                .ui.center.aligned.grid
                    .four.wide.column 
                        .ui.small.centered.header Lead
                        div
                        +single_user_field key='lead'
                    .four.wide.column
                        .ui.small.centered.header Support
                        div
                        // .ui.centered
                        +single_user_field key='support'
                    .four.wide.column
                        .ui.small.centered.header Safety
                        div
                        // .ui.centered
                        +single_user_field key='safety'
                    .four.wide.column
                        .ui.small.centered.header Creator
                        div
                        // .ui.centered
                        +single_user_field key='creator'
                // +textarea_field key='brief' tagline='what kink of organization is this? breifly describe it.'
                // +textarea_field key='description' tagline='complete description of your organization'
                +textarea_field key='body' tagline='body'
                // +link_field
                // +model_crud model='role' label='roles'
                // +model_crud model='project'
                // +model_crud model='event'
                // +model_crud model='task'
                +home_search

                // +block template='model_crud' model='post' title='posts' icon='for-you' color='1255B8'
                // +block template='model_crud' model='group' title='groups' icon='groups' color='83DFF4'
                // +block template='model_crud' model='resource' title='resources' icon='field-and-tractor' color='FD7E14'
                // +block template='model_crud' model='project' title='project' icon='project' color='7229AF'
                // +block template='model_crud' model='event' title='events' icon='calendar' color='FAB005'
                // +block template='model_crud' model='badge' title='badges' icon='badge' color='blue'
                // +block template='model_crud' model='role' title='roles' icon='what-i-do' color='42E8C4'
                // +block template='model_crud' model='task' title='tasks' icon='task' color='B785E1'
                // +block template='model_crud' model='shift' title='shifts' icon='shift' color='teal'
                // +block template='model_crud' model='skill' title='skills' icon='wrench' color='ff0000'
                // div
                // +block template='model_crud' model='request' title='requests' color='40C057' icon='commercial'
                // +block template='model_crud' model='offer' title='offers' icon='hand-holding-heart' color='FF73EA'
                // +block template='model_crud' model='product' title='products' icon='shop' color='40C057'
                // +block template='model_crud' model='service' title='services' icon='service' color='FF73EA'
                // +block template='model_crud' model='objective' title='objectives' color='teal'
                // +block template='model_crud' model='keyresult' title='key results' color='orange'

                // a.item(href="/d/org/#{_id}/#{username}")
                //     img.ui.mini.image(src="{{c.url image_id width=200 height=200}}")
                //     .content
                //         .header
                //             |#{username}
            .four.wide.column
                +membership_toggle
                +block template='members'
                +block template='ai' name='blockchain'
                +block template='comments' label='comments' icon='chat' color='blue' data=this
                +block template='checklist'

                        // +user_pill
                if currentUser.editing
                    .ui.basic.center.aligned.segment
                        +eft_picker color="FF73EA" icon='food' label='food'
                        +eft_picker color="B785E1" icon='home' label='housing'
                        +eft_picker color="6b0fb9" icon='tshirt' label='clothing'
                        +eft_picker color="0000f7" icon='smile' label='wellness'
                        +eft_picker color="00ddff" icon='car' label='travel'
                        +eft_picker color="00ffc3" icon='dog' label='animals'
                        +eft_picker color="148023" icon='leaf' label='plants'
                        +eft_picker color="35ca2d" icon='recycle' label='regen'
                        +eft_picker color="ffff00" icon='lightning' label='energy'
                        +eft_picker color="ffd000" icon='paint brush' label='art'
                        +eft_picker color="ff6f00" icon='university' label='education'
                        +eft_picker color="FF0000" icon='users' label='community'
                        +eft_picker color="000000" icon='ambulance' label='emergency'
                +block template='gratigen'
                .ui.header 
                +block template='latest_updated_block' title='latest' icon='time-machine' color='blue'
                each log_items
                    +log_item
                +block template='org_stats' title='stats' icon='line chart'
                // +org_stats
                // +block template='role_crud'
                // +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
            .five.wide.column
                +block template='related_docs' title='related docs'
        //                 .column
        //                     +model_crud model='event' icon='calendar'
                            
        //                     i.large.link.red.remove.icon.delete_role
        //                 .column
        //                     .ui.header 
        //                         small owner - each id should be stored in user account or as nft in crypto wallet.
                                
        //                     .ui.header 
        //                         small author
        //                         |#{_author.username}
        //                     .ui.basic.center.aligned.segment
        //                         +eft_picker color="FF73EA" icon='food' label='food'
        //                         +eft_picker color="B785E1" icon='home' label='housing'
        //                         +eft_picker color="7229AF" icon='tshirt' label='clothing'
        //                         +eft_picker color="1255B8" icon='car' label='transportation'
        //                         +eft_picker color="83DFF4" icon='lightning' label='energy'
        //                         +eft_picker color="42E8C4" icon='leaf' label='zero waste'
        //                         +eft_picker color="40C057" icon='smile' label='wellness'
        //                         +eft_picker color="FAB005" icon='university' label='education'
        //                         +eft_picker color="FD7E14" icon='paint brush' label='art'
        //                         +eft_picker color="FF0000" icon='users' label="community core"
        //                 .column
        //                     if is_dev
        //                         +single_user_field key='_author_id' label='author'
        //                     +image_field key='image_id' label='image'
        //                     div 
        //                      +boolean_field key='published' icon='visible'
        //                     if is_dev 
        //                         +text_field key='model' label='model'
        //                 .column
        //                     div
        //                     +textarea_field key='responsibilities' label='responsibilities'
        //                     div
        //                     +array_field key='location_tags' label='location_tags'
        //                     // unless published
        //                     //     a.ui.fluid.green.button.submit(href="/save")
        //                     //         i.checkmark.icon
        //                     //         |publish
        //                     // else
        //                     //     .ui.basic.button.unpublish 
        //                     //         |unpublish
        //                 .column
        //                     .ui.header
        //                         |audience
        //                     +boolean_field key='private' label='private' 
        //                     if private 
        //                         +multi_user_field key='access_user_ids' label='user picker'
        //                     +array_field key='skills' label='skills' icon='wrench'
        //                 .column
        //                     +model_crud model='skill' icon='wrench'
        
        
template(name='membership_toggle')
    if is_member
        .ui.big.tertiary.fluid.green.button.leave_org(title='click to leave')
            // i.checkmark.icon
            +i name='membership-card' cl='ui inline mini image'
            |member
    else 
        .ui.big.tertiary.fluid.orange.button.join_org(title='click to join')
            i.user.plus.icon
            |join 
    div

    
    
    
template(name='members')
    .ui.inline.header 
        i.users.icon
        // +user_avatars
        // |members
    if currentUser.editing 
        +multi_user_field key='member_ids' label='members'
    else 
        each member_ids
            with user_from_id this
                // .ui.label #{this}
                if image_id
                    a.fly_right(href="/user/#{username}" title=username)
                        img.ui.tiny.circular.inline.image.zoomer(src="{{c.url image_id height='300' width='300' gravity='face' crop='fill'}}")
// template(name='user_avatars')
    each all_users
        if image_id
            a.fly_right(href="/user/#{username}" title=username)

    
template(name='org_stats')
    .ui.header.refresh_org_stats
        +i name='line-chart'
        |stats
    i.refresh.link.icon.refresh_org_stats
    .ui.large.list
        .item #{total_credit_exchanged} credits exchanged
        .item #{views} views
        .item #{points} points
        .item #{member_count} members
        .item #{event_count} events
        .item #{post_count} posts

    
    
template(name='related_docs')
    details.ui.styled.fluid.accordion
        summary.title.zoomer
            .ui.inline.header
                | related

        .content
            .ui.items
                each related_doc_results 
                    a.link.item(href="/d/#{model}/#{_id}")
                        img.ui.small.image(src="{{c.url image_id width=200 height=200}}")
                        .content
                            .header #{title}
                            .meta
                                each five_tags 
                                    .ui.basic.label #{this}
                                +author_info
                                +creation_info

    
template(name='org_section')
    .ui.segment
        .ui.header #{title}
        |#{tagline}
        if currentUser.editing 
            |editing #{key}
            +textarea_field key=key
        else         
            +textarea_field key=key
    
template(name='edit_button')
    if currentUser.editing
        .ui.basic.big.green.circular.icon.button.editing.invert.zoomer(title="save #{title}")
            i.setting.big.blue.zoomer.loading.icon(title="edit #{title}")
            i.checkmark.big.icon.zoomer
            // |save
    else
        i.setting.big.link.zoomer.icon.editing(title="edit #{title}")
    // a.ui.circular.tertiary.icon.button.zoomer.floated.right.fly_down(href="/d/org/#{_id}/edit" title="edit #{title}")
    // a.ui.circular.tertiary.icon.button.zoomer.editing(title="edit #{title}")

    
    
    
    
template(name='user_orgs')
    .smallscroll
        .ui.inline.header #{user_authored_orgs.count} authored orgs
        if is_current_user
            .ui.circular.tertiary.basic.icon.button.add_org
                i.plus.icon
        .ui.selection.divided.list 
            each user_authored_orgs
                +profile_org_item

template(name='profile_org_item')
    a.ui.item(href="/d/org/#{_id}")
        +image_view key='image_id'  cl='zoom ui tiny image'
        .content
            .ui.header #{title}
            // a.ui.small.header.inline.lowercase(href="/d/org/#{_id}/")
            //     |#{price_per_serving}c / #{serving_unit}
            // .ui.small.inline.header #{when}
            +creation_info
    
    
    
template(name='orgs_small')
    a.ui.header.zoomer(href="/orgs")
        +i name='orgs'
        |orgs
    .ui.selection.animated.list.smallscroll
        each org_docs
            a.item(href="/d/org/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                |#{title}