//multi-stakeholder cooperatives, 
    stakeholder categories, percentage sliders
//businesses w/departments, 
    Governance
    Strategy
    Finance
    Marketing
    Research and Development (visioning and design)
    Information Technology
    Customer Service
    Human Resources
    Production
    Quality Control
    Distribution
    Sourcing
    Operations
    Design
//incident ics teams, ecs roles
    Ops, fin, adm, log, com, pln
        lead support safety 
        safety officer, public info officer, liason officer, incident commander
        

template(name='org_card')
    .ui.card.zoomer
        if image_id
            a.fly_right(href="/org/#{_id}")
                img.ui.image(src="{{c.url image_id width=400 height=400}}")
        .content
            a.ui.header.fly_right(href="/org/#{_id}")
                |#{title}
            |#{member_ids.length} members
            .smallscroll
                |!{description}
            //+ismall name='tags' cl='ui inline image'
            each ten_tags
                .ui.basic.label #{this}
            a.zoomer(href="/org/#{_id}")
                i.chevron.right.large.circular.icon
            // if is_admin
            //     .ui.small.header slug: #{slug}
            if can_edit
                a.ui.circular.basic.icon.button(href="/org/#{_id}/edit")
                    i.pencil.blue.icon
            +print_this
                    


                
template(name='org_history')
    +ismall name='rss'
    .ui.inline.header
        |activity
    .ui.list
        each org_events
            .item #{text} #{when}
            
template(name='org_subscription')
    //- +ismall name='renew-subscription'
    //- .ui.inline.header
    //-     |subscription settings
    .ui.button.subscribe subscribe to updates
    .ui.list
        each subscribers
            .item #{text} #{when}
            
template(name='org_reservations')
    .ui.header
        +ismall name='invoice'
        |org reservations
    .ui.button.new_reservation
        |new reservation
    each reservations
        .ui.segment
            .ui.header #{when}
            .ui.header by #{_author_username}
            +view_button
            +edit_button


template(name='org_edit')
    .ui.stackable.padded.grid
        .row
            .five.wide.column.scrolling
                .ui.header 
                    |edit org
                a.ui.big.icon.fluid.green.button(href="/org/#{_id}" title='save')
                    i.checkmark.large.icon
                +remove_button
                +image_edit key='image_id' label='image' 
                +link_edit key='link' label='link' 
            .six.wide.column.scrolling
                +text_edit key='title' 
                +html_edit key='description' label='content' icon='content' 
            .five.wide.column.scrolling
                +single_user_edit key='leader' label='leader' icon='crown' 
                +array_edit key='tags' label='tags' icon='tags' 
                
                +text_edit key='location' 
                +geolocate_button
                +array_edit key='location_tags' label='location tags' icon='marker' 
                +text_edit key='contact_info' label='contact info' icon='info' 
                +multi_user_edit key='member_ids' label='members' 
                +boolean_edit key='private' label='private' 
                +multi_user_edit key='leader_ids' label='tribe leaders' 

                    
template(name='org_view')
    .ui.stackable.padded.grid
        .row
            .six.wide.column
                .ui.header 
                    if icon
                        +i name=icon
                    |#{title}
                a.ui.circular.basic.button(href="/orgs")
                    i.left.chevron.icon
                    +i name='campfire' cl='ui mini inline image'
                    |orgs
                if can_edit
                    a.ui.circular.basic.icon.button.fly_down(href="/org/#{_id}/edit")
                        i.setting.large.icon
                +image_view key='image_id' icon='image' label='image'
                +array_view key='tags' icon='tags'
                .spacer
                if link
                    a.ui.basic.circular.button(href=link target='_window')
                        i.external.icon
                        |view site
                    .spacer
                div
                .spacer
                if address
                    a.ui.compact.basic.circular.button(href=address_link target='_window')
                        i.marker.icon
                        |#{address}
                +viewing
                if in_dev 
                    +print_this
                +multi_user_view key='member_ids' label='members' 
                +org_history
                +org_subscription

            .five.wide.column
                +html_view key='description' icon='content' label='description'
                .ui.inline.header 
                    +i name='crown' cl='ui avatar image'
                    |leader: 
                with leader 
                    +user_info
                // a.ui.basic.button(href="/user/#{leader}")
                //     |#{leader}
                .ui.header 
                    +i name='orgs'
                    |#{member_ids.count} members
                .ui.large.selection.animated.list
                    each member_ids
                        +user_info
                        // a.item(href="/org/#{_id}/#{username}")
                        //     img.ui.mini.image(src="{{c.url image_id width=200 height=200}}")
                        //     .content
                        //         .header
                        //             |#{username}
            .five.wide.column
                if is_member
                    .ui.button.leave(title='click to leave')
                        i.checkmark.icon
                        |member
                else 
                    .ui.button.join(title='')
                        i.user.plus.icon
                        |join
                // +doc_array_togggle key='member_ids' value=currentUser._id add_label='join' remove_label='joined'
                .ui.header 
                    +i name='rss'
                    |activity
                each log_items
                    +log_item
                .ui.header 
                    +i name='line-chart'
                    |stats
                i.refresh.link.icon.refresh_org_stats
                .ui.large.list
                    .item #{member_count} members
                    .item #{meal_count} meals
                    .item #{dish_count} dishes
                    .item #{total_credit_exchanged} credits exchanged
                +comments
    
template(name='user_orgs')
    .scrolling
        if is_current_user
            .ui.circular.button.add_org
                i.plus.icon
                |org
        each orgs
            +profile_org_item

template(name='profile_org_item')
    .ui.segment.grid
        .row
            .four.wide.column
                +image_view key='image_id'  cl='zoom ui tiny image'
            .twelve.wide.column
                .ui.header #{title}
                a.ui.small.header.inline.lowercase(href="/org/#{_id}/")
                    |#{price_per_serving}c / #{serving_unit}
                .ui.small.inline.header #{when}
                a.ui.button(href="/org/#{_id}/")
                    |view
                    i.right.chevron.icon
                if is_admin
                    +remove_button
    
    
    
template(name='orgs_small')
    a.ui.header.zoomer(href="/orgs")
        +i name='orgs'
        |orgs
    .ui.selection.animated.list.smallscroll
        each org_docs
            a.item(href="/org/#{_id}")
                img.ui.avatar.image(src="{{c.url image_id width=200 height=200}}")
                |#{title}