template(name='checklist')
    .ui.segment
        details.ui.styled.fluid.accordian
            summary.title.zoomer
                if currentUser.admin_mode 
                    |#{complete_count}/
                    |#{org_task_docs.count}
                |checklist
                // .dripdown.icon
            .content
                .ui.large.input
                    input.quickadd_task(type='text' placeholder='add task')
                |#{complete_count} complete
                |#{incomplete_count} incomplete
                .ui.big.list
                    each org_task_docs
                        +task_item_small
                
                
template(name='task_item_small')
    .item
        .content
            if completed
                i.checkmark.green.link.icon.zoomer.uncomplete(title='mark incomplete')
            else 
                i.circle.outline.link.icon.zoomer.complete(title='mark complete')
            |#{title}
            // .ui.checkbox
            //     label.details check me
            //     input(type='checkbox' checked="")
            // i.chevron.down.large.icon.view_more(title='view more')
            // if viewing_full
            i.remove.link.icon(title='remove task')
            +array_field key='tags' label='tags' icon='tags'
            a(href="/d/task/#{_id}")
                i.chevron.right.icon
            +edit_button_icon
            +single_user_field key='assigned_to_user_ids' label='assigned to'
            // +textarea_field key='body'
                
                
template(name='edit_button_icon')
    i.pencil.icon.toggle(title='edit task')

template(name='tasks')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inline.header 
                // i.tasks.icon
                +i name='tasks'
                |tasks
            div
            +add_model_button model='task'
            .ui.inline.small.header 
                i.user.friends.icon
                |authors
            each picked_authors
                a.ui.blue.label.unpick_author
                    |#{this}
            each author_results
                if title
                    a.ui.basic.circular.small.link.label.pick_author
                        |#{title} 
                        small.ui.grey.text #{count}
            div
            .ui.small.inline.header
                i.tags.icon
                |tags
            each picked_tags
                a.ui.blue.label.unpick_task
                    |#{this}
            each task_tag_results
                if title
                    a.ui.basic.circular.small.link.label.pick_task
                        |#{title} 
                        small.ui.grey.text #{count}
            div
            .ui.small.inline.header
                i.fire.icon
                |groups
            each picked_task_groups
                a.ui.blue.label.unpick_group
                    |#{this}
            each task_group_results
                if title
                    a.ui.basic.circular.small.link.label.pick_group
                        |#{title} 
                        small.ui.grey.text #{count}
        .twelve.wide.column
            span.sorting_row
                +search_input model='task' field='title'
                +session_set key='view_users' value='grid' icon='th' 
                +session_set key='view_users' value='list' icon='list'
                +session_set key='sort_users_direction' value='-1' icon='chevron down'
                +session_set key='sort_users_direction' value='1' icon='chevron up'
                +session_set key='sort_users_key' value='points' icon='coins'
                +session_set key='sort_users_key' value='created_date' icon='clock'
                +session_set key='view_limit' value=1
                +session_set key='view_limit' value=10
                +session_set key='view_limit' value=20
                +session_set key='view_limit' value=50
                i.large.sort.icon
                +set_sort_key key='comment_count' label='comment count' icon='chat'
                +set_sort_key key='views' label='views' icon='eye'
                +set_sort_key key='points' label='points' icon='line chart'
                +toggle_sort_direction_button
                |&nbsp;
                |&nbsp;
                .spacer 
        
            span.ui.doubling.cards.scrolling
                each task_docs
                    +task_card
                    
                    
template(name='my_tasks')
    .ui.header my tasks
                    
                    



template(name='task_crud')
    // .ui.segment
    .ui.styled.accordion
        .title
            .dropdown.icon
            .ui.inline.header
                // +i name='shield'
                // |#{picked_tasks.count}
                | tasks
        .content
            .ui.icon.large.input 
                if task_search_value
                    i.large.red.remove.link.icon.zoomer.clear_search
                else 
                    i.search.icon
                input.task_search(type='text' placeholder='search' value=task_search_value)
            if task_results
                // .ui.selection.link.animated.list
                each task_results
                    .ui.basic.circular.large.button.pick_task.zoomer
                        i.grey.plus.icon
                        if image_id
                            img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                        |#{title}
            if task_search_value
                .ui.large.button.create_task(title='add')
                    i.plus.icon
                    |#{task_search_value}
            // if picked_tasks
            .ui.header 
                |#{picked_tasks.count}
                |tasks
            .smallscroll
                each picked_tasks
                     .ui.horizontal.fluid.card.show_modal
                        .content
                            .ui.grid
                                .row
                                    // .column
                                    .fourteen.wide.column
                                        .left.floated
                                            a.ui.inline.header
                                                |!{title}
                                            div
                                            +eft_viewer_small
                                            // img(src="{{c.url image_id width=50 height=50}}")
                                            // div    
                                            // |!{content}
                                    .two.wide.column
                                        .right.floated
                                            if _is 'model' 'task'
                                                +ismall name='what-i-do' color='42E8C4' cl='ui inline image'
                                            div
                                            |#{when}
                                .row
                                    .six.wide.column
                                        img.invert(src="{{c.url image_id width=10 height=10}}")
                                    .ten.wide.column
                                        |!{content}
                                .sixteen.wide.column
                                    if currentUser.admin_mode
                                        .ui.tertiary.large.button.zoomer.remove_task 
                                            i.remove.icon
                                            |remove 
                                        .ui.tertiary.large.button.zoomer.toggle_assign 
                                            i.user.plus.icon
                                            | assign
                                        if assigned_to 
                                            |assigned to #{asigned_to.username}
                                        else 
                                            |unnassigned
                                        if is_assigning 
                                            each task_holders 
                                                .ui.label #{username}
                                        else 
                                            with assigned_users
                                                .ui.green.label #{username}
                                        a.ui.tertiary.right.floated.icon.large.button.zoomer.fly_right(href="/task/#{_id}/edit" title='edit task')
                                            i.setting.icon
                                    else
                                        // else if can_take
                                        if has_taken 
                                            |taken by #{taken_user.name}
                                            .ui.large.button.release_task
                                                i.undo.icon
                                                |release 
                                        else if can_take
                                            .ui.tertiary.large.button.zoomer.take_task 
                                                i.checkmark.icon
                                                | take
                                        else if is_taken 
                                            |taken by #{taken_user.name}
                                    a.ui.tertiary.large.button.zoomer(href="/task/#{_id}")
                                        |view
                                        i.chevron.right.icon
                    .ui.modal 
                        .ui.header hi