template(name='cart_card')
    a.card(href="/cart/#{_id}")
        .content
            .ui.header #{title} #{when}

                    
                    
template(name='cart')
    // with current_cart
    .ui.stackable.padded.three.column.grid
        .column
            .ui.header
                // i.cart.icon
                +i name='shopping-cart'
                |cart
            // .ui.large.list
            each cart_items
                +cart_item
            .ui.header 
                +i name='receipt'
                |subtotal: $#{my_cart_subtotal}
        .column
            +delivery_section
            +location_section
        .column
            +payment_section
            // +boolean_field key='receive_notifications' label='check this box to receive your vital reminder texts and emails (optional)'
            // +boolean_field key='has_read_tos' label=' I have read and agree to the website terms and conditions'
            // if has_read_tos
            //     .ui.big.fluid.green.button.submit_order
            //         i.large.send.icon
            //         |submit
            // else 
            .ui.big.fluid.green.disabled.button
                i.large.send.icon
                |submit (must agree to terms of service)
                
                
                

template(name='cart_item')
    .ui.grid
        .four.wide.column
            img.ui.fluid.rounded.image(src="{{c.url product_image_id width=400 height=400 crop='pad'}}")
        .twelve.wide.column
            a.header(href="/product/#{product_id}") 
                |$#{product_point_price} #{product_title}
            .description
                small added #{when}
                .ui.basic.icon.button.decrease_amount
                    i.minus.icon
                .ui.inline.header #{amount}
                .ui.basic.icon.button.increase_amount
                    i.plus.icon
                .ui.basic.icon.button.remove_item
                    i.remove.red.icon
                if in_dev
                    +print_this
        
        
template(name='location_section')
    .ui.basic.segment
        a.ui.header(href="/user/#{currentUser.username}/addresses")
            +i name='marker'
            |billing address
        each model_docs_helper 'address'
            div
            .ui.large.button.pick_address(class=user_address_pick_class)
                | #{street_address}, #{city}, #{zip_code}
        // +boolean_field key='use_profile_address' label='use profile address'
        +boolean_field key='use_new_address' label='use new address'
        if use_new_address
            .ui.input
                input(type='text' placeholder='street')
            .ui.input
                input(type='text' placeholder='city')
            .ui.input
                input(type='text' placeholder='state')
            .ui.input
                input(type='number' placeholder='zip code')
        div
        // .ui.button.use_profile_address
            |use profile address
        .ui.inline.header 
            +i name='truck'
            |shipping address
        +boolean_field key='use_different_shipping_address' label='use different shipping address'
        if use_different_shipping_address
            .ui.input
                input(type='text' placeholder='street')

    
template(name='delivery_section')    
    .ui.basic.segment
        .ui.inline.header
            +i name='truck'
            |delivery
        +kvs key='delivery_time_type' value='now' icon='present'
        +kvs key='delivery_time_type' value='later' icon='clock'
        // else  
        //     .ui.red.disabled.button(title='existing reservations')
        //         i.remove.icon   
        //         | can't cancel  
        div
        .ui.inline.header method
        // +kvs key='delivery_type' value='pickup' icon='pick-up'
        // +kvs key='delivery_type' value='delivery' icon='bicycle'
        +kvs key='delivery_method' value='delivery' icon='bicycle'
        +kvs key='delivery_method' value='pickup' icon='doormat'
        if is delivery_time_type 'later' 
            if key_value_is 'delivery_method' 'delivery'
                +datetime_field key='delivery_timedate' label='delivery datetime'
            if key_value_is 'delivery_method' 'pickup'
                +datetime_field key='pickup_timedate' label='pickup timedate'
        
template(name='payment_section')                
    .ui.segment
        .ui.header 
            +i name='money'
            |payment
        div
        +i name='wallet--v1' cl='ui inline image'
        .ui.inline.header ${{fixed currentUser.credit}} credit
        +boolean_field key='use_credit' label='use credit'
        +buy_coin amount=10
        +buy_coin amount=20
        +buy_coin amount=50
        +buy_coin amount=100
        unless use_credit
            div
            .ui.basic.compact.button.select_credit_card
                +i name='card-exchange--v1' cl='ui avatar image'
                |existing credit card
            .ui.basic.button.use_coupon
                +i name='cutting-coupon' cl='ui avatar image'
                |use coupon
            .ui.basic.compact.button.add_gift_card
                +i name='gift-card' cl='ui avatar image'
                |add gift card
            .ui.basic.compact.button.select_new_credit_card
                +i name='plus' cl='ui avatar image'
                |new credit card
template(name='buy_coin')                
    .ui.compact.button.topup
        |buy $#{amount} coin                    