template(name='login')
    .ui.padded.stackable.grid
        .centered.row
            .eight.wide.column
                // img.ui.image(src="{{c.url 'kitchen_logo' gravity='face' crop='fill'}}")
                .ui.massive.center.aligned.header
                    img.ui.circular.image(src="/logo.png")
                    // +ibig name='network'
                    |gratigen login
                .ui.inline.small.header 
                    +i name='user-male'
                    // i.user.outline.icon
                    |username
                .ui.fluid.big.input(class=login_class)
                    input.username(type='text')
                .spacer
                .ui.inline.header 
                    +i name='password'
                    // i.lock.icon
                    | password
                .ui.fluid.big.input(class=login_class)
                    input.password(type='password')
                //- if username
                //- if logging_in
                .ui.hidden.divider
                .ui.fluid.big.green.basic.button.enter.invert(title="login #{username}" class=enter_class)
                    +i name='internal' cl='ui mini inline image'
                    |login
                    strong #{username}
                    //- i.right.chevron.icon
                .ui.horizontal.divider or
                .ui.center.aligned.basic.segment    
                    // a.ui.compact.small.button(href='/forgot_password')
                    //     +i name='forgot-password' cl='ui mini inline image'                    
                    //     |forgot password

                    a.ui.big.teal.button(href='/register')
                        i.user.plus.icon
                        |register

template(name='register')
    //- img.ui.fluid.image.bg_overlay(src="{{c.url 'forest-bg2' width=1000 crop='fit'}}")    
    .ui.padded.stackable.grid
        .centered.middle.aligned.row
            .ten.wide.column
                // img.ui.centered.image(src="https://nudefoodsmarket.com/wp-content/uploads/2021/03/logo-smaller-300x87.jpg")
                h1.ui.center.aligned.header
                    // +i name='user-add'
                    +i name='truck'
                    // i.user.add.large.icon
                    | + gratigen register
                .ui.inline.small.header 
                    +i name='user-male'
                    |username
                .ui.fluid.large.input(class=login_class)
                    input.username(type='text')
                .spacer
                .ui.inline.small.header 
                    +i name='password'
                    | password
                .ui.fluid.large.input(class=login_class)
                    input.password(type='password')

                //- .ui.fluid.labeled.input(class=login_class)
                //-     .ui.small.inline.header 
                //-         i.lock.grey.icon
                //-         | password again
                //-     input.password2(type='password')
                .ui.hidden.divider
                // if can_register
                    //- if registering
                .ui.fluid.big.button.register(class=enter_class)
                    i.user.plus.icon
                    |register
                // else
                //     .ui.fluid.big.disabled.button(class=enter_class)
                //         i.user.plus.icon
                //         |register
                    // // .ui.small.header username "#{username}" found
                .ui.divider
                a.ui.button(href='/login') 
                    // i.right.chevron.icon
                    +i name='internal' cl='ui avatar image'
                    |login